{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Offers",
    "version": "2026-04-24-preview",
    "description": "Microsoft.Offers Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ValueExchanges"
    },
    {
      "name": "Enumerations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Offers/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all operations supported by Microsoft.Offers": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Offers/enumerations/{enumerationType}": {
      "get": {
        "operationId": "Enumerations_Get",
        "tags": [
          "Enumerations"
        ],
        "description": "Get a single enumeration set by its type key (for example, `categories`).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "enumerationType",
            "in": "path",
            "description": "The enumeration type key (for example, `categories`, `productFamilies`, `claimTypes`).",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Enumeration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an enumeration set by its type key.": {
            "$ref": "./examples/Enumerations_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Offers/valueExchanges/{valueExchangeId}": {
      "get": {
        "operationId": "ValueExchanges_Get",
        "tags": [
          "ValueExchanges"
        ],
        "description": "Get a single value-exchange resource by its identifier. Returns the\ncanonical, stable, slim shape; the same response is returned for the\nsame id under one API version regardless of caller.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "valueExchangeId",
            "in": "path",
            "description": "The value-exchange identifier (BigCat UPN id, e.g. `DZH318Z0995B`).",
            "required": true,
            "type": "string",
            "pattern": "^[A-Z0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValueExchange"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a value-exchange (UPN) by its identifier.": {
            "$ref": "./examples/ValueExchanges_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Availability": {
      "type": "object",
      "description": "Availability information for a value exchange. PCD-faithful PascalCase.",
      "properties": {
        "AvailabilityId": {
          "type": "string",
          "description": "The stable availability identifier (typically equal to the value-exchange id)."
        },
        "Markets": {
          "type": "array",
          "description": "Markets in which this availability is offered (ISO 3166 country codes).",
          "items": {
            "type": "string"
          }
        },
        "ConsumptionUnitType": {
          "type": "string",
          "description": "Consumption unit type (for example, \"DAY\")."
        },
        "DisplayRank": {
          "type": "integer",
          "format": "int32",
          "description": "Display rank for ordering."
        },
        "AlternateIds": {
          "type": "array",
          "description": "Alternate identifiers.",
          "items": {
            "type": "string"
          }
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last modified date for the availability record."
        },
        "Conditions": {
          "$ref": "#/definitions/AvailabilityConditions",
          "description": "Conditions under which the availability applies."
        },
        "Terms": {
          "type": "array",
          "description": "Purchase terms offered by this availability.",
          "items": {
            "$ref": "#/definitions/AvailabilityTerm"
          },
          "x-ms-identifiers": [
            "TermId"
          ]
        },
        "SupportedLanguages": {
          "type": "array",
          "description": "Synthesized intersection of `Sku.MarketProperties` and `Av.Markets`.",
          "items": {
            "type": "string"
          }
        },
        "Meters": {
          "type": "array",
          "description": "Synthesized subset of `Sku.Properties.MeterData` filtered by `Av.Properties.MeterType`.",
          "items": {
            "$ref": "#/definitions/AvailabilityMeter"
          },
          "x-ms-identifiers": []
        },
        "Properties": {
          "$ref": "#/definitions/PcdPropertyBag",
          "description": "Curated PCD `Availability.Properties` subset (PascalCase keys verbatim)."
        }
      },
      "required": [
        "AvailabilityId"
      ]
    },
    "AvailabilityConditions": {
      "type": "object",
      "description": "Conditions under which the availability applies.",
      "properties": {
        "StartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Start date of the availability window."
        },
        "EndDate": {
          "type": "string",
          "format": "date-time",
          "description": "End date of the availability window. PCD sentinel `9999-...` is scrubbed to null."
        },
        "IsPermanent": {
          "type": "boolean",
          "description": "Whether the availability is permanent."
        },
        "SupportedCatalogVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Supported catalog version."
        },
        "ResourceSetIds": {
          "type": "array",
          "description": "Resource set identifiers.",
          "items": {
            "type": "string"
          }
        },
        "EligibilityPredicateIds": {
          "type": "array",
          "description": "Eligibility predicate identifiers.",
          "items": {
            "type": "string"
          }
        },
        "ClientConditions": {
          "$ref": "#/definitions/ClientConditions",
          "description": "Client-side conditions."
        }
      }
    },
    "AvailabilityMeter": {
      "type": "object",
      "description": "A meter bound to this value exchange (synthesized from `Sku.Properties.MeterData` filtered by `Av.Properties.MeterType`).",
      "additionalProperties": {}
    },
    "AvailabilityTerm": {
      "type": "object",
      "description": "A purchase term offered by an availability.",
      "properties": {
        "TermId": {
          "type": "string",
          "description": "The stable term identifier."
        },
        "TermUnits": {
          "type": "string",
          "description": "ISO-8601 duration for the term (for example, \"P1Y\")."
        },
        "TermDescription": {
          "type": "string",
          "description": "Human-readable term description."
        }
      }
    },
    "ClientConditions": {
      "type": "object",
      "description": "Client-side conditions for an availability.",
      "properties": {
        "AllowedPlatforms": {
          "type": "array",
          "description": "Allowed client platforms; empty list means no platform restriction.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Enumeration": {
      "type": "object",
      "description": "Enumeration resource.\n\nReturns one enumeration set (for example, `categories`, `productFamilies`,\n`claimTypes`) sourced from the BigCat enumeration and domain-data\ncontrollers. A single container resource type keeps new enumerations\nextensible without minting a new ARM type per enumeration.\n\nAddressed at\n`/subscriptions/{subscriptionId}/providers/Microsoft.Offers/enumerations/{enumerationType}`.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnumerationProperties",
          "description": "The properties of the enumeration resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EnumerationProperties": {
      "type": "object",
      "description": "Properties of an enumeration set returned by the enumerations endpoint.",
      "properties": {
        "enumerationType": {
          "type": "string",
          "description": "The enumeration type key (for example, \"categories\", \"productFamilies\", \"claimTypes\")."
        },
        "values": {
          "type": "array",
          "description": "The enumeration values. Shape is enumeration-specific; values are passed through verbatim from the upstream BigCat catalog feed.",
          "items": {}
        }
      },
      "required": [
        "enumerationType"
      ]
    },
    "PcdPropertyBag": {
      "type": "object",
      "description": "A curated PCD-faithful property bag. PascalCase keys; unbounded set.",
      "additionalProperties": {}
    },
    "Product": {
      "type": "object",
      "description": "Denormalized product summary for a value exchange. PCD-faithful PascalCase.",
      "properties": {
        "ProductId": {
          "type": "string",
          "description": "The stable product identifier."
        },
        "ProductFamily": {
          "type": "string",
          "description": "Product family (for example, \"Azure\")."
        },
        "ProductType": {
          "type": "string",
          "description": "Product type (for example, \"Azure\")."
        },
        "ProductKind": {
          "type": "string",
          "description": "Product kind (for example, \"Azure\")."
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last modified date for the product record."
        },
        "PublisherName": {
          "type": "string",
          "description": "Lifted single-language publisher name from PCD `LocalizedProperties[*].PublisherName`."
        },
        "Properties": {
          "$ref": "#/definitions/PcdPropertyBag",
          "description": "Curated PCD `Product.Properties` subset (PascalCase keys verbatim)."
        }
      },
      "required": [
        "ProductId"
      ]
    },
    "Sku": {
      "type": "object",
      "description": "Denormalized SKU summary for a value exchange. PCD-faithful PascalCase.",
      "properties": {
        "SkuId": {
          "type": "string",
          "description": "The stable SKU identifier."
        },
        "SkuType": {
          "type": "string",
          "description": "SKU type (for example, \"enterpriseonline\")."
        },
        "ProductId": {
          "type": "string",
          "description": "The product identifier this SKU belongs to."
        },
        "LastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last modified date for the SKU record."
        },
        "Properties": {
          "$ref": "#/definitions/PcdPropertyBag",
          "description": "Curated PCD `Sku.Properties` subset (PascalCase keys verbatim). Includes `PartnerChannelLifecycleState` and `DeactivatedLifeCycleState`."
        }
      },
      "required": [
        "SkuId"
      ]
    },
    "ValueExchange": {
      "type": "object",
      "description": "Value exchange (UPN) resource.\n\nA subscription-scoped, read-only proxy resource representing one\ntransactable value-exchange (BigCat UPN) in the Microsoft commercial\ncatalog. Returns the canonical, stable, slim VE shape; the same\n`valueExchangeId` returns the same response for all callers under one\nAPI version. No market/language/fragment inputs are accepted; for\nlocalized or market-specific content, use the hydrate action.\n\nAddressed at\n`/subscriptions/{subscriptionId}/providers/Microsoft.Offers/valueExchanges/{valueExchangeId}`.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ValueExchangeProperties",
          "description": "The properties of the value-exchange resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ValueExchangeProperties": {
      "type": "object",
      "description": "Properties of a value exchange (UPN). Wraps the denormalized PCD trio of\nProduct, Sku, and Availability. Slim shape: large blobs (raw MeterData,\nOrderManagementData, Passthrough sub-objects, CoSell, Attributes) are\ndropped here and live on the rich hydrate response.",
      "properties": {
        "Product": {
          "$ref": "#/definitions/Product",
          "description": "Denormalized product summary."
        },
        "Sku": {
          "$ref": "#/definitions/Sku",
          "description": "Denormalized SKU summary."
        },
        "Availability": {
          "$ref": "#/definitions/Availability",
          "description": "Availability information for this value exchange."
        }
      },
      "required": [
        "Product",
        "Sku",
        "Availability"
      ]
    }
  },
  "parameters": {}
}
