{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Offers",
    "version": "2026-04-24-preview",
    "description": "Microsoft.Offers Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ValueExchanges"
    },
    {
      "name": "Enumerations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Offers/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the Microsoft.Offers resource provider.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all operations supported by Microsoft.Offers": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Offers/enumerations": {
      "get": {
        "operationId": "Enumerations_ListBySubscription",
        "tags": [
          "Enumerations"
        ],
        "description": "List all enumeration sets in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnumerationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List enumeration sets in the subscription.": {
            "$ref": "./examples/Enumerations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Offers/enumerations/{enumerationType}": {
      "get": {
        "operationId": "Enumerations_Get",
        "tags": [
          "Enumerations"
        ],
        "description": "Get a single enumeration set by its type key (for example, `categories`).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "enumerationType",
            "in": "path",
            "description": "The enumeration type key (for example, `categories`, `productFamilies`, `claimTypes`).",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Enumeration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an enumeration set by its type key.": {
            "$ref": "./examples/Enumerations_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Offers/valueExchanges": {
      "get": {
        "operationId": "ValueExchanges_ListBySubscription",
        "tags": [
          "ValueExchanges"
        ],
        "description": "List all value-exchange catalog resources in the subscription. Paginated;\nfollow `nextLink` to enumerate the full catalog.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValueExchangeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List value-exchange (UPN) resources in the subscription.": {
            "$ref": "./examples/ValueExchanges_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Offers/valueExchanges/{valueExchangeId}": {
      "get": {
        "operationId": "ValueExchanges_Get",
        "tags": [
          "ValueExchanges"
        ],
        "description": "Get a single value-exchange resource by its identifier. Returns the\ncanonical, stable, slim shape; the same response is returned for the\nsame id under one API version regardless of caller.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "valueExchangeId",
            "in": "path",
            "description": "The value-exchange identifier (BigCat UPN id, e.g. `DZH318Z0995B`).",
            "required": true,
            "type": "string",
            "pattern": "^[A-Z0-9]{12}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValueExchange"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a value-exchange (UPN) by its identifier.": {
            "$ref": "./examples/ValueExchanges_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Availability": {
      "type": "object",
      "description": "Availability information for a value exchange.",
      "properties": {
        "availabilityId": {
          "type": "string",
          "description": "The stable availability identifier (typically equal to the value-exchange id)."
        },
        "markets": {
          "type": "array",
          "description": "Markets in which this availability is offered (ISO 3166 country codes).",
          "items": {
            "type": "string"
          }
        },
        "consumptionUnitType": {
          "type": "string",
          "description": "Consumption unit type (for example, \"DAY\")."
        },
        "displayRank": {
          "type": "integer",
          "format": "int32",
          "description": "Display rank for ordering."
        },
        "alternateIds": {
          "type": "array",
          "description": "Alternate identifiers.",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last modified date for the availability record."
        },
        "conditions": {
          "$ref": "#/definitions/AvailabilityConditions",
          "description": "Conditions under which the availability applies."
        },
        "terms": {
          "type": "array",
          "description": "Purchase terms offered by this availability.",
          "items": {
            "$ref": "#/definitions/AvailabilityTerm"
          },
          "x-ms-identifiers": [
            "termId"
          ]
        },
        "supportedLanguages": {
          "type": "array",
          "description": "Synthesized intersection of the SKU's market properties and the availability's markets.",
          "items": {
            "type": "string"
          }
        },
        "meters": {
          "type": "array",
          "description": "Synthesized subset of the SKU's meter data filtered by the availability's meter type.",
          "items": {
            "$ref": "#/definitions/AvailabilityMeter"
          },
          "x-ms-identifiers": []
        },
        "properties": {
          "$ref": "#/definitions/PcdPropertyBag",
          "description": "Curated availability property subset projected from the upstream catalog."
        }
      },
      "required": [
        "availabilityId"
      ]
    },
    "AvailabilityConditions": {
      "type": "object",
      "description": "Conditions under which the availability applies.",
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Start date of the availability window."
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "End date of the availability window. The upstream `9999-...` sentinel is scrubbed to null."
        },
        "isPermanent": {
          "type": "boolean",
          "description": "Whether the availability is permanent."
        },
        "supportedCatalogVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Supported catalog version."
        },
        "resourceSetIds": {
          "type": "array",
          "description": "Resource set identifiers.",
          "items": {
            "type": "string"
          }
        },
        "eligibilityPredicateIds": {
          "type": "array",
          "description": "Eligibility predicate identifiers.",
          "items": {
            "type": "string"
          }
        },
        "clientConditions": {
          "$ref": "#/definitions/ClientConditions",
          "description": "Client-side conditions."
        }
      }
    },
    "AvailabilityMeter": {
      "type": "object",
      "description": "A meter bound to this value exchange (synthesized from the upstream meter data, filtered by meter type).",
      "additionalProperties": {}
    },
    "AvailabilityTerm": {
      "type": "object",
      "description": "A purchase term offered by an availability.",
      "properties": {
        "termId": {
          "type": "string",
          "description": "The stable term identifier."
        },
        "termUnits": {
          "type": "string",
          "description": "ISO-8601 duration for the term (for example, \"P1Y\")."
        },
        "termDescription": {
          "type": "string",
          "description": "Human-readable term description."
        }
      }
    },
    "ClientConditions": {
      "type": "object",
      "description": "Client-side conditions for an availability.",
      "properties": {
        "allowedPlatforms": {
          "type": "array",
          "description": "Allowed client platforms; empty list means no platform restriction.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Enumeration": {
      "type": "object",
      "description": "Enumeration resource.\n\nReturns one enumeration set (for example, `categories`, `productFamilies`,\n`claimTypes`) sourced from the BigCat enumeration and domain-data\ncontrollers. A single container resource type keeps new enumerations\nextensible without minting a new ARM type per enumeration.\n\nAddressed at\n`/subscriptions/{subscriptionId}/providers/Microsoft.Offers/enumerations/{enumerationType}`.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnumerationProperties",
          "description": "The properties of the enumeration resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EnumerationListResult": {
      "type": "object",
      "description": "The response of a Enumeration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Enumeration items on this page",
          "items": {
            "$ref": "#/definitions/Enumeration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EnumerationProperties": {
      "type": "object",
      "description": "Properties of an enumeration set returned by the enumerations endpoint.",
      "properties": {
        "enumerationType": {
          "type": "string",
          "description": "The enumeration type key (for example, \"categories\", \"productFamilies\", \"claimTypes\")."
        },
        "values": {
          "type": "array",
          "description": "The enumeration values. Shape is enumeration-specific; values are passed through verbatim from the upstream BigCat catalog feed.",
          "items": {}
        }
      },
      "required": [
        "enumerationType"
      ]
    },
    "PcdPropertyBag": {
      "type": "object",
      "description": "A curated property bag projected from the upstream catalog. Unbounded key set.",
      "additionalProperties": {}
    },
    "Product": {
      "type": "object",
      "description": "Denormalized product summary for a value exchange.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The stable product identifier."
        },
        "productFamily": {
          "type": "string",
          "description": "Product family (for example, \"Azure\")."
        },
        "productType": {
          "type": "string",
          "description": "Product type (for example, \"Azure\")."
        },
        "productKind": {
          "type": "string",
          "description": "Product kind (for example, \"Azure\")."
        },
        "lastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last modified date for the product record."
        },
        "publisherName": {
          "type": "string",
          "description": "Lifted single-language publisher name from the upstream catalog feed."
        },
        "properties": {
          "$ref": "#/definitions/PcdPropertyBag",
          "description": "Curated product property subset projected from the upstream catalog."
        }
      },
      "required": [
        "productId"
      ]
    },
    "Sku": {
      "type": "object",
      "description": "Denormalized SKU summary for a value exchange.",
      "properties": {
        "skuId": {
          "type": "string",
          "description": "The stable SKU identifier."
        },
        "skuType": {
          "type": "string",
          "description": "SKU type (for example, \"enterpriseonline\")."
        },
        "productId": {
          "type": "string",
          "description": "The product identifier this SKU belongs to."
        },
        "lastModifiedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Last modified date for the SKU record."
        },
        "properties": {
          "$ref": "#/definitions/PcdPropertyBag",
          "description": "Curated SKU property subset projected from the upstream catalog. Includes partner channel and deactivated lifecycle state."
        }
      },
      "required": [
        "skuId"
      ]
    },
    "ValueExchange": {
      "type": "object",
      "description": "Value exchange (UPN) resource.\n\nA subscription-scoped, read-only proxy resource representing one\ntransactable value-exchange (BigCat UPN) in the Microsoft commercial\ncatalog. Returns the canonical, stable, slim VE shape; the same\n`valueExchangeId` returns the same response for all callers under one\nAPI version. No market/language/fragment inputs are accepted; for\nlocalized or market-specific content, use the hydrate action.\n\nAddressed at\n`/subscriptions/{subscriptionId}/providers/Microsoft.Offers/valueExchanges/{valueExchangeId}`.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ValueExchangeProperties",
          "description": "The properties of the value-exchange resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ValueExchangeListResult": {
      "type": "object",
      "description": "The response of a ValueExchange list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ValueExchange items on this page",
          "items": {
            "$ref": "#/definitions/ValueExchange"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ValueExchangeProperties": {
      "type": "object",
      "description": "Properties of a value exchange (UPN). Wraps the denormalized trio of\nProduct, Sku, and Availability. Slim shape: large blobs (raw meter data,\norder management data, passthrough sub-objects, co-sell, attributes) are\ndropped here and live on the rich hydrate response.",
      "properties": {
        "product": {
          "$ref": "#/definitions/Product",
          "description": "Denormalized product summary."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "Denormalized SKU summary."
        },
        "availability": {
          "$ref": "#/definitions/Availability",
          "description": "Availability information for this value exchange."
        }
      },
      "required": [
        "product",
        "sku",
        "availability"
      ]
    }
  },
  "parameters": {}
}
