{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PowerPlatform management service",
    "version": "2026-04-01-preview",
    "description": "Microsoft.PowerPlatform Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "EnvironmentGroupRules"
    }
  ],
  "paths": {
    "/providers/Microsoft.PowerPlatform/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerPlatform/environmentGroups/{environmentGroupId}/rules": {
      "get": {
        "operationId": "EnvironmentGroupRules_ListByEnvironmentGroup",
        "tags": [
          "EnvironmentGroupRules"
        ],
        "description": "List all rules for an environment group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentGroupId",
            "in": "path",
            "description": "The environment group identifier.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroupRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List rules for an environment group": {
            "$ref": "./examples/EnvironmentGroupRules_ListByEnvironmentGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerPlatform/environmentGroups/{environmentGroupId}/rules/{ruleSetId}": {
      "get": {
        "operationId": "EnvironmentGroupRules_Get",
        "tags": [
          "EnvironmentGroupRules"
        ],
        "description": "Get a specific rule for an environment group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "environmentGroupId",
            "in": "path",
            "description": "The environment group identifier.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,128}$"
          },
          {
            "name": "ruleSetId",
            "in": "path",
            "description": "The rule set identifier.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_]{1,256}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentGroupRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an environment group rule": {
            "$ref": "./examples/EnvironmentGroupRules_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "EnvironmentGroup": {
      "type": "object",
      "description": "An environment group resource (parent resource for rules).",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnvironmentGroupProperties",
          "description": "The properties of the environment group."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EnvironmentGroupProperties": {
      "type": "object",
      "description": "Properties of an environment group.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      }
    },
    "EnvironmentGroupRule": {
      "type": "object",
      "description": "A governance rule assigned to an environment group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnvironmentGroupRuleProperties",
          "description": "The properties of the environment group rule."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EnvironmentGroupRuleListResult": {
      "type": "object",
      "description": "The response of a EnvironmentGroupRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EnvironmentGroupRule items on this page",
          "items": {
            "$ref": "#/definitions/EnvironmentGroupRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EnvironmentGroupRuleProperties": {
      "type": "object",
      "description": "Properties of an environment group rule.",
      "properties": {
        "environmentGroupId": {
          "type": "string",
          "description": "The environment group identifier."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant identifier."
        },
        "policyId": {
          "type": "string",
          "description": "The RuleBasedPolicy identifier that contains this rule."
        },
        "ruleSetId": {
          "type": "string",
          "description": "The rule set identifier (e.g., ConnectorManagement, IPFirewallSettings)."
        },
        "ruleSetVersion": {
          "type": "string",
          "description": "The rule set version (e.g., 1.0)."
        },
        "ruleSetType": {
          "$ref": "#/definitions/RuleSetType",
          "description": "The type of the rule set — Governing for enforcement, Configuration for property propagation."
        },
        "configured": {
          "type": "boolean",
          "description": "Indicates whether the rule is present in the group's policy."
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether the rule's primary toggle is on."
        },
        "sourceType": {
          "$ref": "#/definitions/SourceType",
          "description": "The source type of the rule assignment."
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "description": "The last time this rule configuration was modified."
        },
        "inputSize": {
          "type": "integer",
          "format": "int32",
          "description": "Count of items in rule inputs — connectors, IP ranges, URL rules, etc.",
          "minimum": 0
        },
        "inputSummary": {
          "type": "string",
          "description": "A human-readable summary of the rule configuration.",
          "maxLength": 1024
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "environmentGroupId",
        "tenantId",
        "policyId",
        "ruleSetId",
        "ruleSetVersion",
        "ruleSetType",
        "configured",
        "enabled",
        "sourceType",
        "lastModified",
        "inputSize",
        "inputSummary"
      ]
    },
    "RuleSetType": {
      "type": "string",
      "description": "The type of the rule set.",
      "enum": [
        "Governing",
        "Configuration"
      ],
      "x-ms-enum": {
        "name": "RuleSetType",
        "modelAsString": true,
        "values": [
          {
            "name": "Governing",
            "value": "Governing",
            "description": "Governing rules that enforce policies through dynamic evaluation."
          },
          {
            "name": "Configuration",
            "value": "Configuration",
            "description": "Configuration rules that propagate settings to environments."
          }
        ]
      }
    },
    "SourceType": {
      "type": "string",
      "description": "The source type of the rule assignment.",
      "enum": [
        "EnvironmentGroup",
        "Tenant"
      ],
      "x-ms-enum": {
        "name": "SourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "EnvironmentGroup",
            "value": "EnvironmentGroup",
            "description": "Rule is assigned at the environment group level."
          },
          {
            "name": "Tenant",
            "value": "Tenant",
            "description": "Rule is assigned at the tenant level."
          }
        ]
      }
    }
  },
  "parameters": {}
}
