{
  "swagger": "2.0",
  "info": {
    "title": "Open Energy Platform Management Service APIs",
    "version": "2026-07-21-preview",
    "description": "Open Energy Platform Management Service APIs",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "EnergyServices"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "PrivateLinkResources"
    },
    {
      "name": "PrivateEndpointConnectionProxies"
    },
    {
      "name": "LocationsOperationGroup"
    }
  ],
  "paths": {
    "/providers/Microsoft.OpenEnergyPlatform/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OpenEnergyPlatform/checkNameAvailability": {
      "post": {
        "operationId": "Locations_CheckNameAvailability",
        "tags": [
          "LocationsOperationGroup"
        ],
        "description": "Checks the name availability of the resource with requested resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Locations_CheckNameAvailability_MaximumSet_Gen": {
            "$ref": "./examples/Locations_CheckNameAvailability_MaximumSet_Gen.json"
          },
          "Locations_CheckNameAvailability_MinimumSet_Gen": {
            "$ref": "./examples/Locations_CheckNameAvailability_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OpenEnergyPlatform/energyServices": {
      "get": {
        "operationId": "EnergyServices_ListBySubscription",
        "tags": [
          "EnergyServices"
        ],
        "description": "Lists a collection of oep resources under the given Azure Subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnergyServiceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_ListBySubscription_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices": {
      "get": {
        "operationId": "EnergyServices_ListByResourceGroup",
        "tags": [
          "EnergyServices"
        ],
        "description": "Returns list of oep resources..",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnergyServiceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_ListByResourceGroup_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}": {
      "get": {
        "operationId": "EnergyServices_Get",
        "tags": [
          "EnergyServices"
        ],
        "description": "Returns oep resource for a given name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnergyService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "EnergyServices_Create",
        "tags": [
          "EnergyServices"
        ],
        "description": "Method that gets called if subscribed for ResourceCreationBegin trigger.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnergyService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EnergyService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EnergyService"
            }
          },
          "201": {
            "description": "Resource 'EnergyService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EnergyService"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_Create_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/EnergyService"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EnergyServices_Update",
        "tags": [
          "EnergyServices"
        ],
        "description": "Updates the oep resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Energy Resource Update definition",
            "required": false,
            "schema": {
              "$ref": "#/definitions/EnergyResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnergyService"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/EnergyService"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_Update_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/EnergyService"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "EnergyServices_Delete",
        "tags": [
          "EnergyServices"
        ],
        "description": "Deletes oep resource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_Delete": {
            "$ref": "./examples/EnergyServices_Delete_MinimumSet_Gen.json"
          },
          "EnergyServices_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/addPartition": {
      "post": {
        "operationId": "EnergyServices_AddPartition",
        "tags": [
          "EnergyServices"
        ],
        "description": "Method that gets called if new partition is to be added in a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "add partition action payload",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DataPartitionAddOrRemoveRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/DataPartitionAddOrRemoveRequest"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_AddPartition": {
            "$ref": "./examples/EnergyServices_AddPartition_MinimumSet_Gen.json"
          },
          "EnergyServices_AddPartition_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_AddPartition_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/listPartitions": {
      "post": {
        "operationId": "EnergyServices_ListPartitions",
        "tags": [
          "EnergyServices"
        ],
        "description": "Method that gets called when list of partitions is requested.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataPartitionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_ListPartitions": {
            "$ref": "./examples/EnergyServices_ListPartitions_MinimumSet_Gen.json"
          },
          "EnergyServices_ListPartitions_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_ListPartitions_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/markReadyForUpgrade": {
      "post": {
        "operationId": "EnergyServices_MarkReadyForUpgrade",
        "tags": [
          "EnergyServices"
        ],
        "description": "Marks an energy services resource as ready for upgrade during a milestone testing period.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_MarkReadyForUpgrade_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_MarkReadyForUpgrade_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/privateEndpointConnectionProxies": {
      "get": {
        "operationId": "PrivateEndpointConnectionProxies_ListByOAKInstance",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) List all private endpoint connection proxies in a ADME instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxies_ListByOAKInstance": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_ListByOAKInstance_MinimumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxies_ListByOAKInstance_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_ListByOAKInstance_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyId}": {
      "get": {
        "operationId": "PrivateEndpointConnectionProxies_Get",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) Get the specified private endpoint connection proxy associated with the ADME Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "privateEndpointConnectionProxyId",
            "in": "path",
            "description": "The ID of the private endpoint connection proxy object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxies_Get": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Get_MinimumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxies_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnectionProxies_CreateOrUpdate",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) Creates or updates the specified private endpoint connection proxy resource associated with the ADME instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "privateEndpointConnectionProxyId",
            "in": "path",
            "description": "The ID of the private endpoint connection proxy object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionProxy",
            "in": "body",
            "description": "The parameters for creating a private endpoint connection proxy.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnectionProxy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnectionProxy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxies_CreateOrUpdate": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_CreateOrUpdate_MinimumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxies_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/PrivateEndpointConnectionProxy"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnectionProxies_Delete",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) Deletes the specified private endpoint connection proxy associated with the ADME Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "privateEndpointConnectionProxyId",
            "in": "path",
            "description": "The ID of the private endpoint connection proxy object.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxies_Delete": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Delete_MinimumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxies_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyId}/validate": {
      "post": {
        "operationId": "PrivateEndpointConnectionProxies_Validate",
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "description": "(INTERNAL - DO NOT USE) Validates a private endpoint connection proxy object.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "privateEndpointConnectionProxyId",
            "in": "path",
            "description": "The ID of the private endpoint connection proxy object.",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnectionProxy",
            "in": "body",
            "description": "The parameters for creating a private endpoint connection proxy.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxies_Validate": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Validate_MinimumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxies_Validate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Validate_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnections_ListByOAKInstance",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "List all private endpoint connections in a ADME instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_ListByOAKInstance": {
            "$ref": "./examples/PrivateEndpointConnections_ListByOAKInstance_MinimumSet_Gen.json"
          },
          "PrivateEndpointConnections_ListByOAKInstance_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateEndpointConnections_ListByOAKInstance_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnections_Get",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Get the specified private endpoint connection associated with the ADME Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Get": {
            "$ref": "./examples/PrivateEndpointConnections_Get_MinimumSet_Gen.json"
          },
          "PrivateEndpointConnections_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateEndpointConnections_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the ADME Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "privateEndpointConnection",
            "in": "body",
            "description": "The parameters for creating a private endpoint connection.",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_CreateOrUpdate": {
            "$ref": "./examples/PrivateEndpointConnections_CreateOrUpdate_MinimumSet_Gen.json"
          },
          "PrivateEndpointConnections_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateEndpointConnections_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri",
          "final-state-schema": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnections_Delete",
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the ADME Instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Delete": {
            "$ref": "./examples/PrivateEndpointConnections_Delete_MinimumSet_Gen.json"
          },
          "PrivateEndpointConnections_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateEndpointConnections_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResources_ListByOAKInstance",
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "List all private link resources in a ADME instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_ListByOAKInstance": {
            "$ref": "./examples/PrivateLinkResources_ListByOAKInstance_MinimumSet_Gen.json"
          },
          "PrivateLinkResources_ListByOAKInstance_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateLinkResources_ListByOAKInstance_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/privateLinkResources/{groupId}": {
      "get": {
        "operationId": "PrivateLinkResources_Get",
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Get the specified private link resource associated with the ADME instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID of the private link resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GroupInformation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/PrivateLinkResources_Get_MaximumSet_Gen.json"
          },
          "PrivateLinkResources_Get_MinimumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/PrivateLinkResources_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/removePartition": {
      "post": {
        "operationId": "EnergyServices_RemovePartition",
        "tags": [
          "EnergyServices"
        ],
        "description": "Method that gets called if new partition is to be removed from a resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 15,
            "pattern": "^[a-zA-Z0-9]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "remove partition action payload",
            "required": false,
            "schema": {
              "$ref": "#/definitions/DataPartitionAddOrRemoveRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/DataPartitionAddOrRemoveRequest"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EnergyServices_RemovePartition": {
            "$ref": "./examples/EnergyServices_RemovePartition_MinimumSet_Gen.json"
          },
          "EnergyServices_RemovePartition_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/EnergyServices_RemovePartition_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Acz": {
      "type": "object",
      "description": "Properties to configure ACZ.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/AczIdentity",
          "description": "The identity used to access ACZ."
        }
      }
    },
    "AczIdentity": {
      "type": "object",
      "description": "The identity used to access ACZ.",
      "properties": {
        "identityType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity used for accessing ACZ. Possible values include: 'SystemAssigned', 'UserAssigned'"
        },
        "userAssignedIdentityId": {
          "type": "string",
          "description": "The user assigned identity (ARM resource id) that has access to ACZ. This property is required if identityType is 'UserAssigned'."
        }
      }
    },
    "AddOnPackageName": {
      "type": "string",
      "description": "Name of the add-on package.",
      "enum": [
        "Enterprise",
        "Analytics"
      ],
      "x-ms-enum": {
        "name": "AddOnPackageName",
        "modelAsString": true,
        "values": [
          {
            "name": "Enterprise",
            "value": "Enterprise",
            "description": "Enterprise add-on package."
          },
          {
            "name": "Analytics",
            "value": "Analytics",
            "description": "Analytics add-on package."
          }
        ]
      }
    },
    "BackupAndRestore": {
      "type": "string",
      "description": "Specifies whether backup and restore is enabled or disabled for the energy service.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "BackupAndRestore",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Backup and restore is enabled for the energy service."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Backup and restore is disabled for the energy service."
          }
        ]
      }
    },
    "ConnectionDetails": {
      "type": "object",
      "description": "Private endpoint connection proxy object properties.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Connection details ID."
        },
        "privateIpAddress": {
          "type": "string",
          "description": "Private IP address."
        },
        "linkIdentifier": {
          "type": "string",
          "description": "Link ID."
        },
        "groupId": {
          "type": "string",
          "description": "Group ID."
        },
        "memberName": {
          "type": "string",
          "description": "Member name."
        }
      }
    },
    "CorsRulesList": {
      "type": "object",
      "description": "List of cors rules",
      "properties": {
        "allowedHeaders": {
          "type": "array",
          "description": "List of allowed headers",
          "items": {
            "type": "string"
          }
        },
        "allowedMethods": {
          "type": "array",
          "description": "List of allowed HTTP methods",
          "items": {
            "$ref": "#/definitions/allowedMethods"
          }
        },
        "allowedOrigins": {
          "type": "array",
          "description": "List of allowed origin endpoints",
          "items": {
            "type": "string"
          }
        },
        "exposedHeaders": {
          "type": "array",
          "description": "List of exposed headers",
          "items": {
            "type": "string"
          }
        },
        "maxAgeInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Max amount of time that a browser than cache the preflight OPTIONS request",
          "minimum": 0
        }
      }
    },
    "DataPartitionAddOrRemoveRequest": {
      "type": "object",
      "description": "Defines the partition add/ delete action properties.",
      "properties": {
        "name": {
          "$ref": "#/definitions/DataPartitionNames",
          "description": "The list of Energy services resource's Data Partition Names."
        }
      }
    },
    "DataPartitionNames": {
      "type": "object",
      "description": "The list of Energy services resource's Data Partition Names.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Data partition name."
        }
      }
    },
    "DataPartitionProperties": {
      "type": "object",
      "description": "Defines the properties of an individual data partition.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the data partition"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the data partition resource.",
          "readOnly": true
        }
      }
    },
    "DataPartitionsListResult": {
      "type": "object",
      "description": "List of data partitions.",
      "properties": {
        "dataPartitionInfo": {
          "type": "array",
          "description": "List of data partitions along with their properties in a given OEP resource.",
          "items": {
            "$ref": "#/definitions/DataPartitionProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Eds": {
      "type": "object",
      "description": "Properties to configure EDS",
      "properties": {
        "keyVaultProperties": {
          "$ref": "#/definitions/EdsKeyVaultProperties",
          "description": "Properties of KeyVault",
          "x-ms-client-name": "EdsKeyVaultProperties"
        }
      }
    },
    "EdsKeyVaultProperties": {
      "type": "object",
      "description": "Properties of KeyVault",
      "properties": {
        "keyVaultUri": {
          "type": "string",
          "description": "The Uri of the key vault.",
          "x-ms-client-name": "KeyVaultUri"
        },
        "identity": {
          "$ref": "#/definitions/EdsKeyVaultPropertiesIdentity",
          "description": "The identity used to access the key vault."
        }
      },
      "required": [
        "keyVaultUri",
        "identity"
      ]
    },
    "EdsKeyVaultPropertiesIdentity": {
      "type": "object",
      "description": "The identity used to access the key vault.",
      "properties": {
        "identityType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity used for accessing the keyvault. Possible values include: 'SystemAssigned', 'UserAssigned'"
        },
        "userAssignedIdentityId": {
          "type": "string",
          "description": "The user assigned identity (ARM resource id) that has access to the key. This property is required if identityType is 'UserAssigned'.",
          "x-ms-client-name": "UserAssignedIdentity"
        }
      }
    },
    "Encryption": {
      "type": "object",
      "description": "Properties to configure Encryption",
      "properties": {
        "keyVaultProperties": {
          "$ref": "#/definitions/KeyVaultProperties",
          "description": "Properties of KeyVault",
          "x-ms-client-name": "KeyVaultProperties"
        },
        "keySource": {
          "type": "string",
          "description": "The encryption keySource (provider). Possible values (case-insensitive):  Microsoft.Keyvault",
          "default": "Microsoft.Keyvault",
          "enum": [
            "Microsoft.Keyvault"
          ],
          "x-ms-enum": {
            "name": "keySource",
            "modelAsString": true,
            "values": [
              {
                "name": "Microsoft.Keyvault",
                "value": "Microsoft.Keyvault",
                "description": "Use Microsoft Key Vault as the key provider for encryption."
              }
            ]
          }
        }
      }
    },
    "EnergyResourceUpdate": {
      "type": "object",
      "description": "The resource model definition used for updating a tracked ARM resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnergyServiceUpdateProperties",
          "description": "The properties of an Energy service resource patch."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The type of identity used for the resource."
        }
      }
    },
    "EnergyService": {
      "type": "object",
      "description": "An Energy service resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnergyServiceProperties",
          "description": "The properties of an Energy service resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EnergyServiceList": {
      "type": "object",
      "description": "The list of oep resources.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EnergyService items on this page",
          "items": {
            "$ref": "#/definitions/EnergyService"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EnergyServiceProperties": {
      "type": "object",
      "description": "The properties of an Energy service resource.",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "DNS name of the ADME service.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "authAppId": {
          "type": "string",
          "description": "App ID of the application used for authentication."
        },
        "dataPartitionNames": {
          "type": "array",
          "description": "Data partition names.",
          "items": {
            "$ref": "#/definitions/DataPartitionNames"
          },
          "x-ms-identifiers": []
        },
        "encryption": {
          "$ref": "#/definitions/Encryption",
          "description": "Properties to configure Encryption"
        },
        "eds": {
          "$ref": "#/definitions/Eds",
          "description": "Properties to configure EDS"
        },
        "acz": {
          "$ref": "#/definitions/Acz",
          "description": "Properties to configure ACZ."
        },
        "publicNetworkAccess": {
          "type": "string",
          "description": "Whether or not public network access is allowed for the ADME resource.",
          "default": "Enabled",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "PublicNetworkAccess",
            "modelAsString": true,
            "values": [
              {
                "name": "Enabled",
                "value": "Enabled",
                "description": "Public network access is allowed for the resource."
              },
              {
                "name": "Disabled",
                "value": "Disabled",
                "description": "Public network access is denied; the resource is reachable only via private endpoints."
              }
            ]
          }
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of private endpoint connections associated with the ADME resource.",
          "items": {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
          }
        },
        "corsRules": {
          "type": "array",
          "description": "List of cors rules",
          "items": {
            "$ref": "#/definitions/CorsRulesList"
          },
          "x-ms-identifiers": []
        },
        "sku": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Sku",
          "description": "The resource model definition representing SKU"
        },
        "geoRedundancy": {
          "$ref": "#/definitions/GeoRedundancy",
          "description": "Specifies whether geo-redundancy is enabled or disabled for the energy service."
        },
        "backupAndRestore": {
          "$ref": "#/definitions/BackupAndRestore",
          "description": "Specifies whether backup and restore is enabled or disabled for the energy service."
        },
        "referenceData": {
          "$ref": "#/definitions/ReferenceDataProperties",
          "description": "Defines the properties related to reference data ingestion."
        },
        "milestoneVersion": {
          "type": "string",
          "description": "The milestone version of the service.",
          "readOnly": true
        },
        "upgradeSettings": {
          "$ref": "#/definitions/UpgradeSettings",
          "description": "The upgrade settings for the energy services instance."
        },
        "addOnPackages": {
          "type": "array",
          "description": "List of add-on packages to be enabled for the energy service. Packages not included in the list will be considered for removal.",
          "items": {
            "$ref": "#/definitions/AddOnPackageName"
          }
        }
      },
      "required": [
        "authAppId",
        "dataPartitionNames",
        "sku"
      ]
    },
    "EnergyServiceUpdateProperties": {
      "type": "object",
      "description": "The properties of an Energy service resource patch.",
      "properties": {
        "encryption": {
          "$ref": "#/definitions/Encryption",
          "description": "Properties to configure Encryption"
        },
        "sku": {
          "$ref": "#/definitions/SkuUpdate",
          "description": "The SKU of the energy service. Only the capacity can be updated."
        },
        "geoRedundancy": {
          "$ref": "#/definitions/GeoRedundancy",
          "description": "Specifies whether geo-redundancy is enabled or disabled for the energy service."
        },
        "backupAndRestore": {
          "$ref": "#/definitions/BackupAndRestore",
          "description": "Specifies whether backup and restore is enabled or disabled for the energy service."
        },
        "acz": {
          "$ref": "#/definitions/Acz",
          "description": "Properties to configure ACZ."
        },
        "eds": {
          "$ref": "#/definitions/Eds",
          "description": "Properties to configure EDS"
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Whether or not public network access is allowed for the ADME resource."
        },
        "corsRules": {
          "type": "array",
          "description": "List of cors rules",
          "items": {
            "$ref": "#/definitions/CorsRulesList"
          },
          "x-ms-identifiers": []
        },
        "upgradeSettings": {
          "$ref": "#/definitions/UpgradeSettings",
          "description": "The upgrade settings for the energy services instance."
        },
        "addOnPackages": {
          "type": "array",
          "description": "List of add-on packages to be enabled for the energy service. Packages not included in the list will be considered for removal.",
          "items": {
            "$ref": "#/definitions/AddOnPackageName"
          }
        }
      }
    },
    "GeoRedundancy": {
      "type": "string",
      "description": "Specifies whether geo-redundancy is enabled or disabled for the energy service.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "GeoRedundancy",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Geo-redundancy is enabled for the energy service, providing data replication across regions."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Geo-redundancy is disabled for the energy service."
          }
        ]
      }
    },
    "GroupConnectivityInformation": {
      "type": "object",
      "description": "Group connectivity details.",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "Group ID."
        },
        "memberName": {
          "type": "string",
          "description": "Member name."
        },
        "customerVisibleFqdns": {
          "type": "array",
          "description": "List of customer visible FQDNs.",
          "items": {
            "type": "string"
          }
        },
        "internalFqdn": {
          "type": "string",
          "description": "Internal FQDN."
        },
        "redirectMapId": {
          "type": "string",
          "description": "Redirect map ID."
        },
        "privateLinkServiceArmRegion": {
          "type": "string",
          "description": "PrivateLinkService ARM region."
        }
      }
    },
    "GroupIdProvisioningState": {
      "type": "string",
      "description": "The provisioning state of private link group ID.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "GroupIdProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The private link group ID has been successfully provisioned."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Provisioning of the private link group ID failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Provisioning of the private link group ID was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "GroupInformation": {
      "type": "object",
      "description": "The group information for creating a private endpoint on an Account",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GroupInformationProperties",
          "description": "The properties for a group information object"
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GroupInformationProperties": {
      "type": "object",
      "description": "The properties for a group information object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/GroupIdProvisioningState",
          "description": "The provisioning state of private link group ID.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkResourceProperties"
        }
      ]
    },
    "IdentityType": {
      "type": "string",
      "description": "The type of identity used for accessing the keyvault. Possible values include: 'SystemAssigned', 'UserAssigned'",
      "enum": [
        "SystemAssigned",
        "UserAssigned"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": false,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "Use an implicitly created system assigned managed identity to access the specified key vault."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "Use a user-specified identity to access the specified key vault."
          }
        ]
      }
    },
    "KeyVaultProperties": {
      "type": "object",
      "description": "Properties of KeyVault",
      "properties": {
        "keyName": {
          "type": "string",
          "description": "The name of the key vault key.",
          "x-ms-client-name": "KeyName"
        },
        "keyVersion": {
          "type": "string",
          "description": "The version of the key vault key.",
          "x-ms-client-name": "KeyVersion"
        },
        "keyVaultUri": {
          "type": "string",
          "description": "The Uri of the key vault.",
          "x-ms-client-name": "KeyVaultUri"
        },
        "userIdentity": {
          "type": "string",
          "description": "The user assigned identity (ARM resource id) that has access to the key.",
          "x-ms-client-name": "UserIdentity"
        }
      },
      "required": [
        "keyName",
        "keyVaultUri"
      ]
    },
    "PrivateEndpointConnectionProxy": {
      "type": "object",
      "description": "Private endpoint connection proxy details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProxyProperties",
          "description": "Private endpoint connection proxy object property bag."
        },
        "eTag": {
          "type": "string",
          "description": "ETag from NRP."
        },
        "remotePrivateEndpoint": {
          "$ref": "#/definitions/RemotePrivateEndpoint",
          "description": "Remote private endpoint details."
        },
        "status": {
          "type": "string",
          "description": "Operation status."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateEndpointConnectionProxyListResult": {
      "type": "object",
      "description": "The response of a PrivateEndpointConnectionProxy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateEndpointConnectionProxy items on this page",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnectionProxy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateEndpointConnectionProxyProperties": {
      "type": "object",
      "description": "Private endpoint connection proxy object properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/PrivateEndpointConnectionProxyProvisioningState",
          "description": "The provisioning state of the private endpoint connection proxy resource.",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionProxyProvisioningState": {
      "type": "string",
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Creating",
        "Deleting",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointConnectionProxyProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The private endpoint connection proxy has been successfully provisioned."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The private endpoint connection proxy is being created."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The private endpoint connection proxy is being deleted."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Provisioning of the private endpoint connection proxy failed."
          }
        ]
      },
      "readOnly": true
    },
    "PrivateLinkResourceListResult": {
      "type": "object",
      "description": "The available private link resources for an Account",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of available private link resources for an Account",
          "items": {
            "$ref": "#/definitions/GroupInformation"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI that can be used to request the next list of private link resources."
        }
      }
    },
    "PrivateLinkServiceConnection": {
      "type": "object",
      "description": "Private link service connection details.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Private link service connection name."
        },
        "groupIds": {
          "type": "array",
          "description": "List of group IDs.",
          "items": {
            "type": "string"
          }
        },
        "requestMessage": {
          "type": "string",
          "description": "Request message."
        }
      }
    },
    "PrivateLinkServiceProxy": {
      "type": "object",
      "description": "Private link service proxy details.",
      "properties": {
        "id": {
          "type": "string",
          "description": "NRP resource ID."
        },
        "remotePrivateLinkServiceConnectionState": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkServiceConnectionState",
          "description": "Remote private link service connection state"
        },
        "remotePrivateEndpointConnection": {
          "$ref": "#/definitions/RemotePrivateEndpointConnection",
          "description": "Remote private endpoint connection details."
        },
        "groupConnectivityInformation": {
          "type": "array",
          "description": "Group connectivity information.",
          "items": {
            "$ref": "#/definitions/GroupConnectivityInformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The provisioning state is unknown."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource has been successfully provisioned."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource provisioning has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource provisioning was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          }
        ]
      },
      "readOnly": true
    },
    "PublicNetworkAccess": {
      "type": "string",
      "description": "Whether or not public network access is allowed for the ADME resource.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Public network access is allowed for the resource."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Public network access is denied; the resource is reachable only via private endpoints."
          }
        ]
      }
    },
    "ReferenceDataProperties": {
      "type": "object",
      "description": "Defines the properties related to reference data ingestion.",
      "properties": {
        "ingestion": {
          "type": "string",
          "description": "Ingestion method for reference data",
          "default": "All",
          "enum": [
            "All",
            "NonLocal"
          ],
          "x-ms-enum": {
            "name": "Ingestion",
            "modelAsString": true,
            "values": [
              {
                "name": "All",
                "value": "All",
                "description": "Ingest all available reference data values, including the FIXED, OPEN, and LOCAL data sets. Use this option when you want a complete set of reference data values ingested to each data partition"
              },
              {
                "name": "NonLocal",
                "value": "NonLocal",
                "description": "Ingest reference data values, excluding the LOCAL data set. Use this option when you want only the FIXED and OPEN reference data values ingested to each data partition."
              }
            ]
          }
        }
      }
    },
    "RemotePrivateEndpoint": {
      "type": "object",
      "description": "Remote private endpoint details.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Remote endpoint resource ID."
        },
        "location": {
          "type": "string",
          "description": "ARM location of the remote private endpoint."
        },
        "immutableSubscriptionId": {
          "type": "string",
          "description": "Original subscription ID needed by Microsoft.Network."
        },
        "immutableResourceId": {
          "type": "string",
          "description": "Original resource ID needed by Microsoft.Network."
        },
        "vnetTrafficTag": {
          "type": "string",
          "description": "Virtual network traffic tag."
        },
        "manualPrivateLinkServiceConnections": {
          "type": "array",
          "description": "List of private link service connections that need manual approval.",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          },
          "x-ms-identifiers": []
        },
        "privateLinkServiceConnections": {
          "type": "array",
          "description": "List of automatically approved private link service connections.",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          },
          "x-ms-identifiers": []
        },
        "privateLinkServiceProxies": {
          "type": "array",
          "description": "List of private link service proxies.",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceProxy"
          }
        },
        "connectionDetails": {
          "type": "array",
          "description": "List of connection details.",
          "items": {
            "$ref": "#/definitions/ConnectionDetails"
          }
        }
      }
    },
    "RemotePrivateEndpointConnection": {
      "type": "object",
      "description": "Remote private endpoint connection details.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Remote private endpoint connection ID."
        }
      }
    },
    "SkuUpdate": {
      "type": "object",
      "description": "The SKU update definition for the energy service. Only the capacity is updatable.",
      "properties": {
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The scale capacity for the energy service. Must be a power of 2 between 2 and 128 (applicable for Flex SKU).",
          "minimum": 2,
          "maximum": 128
        }
      }
    },
    "UpgradeSettings": {
      "type": "object",
      "description": "The upgrade settings for the energy services instance.",
      "properties": {
        "upgradePolicy": {
          "type": "string",
          "description": "Specifies the upgrade policy for the service during milestone upgrade periods.",
          "default": "Automatic",
          "enum": [
            "Automatic",
            "Deferred"
          ],
          "x-ms-enum": {
            "name": "UpgradePolicy",
            "modelAsString": true,
            "values": [
              {
                "name": "Automatic",
                "value": "Automatic",
                "description": "The service will be automatically upgraded during the major upgrade window."
              },
              {
                "name": "Deferred",
                "value": "Deferred",
                "description": "Major upgrades are deferred by 30 days."
              }
            ]
          }
        },
        "readyForUpgrade": {
          "type": "string",
          "description": "Indicates the readiness status of the instance for upgrade.",
          "default": "NotApplicable",
          "enum": [
            "NotApplicable",
            "Ready",
            "NotReady"
          ],
          "x-ms-enum": {
            "name": "readyForUpgrade",
            "modelAsString": true,
            "values": [
              {
                "name": "NotApplicable",
                "value": "NotApplicable",
                "description": "Upgrade readiness is not applicable because the upgradePolicy is set to Automatic."
              },
              {
                "name": "Ready",
                "value": "Ready",
                "description": "The service has been marked as ready for upgrade. Only valid when upgradePolicy is Deferred."
              },
              {
                "name": "NotReady",
                "value": "NotReady",
                "description": "The service is not ready for upgrade. Default state when upgradePolicy is Deferred."
              }
            ]
          }
        },
        "autoUpgradeAfterDate": {
          "type": "string",
          "format": "date",
          "description": "The date after which the instance will be automatically upgraded if it doesn't get marked as ready for upgrade.",
          "readOnly": true
        }
      }
    },
    "allowedMethods": {
      "type": "string",
      "description": "Allowed HTTP methods.",
      "enum": [
        "DELETE",
        "GET",
        "HEAD",
        "MERGE",
        "POST",
        "OPTIONS",
        "PUT",
        "PATCH"
      ],
      "x-ms-enum": {
        "name": "allowedMethods",
        "modelAsString": true,
        "values": [
          {
            "name": "DELETE",
            "value": "DELETE",
            "description": "Allow HTTP DELETE requests."
          },
          {
            "name": "GET",
            "value": "GET",
            "description": "Allow HTTP GET requests."
          },
          {
            "name": "HEAD",
            "value": "HEAD",
            "description": "Allow HTTP HEAD requests."
          },
          {
            "name": "MERGE",
            "value": "MERGE",
            "description": "Allow HTTP MERGE requests."
          },
          {
            "name": "POST",
            "value": "POST",
            "description": "Allow HTTP POST requests."
          },
          {
            "name": "OPTIONS",
            "value": "OPTIONS",
            "description": "Allow HTTP OPTIONS requests."
          },
          {
            "name": "PUT",
            "value": "PUT",
            "description": "Allow HTTP PUT requests."
          },
          {
            "name": "PATCH",
            "value": "PATCH",
            "description": "Allow HTTP PATCH requests."
          }
        ]
      }
    }
  },
  "parameters": {}
}
