{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.EdgeOperator - Azure Local Disconnected Operations billing management",
    "version": "2026-06-01-preview",
    "description": "Microsoft.EdgeOperator Resource Provider management API for Azure Local Disconnected Operations (ALDO).",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "BillingConfigurations"
    },
    {
      "name": "BillingConfigurationSnapshots"
    }
  ],
  "paths": {
    "/providers/Microsoft.EdgeOperator/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOperator/billingConfigurations": {
      "get": {
        "operationId": "BillingConfigurations_ListBySubscription",
        "tags": [
          "BillingConfigurations"
        ],
        "description": "Lists all billing configuration resources for the subscription.\nSince billingConfigurations is a singleton, this always returns at most one item (`default`).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingConfigurations_ListBySubscription": {
            "$ref": "./examples/BillingConfigurations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOperator/billingConfigurations/default": {
      "get": {
        "operationId": "BillingConfigurations_Get",
        "tags": [
          "BillingConfigurations"
        ],
        "description": "Gets the active billing configuration for the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingConfigurations_Get": {
            "$ref": "./examples/BillingConfigurations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "BillingConfigurations_CreateOrUpdate",
        "tags": [
          "BillingConfigurations"
        ],
        "description": "Creates or fully replaces the active billing configuration for the subscription.\nThe resource name must be `default`. After ARM commits the resource, the RP creates\nan immutable snapshot under `billingConfigurations/default/snapshots`.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The request should only proceed if an entity matches this string.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifMatch"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "The request should only proceed if no entity matches this string.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "ifNoneMatch"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BillingConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BillingConfiguration"
            }
          },
          "201": {
            "description": "Resource 'BillingConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BillingConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingConfigurations_CreateOrUpdate": {
            "$ref": "./examples/BillingConfigurations_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOperator/billingConfigurations/default/snapshots": {
      "get": {
        "operationId": "BillingConfigurationSnapshots_List",
        "tags": [
          "BillingConfigurationSnapshots"
        ],
        "description": "Lists all historical snapshots of billing configurations for the subscription.\n\n**Expected volume:** Snapshots are created only when the customer replaces the active\nbilling configuration via PUT /billingConfigurations/default. Customers are expected\nto update at most once per year; in the worst case (e.g., a mid-year plan change)\nno more than twice per year. Even accounting for edge cases such as corrections or\nretries, the total number of snapshots per subscription is expected to remain low\n(low tens) over the lifetime of a subscription. Snapshots are never\ndeleted. Callers should not need to traverse more than one page in practice.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingConfigurationSnapshotListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingConfigurationSnapshots_List": {
            "$ref": "./examples/BillingConfigurationSnapshots_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOperator/billingConfigurations/default/snapshots/{snapshotName}": {
      "get": {
        "operationId": "BillingConfigurationSnapshots_Get",
        "tags": [
          "BillingConfigurationSnapshots"
        ],
        "description": "Gets a specific historical snapshot of a billing configuration by snapshot name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "snapshotName",
            "in": "path",
            "description": "The name of the BillingConfigurationSnapshot",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BillingConfigurationSnapshot"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingConfigurationSnapshots_Get": {
            "$ref": "./examples/BillingConfigurationSnapshots_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AutoRenew": {
      "type": "string",
      "description": "Auto-renewal setting for a billing configuration.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AutoRenew",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Auto renew is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Auto renew is disabled."
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BenefitPlanStatus": {
      "type": "string",
      "description": "Benefit plan enablement status.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "BenefitPlanStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Benefit plan is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Benefit plan is disabled."
          }
        ]
      }
    },
    "BenefitPlans": {
      "type": "object",
      "description": "Benefit plans associated with the billing configuration.",
      "properties": {
        "azureHybridWindowsServerBenefit": {
          "$ref": "#/definitions/BenefitPlanStatus",
          "description": "Azure Hybrid Windows Server Benefit plan status."
        },
        "windowsServerVmCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Windows Server VMs licensed under the Azure Hybrid Benefit plan.",
          "minimum": 1
        }
      }
    },
    "BillingConfiguration": {
      "type": "object",
      "description": "The active billing configuration for a subscription.\nRepresents the billing manifest for Azure Local Disconnected Operations (ALDO) resources\nregistered under this subscription. This is a singleton resource — the only accepted\nresource name is `default`. After each successful PUT, the RP creates an immutable\nsnapshot under `billingConfigurations/default/snapshots`.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BillingConfigurationProperties",
          "description": "The resource-specific properties for this resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BillingConfigurationDetails": {
      "type": "object",
      "description": "Billing configuration details, including renewal settings and period information.",
      "properties": {
        "autoRenew": {
          "$ref": "#/definitions/AutoRenew",
          "description": "Auto-renewal setting for the billing configuration."
        },
        "billingStatus": {
          "$ref": "#/definitions/BillingStatus",
          "description": "The current billing status. Preserved verbatim in historical snapshots."
        },
        "current": {
          "$ref": "#/definitions/BillingPeriodDetails",
          "description": "The current active billing period."
        },
        "upcoming": {
          "$ref": "#/definitions/BillingPeriodDetails",
          "description": "The upcoming billing period. Present only when a future period has been scheduled."
        }
      },
      "required": [
        "autoRenew",
        "billingStatus",
        "current"
      ]
    },
    "BillingConfigurationListResult": {
      "type": "object",
      "description": "The response of a BillingConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BillingConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/BillingConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BillingConfigurationProperties": {
      "type": "object",
      "description": "Properties shared by billing configurations and their snapshots.\nThis payload originates from Azure and is uploaded by the customer to Azure Local (ALDO)\nvia this API. ALDO performs server-side signature validation on the received JSON to verify\nit has not been tampered with since it was issued by Azure. The payload must be forwarded\nverbatim — any modification to field values will cause signature verification to fail.\nARM populates `provisioningState`, `etag`, and `systemData` on the envelope automatically.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource identifier of the associated `Microsoft.Edge/disconnectedOperations` resource\nwhose billing this configuration covers. This is a cross-reference field in the properties payload —\nit is not the identifier of the `BillingConfiguration` resource itself.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Edge/disconnectedOperations"
              }
            ]
          }
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the associated disconnected operations resource."
        },
        "stampId": {
          "type": "string",
          "description": "The identifier of the stamp hosting the resource. This value is assigned by Azure and\nsourced verbatim from the deployment manifest issued by `Microsoft.Edge/disconnectedOperations`."
        },
        "location": {
          "type": "string",
          "description": "The Azure region where the associated resource is located.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "billingModel": {
          "$ref": "#/definitions/BillingModel",
          "description": "The billing model for this configuration."
        },
        "connectionIntent": {
          "$ref": "#/definitions/ConnectionIntent",
          "description": "The connection intent for this configuration."
        },
        "cloud": {
          "type": "string",
          "description": "The cloud environment in which the associated resource operates."
        },
        "billingConfiguration": {
          "$ref": "#/definitions/BillingConfigurationDetails",
          "description": "The billing configuration data. Required when creating or replacing the resource."
        },
        "benefitPlans": {
          "$ref": "#/definitions/BenefitPlans",
          "description": "The benefit plans associated with the billing configuration."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the billing configuration resource.\nSet by ARM after each write operation. Read-only.",
          "readOnly": true
        }
      },
      "required": [
        "resourceId",
        "resourceName",
        "stampId",
        "location",
        "billingModel",
        "connectionIntent",
        "billingConfiguration"
      ]
    },
    "BillingConfigurationSnapshot": {
      "type": "object",
      "description": "An immutable historical snapshot of a billing configuration.\nSnapshots are created by the RP after each successful PUT on `billingConfigurations/default`.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BillingConfigurationProperties",
          "description": "The resource-specific properties for this resource."
        },
        "eTag": {
          "type": "string",
          "description": "If eTag is provided in the response body, it may also be provided as a header per the normal etag convention.  Entity tags are used for comparing two or more entities from the same requested resource. HTTP/1.1 uses entity tags in the etag (section 14.19), If-Match (section 14.24), If-None-Match (section 14.26), and If-Range (section 14.27) header fields.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "BillingConfigurationSnapshotListResult": {
      "type": "object",
      "description": "The response of a BillingConfigurationSnapshot list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BillingConfigurationSnapshot items on this page",
          "items": {
            "$ref": "#/definitions/BillingConfigurationSnapshot"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BillingModel": {
      "type": "string",
      "description": "Billing model for a billing configuration.",
      "enum": [
        "Capacity"
      ],
      "x-ms-enum": {
        "name": "BillingModel",
        "modelAsString": true,
        "values": [
          {
            "name": "Capacity",
            "value": "Capacity",
            "description": "Billed on capacity."
          }
        ]
      }
    },
    "BillingPeriodDetails": {
      "type": "object",
      "description": "Details for a single billing period.",
      "properties": {
        "cores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of cores allocated for this billing period. Must be greater than zero.",
          "minimum": 1
        },
        "pricingModel": {
          "$ref": "#/definitions/PricingModel",
          "description": "The pricing model applied to this billing period."
        },
        "startDate": {
          "type": "string",
          "format": "date",
          "description": "The start date of this billing period in YYYY-MM-DD format."
        },
        "endDate": {
          "type": "string",
          "format": "date",
          "description": "The end date of this billing period in YYYY-MM-DD format. Absent for open-ended periods."
        }
      },
      "required": [
        "cores",
        "pricingModel",
        "startDate"
      ]
    },
    "BillingStatus": {
      "type": "string",
      "description": "Billing status of a billing configuration.",
      "enum": [
        "Enabled",
        "Disabled",
        "Stopped"
      ],
      "x-ms-enum": {
        "name": "BillingStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Billing is enabled."
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Billing is disabled."
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Billing is stopped."
          }
        ]
      }
    },
    "ConnectionIntent": {
      "type": "string",
      "description": "Connection intent for a billing configuration.",
      "enum": [
        "Connected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "ConnectionIntent",
        "modelAsString": true,
        "values": [
          {
            "name": "Connected",
            "value": "Connected",
            "description": "Device is connected to cloud."
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "Device is disconnected from cloud."
          }
        ]
      }
    },
    "PricingModel": {
      "type": "string",
      "description": "The pricing model applied to a billing period.",
      "enum": [
        "Trial",
        "Annual"
      ],
      "x-ms-enum": {
        "name": "PricingModel",
        "modelAsString": true,
        "values": [
          {
            "name": "Trial",
            "value": "Trial",
            "description": "Trial pricing model."
          },
          {
            "name": "Annual",
            "value": "Annual",
            "description": "Annual pricing model."
          }
        ]
      }
    }
  },
  "parameters": {}
}
