{
  "swagger": "2.0",
  "info": {
    "title": "Storage Data Management Resource Provider",
    "version": "2026-06-01",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Connectors"
    },
    {
      "name": "DataShares"
    },
    {
      "name": "BlobAccessPointConfigurations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Storage/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}/blobAccessPointConfigurations": {
      "get": {
        "operationId": "BlobAccessPointConfigurations_ListByStorageAccount",
        "tags": [
          "BlobAccessPointConfigurations"
        ],
        "description": "List all Blob Access Point configurations in a Storage Account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListBlobAccessPointConfigurationsByStorageAccount": {
            "$ref": "./examples/BlobAccessPointConfigurations_ListByStorageAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}/blobAccessPointConfigurations/{blobAccessPointConfigurationName}": {
      "get": {
        "operationId": "BlobAccessPointConfigurations_Get",
        "tags": [
          "BlobAccessPointConfigurations"
        ],
        "description": "Get the specified Blob Access Point configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "blobAccessPointConfigurationName",
            "in": "path",
            "description": "The name of the Blob Access Point configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetBlobAccessPointConfiguration": {
            "$ref": "./examples/BlobAccessPointConfigurations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "BlobAccessPointConfigurations_Create",
        "tags": [
          "BlobAccessPointConfigurations"
        ],
        "description": "Creates or updates a Blob Access Point configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "blobAccessPointConfigurationName",
            "in": "path",
            "description": "The name of the Blob Access Point configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BlobAccessPointConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConfiguration"
            }
          },
          "201": {
            "description": "Resource 'BlobAccessPointConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConfiguration"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateBlobAccessPointConfiguration": {
            "$ref": "./examples/BlobAccessPointConfigurations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "BlobAccessPointConfigurations_Update",
        "tags": [
          "BlobAccessPointConfigurations"
        ],
        "description": "Update a Blob Access Point configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "blobAccessPointConfigurationName",
            "in": "path",
            "description": "The name of the Blob Access Point configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConfigurationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConfiguration"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateBlobAccessPointConfiguration": {
            "$ref": "./examples/BlobAccessPointConfigurations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "BlobAccessPointConfigurations_Delete",
        "tags": [
          "BlobAccessPointConfigurations"
        ],
        "description": "Delete a Blob Access Point configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "blobAccessPointConfigurationName",
            "in": "path",
            "description": "The name of the Blob Access Point configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteBlobAccessPointConfiguration": {
            "$ref": "./examples/BlobAccessPointConfigurations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}/blobAccessPointConfigurations/{blobAccessPointConfigurationName}/connectiontest": {
      "post": {
        "operationId": "BlobAccessPointConfigurations_ConnectionTest",
        "tags": [
          "BlobAccessPointConfigurations"
        ],
        "description": "Test the connection configured on an existing Blob Access Point configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "blobAccessPointConfigurationName",
            "in": "path",
            "description": "The name of the Blob Access Point configuration.",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConnectionTestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConnectionTestResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BlobAccessPointConfigurationConnectionTest": {
            "$ref": "./examples/BlobAccessPointConfigurations_ConnectionTest.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}/blobAccessPointConfigurations/proposedconnectiontest": {
      "post": {
        "operationId": "BlobAccessPointConfigurations_ProposedConnectionTest",
        "tags": [
          "BlobAccessPointConfigurations"
        ],
        "description": "Test a proposed Blob Access Point connection before creating or updating the configuration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The proposed Blob Access Point configuration properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobAccessPointProposedConnectionTestRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobAccessPointConnectionTestResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BlobAccessPointConfigurationProposedConnectionTest": {
            "$ref": "./examples/BlobAccessPointConfigurations_ProposedConnectionTest.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}/connectors": {
      "get": {
        "operationId": "Connectors_ListByStorageAccount",
        "tags": [
          "Connectors"
        ],
        "description": "List all Storage Connectors in a Storage Account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListConnectorsByStorageAccount": {
            "$ref": "./examples/Connectors_ListByStorageAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}/connectors/{connectorName}": {
      "get": {
        "operationId": "Connectors_Get",
        "tags": [
          "Connectors"
        ],
        "description": "Get the specified Storage Connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectorName",
            "in": "path",
            "description": "The name of the storage connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetConnector": {
            "$ref": "./examples/Connectors_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Connectors_Create",
        "tags": [
          "Connectors"
        ],
        "description": "Create a Storage Connector if it does not already exist; otherwise, error out. This API will not allow you to replace an already existing resource. ",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectorName",
            "in": "path",
            "description": "The name of the storage connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Connector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "201": {
            "description": "Resource 'Connector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Connector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateConnector": {
            "$ref": "./examples/Connectors_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Connectors_Update",
        "tags": [
          "Connectors"
        ],
        "description": "Update a Storage Connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectorName",
            "in": "path",
            "description": "The name of the storage connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateConnector": {
            "$ref": "./examples/Connectors_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Connectors_Delete",
        "tags": [
          "Connectors"
        ],
        "description": "Delete a Storage Connector.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectorName",
            "in": "path",
            "description": "The name of the storage connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteConnector": {
            "$ref": "./examples/Connectors_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}/connectors/{connectorName}/testExistingConnection": {
      "post": {
        "operationId": "Connectors_TestExistingConnection",
        "tags": [
          "Connectors"
        ],
        "description": "This method is used to verify that the connection to the backing data store works. This API is designed to be used for monitoring and debugging purposes. From the caller’s perspective, this method does the following: Calls List on the backing data store, attempting to list up to one blob/object/etc. If the above succeeds, and if a blob/object/etc is found, calls Get on that object, attempting to download one byte.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "connectorName",
            "in": "path",
            "description": "The name of the storage connector",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestExistingConnectionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestConnectionResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExistingConnectionTest": {
            "$ref": "./examples/Connectors_TestExistingConnection.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}/dataShares": {
      "get": {
        "operationId": "DataShares_ListByStorageAccount",
        "tags": [
          "DataShares"
        ],
        "description": "List all Storage DataShares in a Storage Account.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataShareListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ListDataSharesByStorageAccount": {
            "$ref": "./examples/DataShares_ListByStorageAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{storageAccountName}/dataShares/{dataShareName}": {
      "get": {
        "operationId": "DataShares_Get",
        "tags": [
          "DataShares"
        ],
        "description": "Get the specified Storage DataShare.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dataShareName",
            "in": "path",
            "description": "The name of the Storage Data Share",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataShare"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetDataShare": {
            "$ref": "./examples/DataShares_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DataShares_Create",
        "tags": [
          "DataShares"
        ],
        "description": "Create a Storage DataShare if it does not already exist; otherwise, error out. This API will not allow you to replace an already existing resource. ",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dataShareName",
            "in": "path",
            "description": "The name of the Storage Data Share",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataShare"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataShare' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataShare"
            }
          },
          "201": {
            "description": "Resource 'DataShare' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataShare"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateDataShare": {
            "$ref": "./examples/DataShares_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DataShares_Update",
        "tags": [
          "DataShares"
        ],
        "description": "Update a Storage DataShare.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dataShareName",
            "in": "path",
            "description": "The name of the Storage Data Share",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataShareUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataShare"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateDataShare": {
            "$ref": "./examples/DataShares_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DataShares_Delete",
        "tags": [
          "DataShares"
        ],
        "description": "Delete a Storage DataShare.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storageAccountName",
            "in": "path",
            "description": "The name of the storage account.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dataShareName",
            "in": "path",
            "description": "The name of the Storage Data Share",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9](?!.*--)[a-z0-9-]{1,61}[a-z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteDataShare": {
            "$ref": "./examples/DataShares_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AccessKeyProperties": {
      "type": "object",
      "description": "The access key properties for bucket connection.",
      "properties": {
        "accessKeyId": {
          "type": "string",
          "description": "Access key ID for the backing data store.",
          "minLength": 3
        },
        "secretAccessKey": {
          "type": "string",
          "format": "password",
          "description": "Secret access key. Redacted when read via a Get or List API.",
          "minLength": 3,
          "x-ms-secret": true
        },
        "signingRegion": {
          "type": "string",
          "description": "Region to use in the signing algorithm.  If not provided, defaults to us-east-1."
        }
      },
      "required": [
        "accessKeyId",
        "secretAccessKey"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AuthProperties"
        }
      ],
      "x-ms-discriminator-value": "AccessKey"
    },
    "AccessKeyPropertiesUpdate": {
      "type": "object",
      "description": "The access key properties for bucket connection.",
      "properties": {
        "accessKeyId": {
          "type": "string",
          "description": "Access key ID for the backing data store.",
          "minLength": 3
        },
        "secretAccessKey": {
          "type": "string",
          "format": "password",
          "description": "Secret access key. Redacted when read via a Get or List API.",
          "minLength": 3,
          "x-ms-secret": true
        },
        "signingRegion": {
          "type": "string",
          "description": "Region to use in the signing algorithm.  If not provided, defaults to us-east-1."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AuthPropertiesUpdate"
        }
      ],
      "x-ms-discriminator-value": "AccessKey"
    },
    "AccessPolicy": {
      "type": "object",
      "description": "Policy that specify the permission allowed to a managed identity.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The AAD principal ID of the Managed Identity.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        },
        "tenantId": {
          "type": "string",
          "description": "The AAD tenant ID of the Managed Identity.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        },
        "permission": {
          "$ref": "#/definitions/AccessPolicyPermission",
          "description": "Allowed permissions. Currently, only supported value is Read."
        }
      },
      "required": [
        "principalId",
        "tenantId",
        "permission"
      ]
    },
    "AccessPolicyPermission": {
      "type": "string",
      "description": "The permissions supported in access policies",
      "enum": [
        "None",
        "Read"
      ],
      "x-ms-enum": {
        "name": "AccessPolicyPermission",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No permission"
          },
          {
            "name": "Read",
            "value": "Read",
            "description": "Read permission"
          }
        ]
      }
    },
    "Asset": {
      "type": "object",
      "description": "Properties of a shared resource.",
      "properties": {
        "assetPath": {
          "type": "string",
          "description": "Source Path to be shared. It can be a folder or a blob. The asset path should contain container name followed by path within the container, e.g. /container1/logs/external."
        },
        "displayName": {
          "type": "string",
          "description": "Consumer visible name of the original path."
        }
      },
      "required": [
        "assetPath",
        "displayName"
      ]
    },
    "AuthProperties": {
      "type": "object",
      "description": "The auth properties for bucket connection.",
      "properties": {
        "type": {
          "$ref": "#/definitions/AuthType",
          "description": "The auth type for bucket connection."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "AuthPropertiesUpdate": {
      "type": "object",
      "description": "The auth properties for bucket connection.",
      "properties": {
        "type": {
          "$ref": "#/definitions/AuthType",
          "description": "The auth type for bucket connection."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "AuthType": {
      "type": "string",
      "description": "The auth type supported for bucket connection.",
      "enum": [
        "AccessKey",
        "ManagedIdentity"
      ],
      "x-ms-enum": {
        "name": "AuthType",
        "modelAsString": true,
        "values": [
          {
            "name": "AccessKey",
            "value": "AccessKey",
            "description": "Access Key auth type"
          },
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity",
            "description": "Managed Identity auth type"
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BlobAccessPointAccessKeyAuthProperties": {
      "type": "object",
      "description": "S3 access-key authentication properties.",
      "properties": {
        "accessKeyId": {
          "type": "string",
          "description": "The access key ID.",
          "minLength": 3
        },
        "secretAccessKey": {
          "type": "string",
          "format": "password",
          "description": "The secret access key. This value is never returned by read or list operations.",
          "minLength": 3,
          "x-ms-mutability": [
            "update",
            "create"
          ],
          "x-ms-secret": true
        },
        "signingRegion": {
          "type": "string",
          "description": "The region used by the request-signing algorithm. The default is 'us-east-1'.",
          "default": "us-east-1"
        },
        "hostOverride": {
          "type": "string",
          "description": "The host used when computing request signatures. The endpoint host is used by default."
        }
      },
      "required": [
        "accessKeyId",
        "secretAccessKey"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointRemoteAuthProperties"
        }
      ],
      "x-ms-discriminator-value": "AccessKey"
    },
    "BlobAccessPointAccessKeyAuthUpdateProperties": {
      "type": "object",
      "description": "Mutable S3 access-key authentication properties.",
      "properties": {
        "accessKeyId": {
          "type": "string",
          "description": "The access key ID.",
          "minLength": 3
        },
        "secretAccessKey": {
          "type": "string",
          "format": "password",
          "description": "A replacement secret access key.",
          "minLength": 3,
          "x-ms-secret": true
        },
        "signingRegion": {
          "type": "string",
          "description": "The region used by the request-signing algorithm."
        },
        "hostOverride": {
          "type": "string",
          "description": "The host used when computing request signatures."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointAuthUpdateProperties"
        }
      ],
      "x-ms-discriminator-value": "AccessKey"
    },
    "BlobAccessPointAccessPolicy": {
      "type": "object",
      "description": "An access policy for a Blob Access Point configuration.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The Microsoft Entra object ID of the principal.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        },
        "tenantId": {
          "type": "string",
          "description": "The Microsoft Entra tenant ID of the principal.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        },
        "permission": {
          "type": "string",
          "description": "The permission granted to the principal.",
          "default": "Read",
          "enum": [
            "Read"
          ],
          "x-ms-enum": {
            "name": "BlobAccessPointAccessPolicyPermission",
            "modelAsString": true,
            "values": [
              {
                "name": "Read",
                "value": "Read",
                "description": "Read and list data through the Blob Access Point."
              }
            ]
          }
        },
        "billingType": {
          "type": "string",
          "description": "The billing mode applied to requests authorized by this policy.",
          "default": "OwnerPay",
          "enum": [
            "OwnerPay",
            "RequesterPay"
          ],
          "x-ms-enum": {
            "name": "BlobAccessPointBillingType",
            "modelAsString": true,
            "values": [
              {
                "name": "OwnerPay",
                "value": "OwnerPay",
                "description": "Charge the owner of the provider Blob Access Point."
              },
              {
                "name": "RequesterPay",
                "value": "RequesterPay",
                "description": "Charge the requester."
              }
            ]
          }
        }
      },
      "required": [
        "principalId",
        "tenantId"
      ]
    },
    "BlobAccessPointAssumeRoleAuthProperties": {
      "type": "object",
      "description": "Managed-identity role-assumption authentication properties.",
      "properties": {
        "identityResourceId": {
          "type": "string",
          "description": "The ARM resource ID of the managed identity."
        },
        "roleArn": {
          "type": "string",
          "description": "The ARN of the role to assume."
        }
      },
      "required": [
        "identityResourceId",
        "roleArn"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointRemoteAuthProperties"
        }
      ],
      "x-ms-discriminator-value": "AssumeRoleWithManagedIdentity"
    },
    "BlobAccessPointAssumeRoleAuthUpdateProperties": {
      "type": "object",
      "description": "Mutable managed-identity role-assumption authentication properties.",
      "properties": {
        "identityResourceId": {
          "type": "string",
          "description": "The ARM resource ID of the managed identity."
        },
        "roleArn": {
          "type": "string",
          "description": "The ARN of the role to assume."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointAuthUpdateProperties"
        }
      ],
      "x-ms-discriminator-value": "AssumeRoleWithManagedIdentity"
    },
    "BlobAccessPointAuthUpdateProperties": {
      "type": "object",
      "description": "Mutable authentication properties for a Blob Access Point source.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BlobAccessPointAuthUpdateType",
          "description": "The authentication type. This value determines the remaining shape of the authentication object."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "BlobAccessPointAuthUpdateType": {
      "type": "string",
      "description": "An authentication type that can be supplied in a configuration update.",
      "enum": [
        "AccessKey",
        "AssumeRoleWithManagedIdentity",
        "ManagedIdentity",
        "PassThrough"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointAuthUpdateType",
        "modelAsString": true,
        "values": [
          {
            "name": "AccessKey",
            "value": "AccessKey",
            "description": "S3 access-key authentication."
          },
          {
            "name": "AssumeRoleWithManagedIdentity",
            "value": "AssumeRoleWithManagedIdentity",
            "description": "Managed-identity role-assumption authentication."
          },
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity",
            "description": "Managed-identity authentication to an Azure Blob source."
          },
          {
            "name": "PassThrough",
            "value": "PassThrough",
            "description": "Pass-through authentication to an Azure Blob source."
          }
        ]
      }
    },
    "BlobAccessPointAzureAuthProperties": {
      "type": "object",
      "description": "Authentication properties for an Azure Blob source.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BlobAccessPointAzureAuthType",
          "description": "The authentication type. This value determines the remaining shape of the authentication object."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "BlobAccessPointAzureAuthType": {
      "type": "string",
      "description": "How Azure Storage authenticates to an Azure Blob source.",
      "enum": [
        "ManagedIdentity",
        "PassThrough"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointAzureAuthType",
        "modelAsString": true,
        "values": [
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity",
            "description": "Authenticate with the configured managed identity."
          },
          {
            "name": "PassThrough",
            "value": "PassThrough",
            "description": "Pass the original caller identity to the provider Blob Access Point."
          }
        ]
      }
    },
    "BlobAccessPointAzureStorageAccountSourceProperties": {
      "type": "object",
      "description": "An Azure Storage account backing source.",
      "properties": {
        "endpointConnection": {
          "$ref": "#/definitions/BlobAccessPointEndpointConnectionProperties",
          "description": "The endpoint of the Azure Storage account or container.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "auth": {
          "$ref": "#/definitions/BlobAccessPointAzureAuthProperties",
          "description": "Details for authenticating to the Azure Storage account."
        }
      },
      "required": [
        "endpointConnection",
        "auth"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "AzureStorageAccount"
    },
    "BlobAccessPointBackingDataSourceType": {
      "type": "string",
      "description": "The type of a non-Azure S3-compatible backing data source.",
      "enum": [
        "NetApp_ONTAP",
        "Azure_NetApp_Files",
        "Dell_OneFS",
        "S3_Compatible"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointBackingDataSourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "NetApp_ONTAP",
            "value": "NetApp_ONTAP",
            "description": "NetApp ONTAP."
          },
          {
            "name": "Azure_NetApp_Files",
            "value": "Azure_NetApp_Files",
            "description": "Azure NetApp Files."
          },
          {
            "name": "Dell_OneFS",
            "value": "Dell_OneFS",
            "description": "Dell OneFS."
          },
          {
            "name": "S3_Compatible",
            "value": "S3_Compatible",
            "description": "Another S3-compatible data source."
          }
        ]
      }
    },
    "BlobAccessPointConfiguration": {
      "type": "object",
      "description": "A BlobAccessPointConfiguration is a tracked ARM resource modeled as a sub-resource of a Storage Account.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BlobAccessPointConfigurationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "BlobAccessPointConfigurationListResult": {
      "type": "object",
      "description": "The response of a BlobAccessPointConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The BlobAccessPointConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/BlobAccessPointConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "BlobAccessPointConfigurationProperties": {
      "type": "object",
      "description": "Details of a Blob Access Point configuration.",
      "properties": {
        "uniqueId": {
          "type": "string",
          "description": "The system-generated unique identifier of the configuration.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "The configuration state.",
          "default": "Active",
          "enum": [
            "Active",
            "Inactive"
          ],
          "x-ms-enum": {
            "name": "BlobAccessPointConfigurationState",
            "modelAsString": true,
            "values": [
              {
                "name": "Active",
                "value": "Active",
                "description": "The Blob Access Point configuration is active."
              },
              {
                "name": "Inactive",
                "value": "Inactive",
                "description": "The Blob Access Point configuration is inactive."
              }
            ]
          }
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "The system-generated creation time.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "An arbitrary description of the Blob Access Point configuration.",
          "maxLength": 250
        },
        "lastConnectionTestStatus": {
          "$ref": "#/definitions/BlobAccessPointConnectionTestStatus",
          "description": "The status of the most recent connection test.",
          "readOnly": true
        },
        "lastConnectionTestTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of the most recent connection test.",
          "readOnly": true
        },
        "lastConnectionTestErrorMessage": {
          "type": "string",
          "description": "The normalized and redacted error from the most recent failed connection test.",
          "readOnly": true
        },
        "source": {
          "$ref": "#/definitions/BlobAccessPointSourceProperties",
          "description": "Information about the backing data source."
        },
        "accessPolicies": {
          "type": "array",
          "description": "Access policies used for Blob Access Point data-sharing scenarios.",
          "items": {
            "$ref": "#/definitions/BlobAccessPointAccessPolicy"
          },
          "x-ms-identifiers": [
            "principalId",
            "tenantId"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "source"
      ]
    },
    "BlobAccessPointConfigurationState": {
      "type": "string",
      "description": "The state of a Blob Access Point configuration.",
      "enum": [
        "Active",
        "Inactive"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointConfigurationState",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "The Blob Access Point configuration is active."
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "The Blob Access Point configuration is inactive."
          }
        ]
      }
    },
    "BlobAccessPointConfigurationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the BlobAccessPointConfiguration.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/BlobAccessPointConfigurationUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "BlobAccessPointConfigurationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the BlobAccessPointConfiguration.",
      "properties": {
        "state": {
          "$ref": "#/definitions/BlobAccessPointConfigurationState",
          "description": "The configuration state."
        },
        "description": {
          "type": "string",
          "description": "An arbitrary description of the Blob Access Point configuration.",
          "maxLength": 250
        },
        "source": {
          "$ref": "#/definitions/BlobAccessPointSourceUpdateProperties",
          "description": "Mutable backing-source properties."
        },
        "accessPolicies": {
          "type": "array",
          "description": "Access policies used for Blob Access Point data-sharing scenarios.",
          "items": {
            "$ref": "#/definitions/BlobAccessPointAccessPolicy"
          },
          "x-ms-identifiers": [
            "principalId",
            "tenantId"
          ]
        }
      }
    },
    "BlobAccessPointConnectionProperties": {
      "type": "object",
      "description": "Details for connecting to a backing data source.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BlobAccessPointConnectionType",
          "description": "The connection type. This value determines the remaining shape of the connection object."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "BlobAccessPointConnectionTestRequest": {
      "type": "object",
      "description": "The request used to test an existing Blob Access Point configuration.",
      "properties": {
        "uniqueId": {
          "type": "string",
          "description": "The unique identifier of the Blob Access Point configuration.",
          "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        }
      },
      "required": [
        "uniqueId"
      ]
    },
    "BlobAccessPointConnectionTestResponse": {
      "type": "object",
      "description": "The result of testing a Blob Access Point configuration connection.",
      "properties": {
        "methodName": {
          "type": "string",
          "description": "The request attempted against the backing source. Valid values include 'List' and 'GetBlob'."
        },
        "errorMessage": {
          "type": "string",
          "description": "A normalized and redacted backing-source error message."
        },
        "requestId": {
          "type": "string",
          "description": "The request ID returned by the backing source, when available."
        }
      }
    },
    "BlobAccessPointConnectionTestStatus": {
      "type": "string",
      "description": "The status of the most recent connection test.",
      "enum": [
        "Succeeded",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointConnectionTestStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The connection test succeeded."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The connection test failed."
          }
        ]
      },
      "readOnly": true
    },
    "BlobAccessPointConnectionType": {
      "type": "string",
      "description": "The connection type used to reach a non-Azure backing data source.",
      "enum": [
        "Endpoint",
        "PrivateLink"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointConnectionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Endpoint",
            "value": "Endpoint",
            "description": "Connect directly to a public or otherwise routable endpoint."
          },
          {
            "name": "PrivateLink",
            "value": "PrivateLink",
            "description": "Connect through Azure Private Link."
          }
        ]
      }
    },
    "BlobAccessPointEndpointConnectionProperties": {
      "type": "object",
      "description": "A direct endpoint connection.",
      "properties": {
        "endpoint": {
          "type": "string",
          "format": "uri",
          "description": "The backing endpoint, including its protocol, host, optional port, and optional path.",
          "minLength": 4,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tlsVerification": {
          "type": "string",
          "description": "TLS certificate verification behavior.",
          "default": "Perform",
          "enum": [
            "Perform",
            "Skip"
          ],
          "x-ms-enum": {
            "name": "BlobAccessPointTlsVerification",
            "modelAsString": true,
            "values": [
              {
                "name": "Perform",
                "value": "Perform",
                "description": "Verify the TLS certificate chain."
              },
              {
                "name": "Skip",
                "value": "Skip",
                "description": "Skip TLS certificate-chain verification."
              }
            ]
          }
        }
      },
      "required": [
        "endpoint"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointConnectionProperties"
        }
      ],
      "x-ms-discriminator-value": "Endpoint"
    },
    "BlobAccessPointLocalSourceProperties": {
      "type": "object",
      "description": "A path in the storage account that owns the Blob Access Point configuration.",
      "properties": {
        "path": {
          "type": "string",
          "description": "The source path, beginning with the container name, for example '/container1/directory1'.",
          "minLength": 2,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "path"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "Local"
    },
    "BlobAccessPointManagedIdentityAuthProperties": {
      "type": "object",
      "description": "Managed-identity authentication properties for an Azure Blob source.",
      "properties": {
        "identityResourceId": {
          "type": "string",
          "description": "The ARM resource ID of the managed identity."
        }
      },
      "required": [
        "identityResourceId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointAzureAuthProperties"
        }
      ],
      "x-ms-discriminator-value": "ManagedIdentity"
    },
    "BlobAccessPointManagedIdentityAuthUpdateProperties": {
      "type": "object",
      "description": "Mutable managed-identity authentication properties for an Azure Blob source.",
      "properties": {
        "identityResourceId": {
          "type": "string",
          "description": "The ARM resource ID of the managed identity."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointAuthUpdateProperties"
        }
      ],
      "x-ms-discriminator-value": "ManagedIdentity"
    },
    "BlobAccessPointPassThroughAuthProperties": {
      "type": "object",
      "description": "Pass-through authentication properties for an Azure Blob source.",
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointAzureAuthProperties"
        }
      ],
      "x-ms-discriminator-value": "PassThrough"
    },
    "BlobAccessPointPassThroughAuthUpdateProperties": {
      "type": "object",
      "description": "Pass-through authentication update properties.",
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointAuthUpdateProperties"
        }
      ],
      "x-ms-discriminator-value": "PassThrough"
    },
    "BlobAccessPointPaymentModel": {
      "type": "string",
      "description": "The payment model for requests to an S3-compatible backing source.",
      "enum": [
        "Unspecified",
        "RequesterPays"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointPaymentModel",
        "modelAsString": true,
        "values": [
          {
            "name": "Unspecified",
            "value": "Unspecified",
            "description": "Use the backing source's default payment model."
          },
          {
            "name": "RequesterPays",
            "value": "RequesterPays",
            "description": "Set the S3 requester-pays request option."
          }
        ]
      }
    },
    "BlobAccessPointPrivateLinkConnectionProperties": {
      "type": "object",
      "description": "A connection established through Azure Private Link.",
      "properties": {
        "privateLinkIdType": {
          "$ref": "#/definitions/BlobAccessPointPrivateLinkIdType",
          "description": "Whether privateLinkId contains an ARM resource ID or a Private Link alias.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "privateLinkId": {
          "type": "string",
          "description": "The ARM resource ID or alias of the backing Private Link resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "privateLinkGroupId": {
          "type": "string",
          "description": "The Private Link group ID, when required by the backing resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "privateLinkLocation": {
          "type": "string",
          "description": "The Azure region in which the private endpoint is provisioned.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "requestMessage": {
          "type": "string",
          "description": "The connection request message sent to the Private Link owner.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "endpoint": {
          "type": "string",
          "format": "uri",
          "description": "The backing endpoint as seen by the target of the Private Link.",
          "minLength": 4,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tlsVerification": {
          "type": "string",
          "description": "TLS certificate verification behavior.",
          "default": "Perform",
          "enum": [
            "Perform",
            "Skip"
          ],
          "x-ms-enum": {
            "name": "BlobAccessPointTlsVerification",
            "modelAsString": true,
            "values": [
              {
                "name": "Perform",
                "value": "Perform",
                "description": "Verify the TLS certificate chain."
              },
              {
                "name": "Skip",
                "value": "Skip",
                "description": "Skip TLS certificate-chain verification."
              }
            ]
          }
        },
        "privateEndpointName": {
          "type": "string",
          "description": "The name of the private endpoint created by Azure Storage.",
          "readOnly": true
        }
      },
      "required": [
        "privateLinkIdType",
        "privateLinkId",
        "privateLinkLocation",
        "requestMessage",
        "endpoint"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointConnectionProperties"
        }
      ],
      "x-ms-discriminator-value": "PrivateLink"
    },
    "BlobAccessPointPrivateLinkIdType": {
      "type": "string",
      "description": "The format used by a Private Link identifier.",
      "enum": [
        "ResourceId",
        "Alias"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointPrivateLinkIdType",
        "modelAsString": true,
        "values": [
          {
            "name": "ResourceId",
            "value": "ResourceId",
            "description": "The identifier is an ARM resource ID."
          },
          {
            "name": "Alias",
            "value": "Alias",
            "description": "The identifier is a Private Link alias."
          }
        ]
      }
    },
    "BlobAccessPointProposedConnectionTestRequest": {
      "type": "object",
      "description": "The request used to test a proposed Blob Access Point configuration.",
      "properties": {
        "state": {
          "type": "string",
          "description": "The configuration state.",
          "default": "Active",
          "enum": [
            "Active",
            "Inactive"
          ],
          "x-ms-enum": {
            "name": "BlobAccessPointConfigurationState",
            "modelAsString": true,
            "values": [
              {
                "name": "Active",
                "value": "Active",
                "description": "The Blob Access Point configuration is active."
              },
              {
                "name": "Inactive",
                "value": "Inactive",
                "description": "The Blob Access Point configuration is inactive."
              }
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "An arbitrary description of the Blob Access Point configuration.",
          "maxLength": 250
        },
        "source": {
          "$ref": "#/definitions/BlobAccessPointSourceProperties",
          "description": "Information about the backing data source."
        },
        "accessPolicies": {
          "type": "array",
          "description": "Access policies used for Blob Access Point data-sharing scenarios.",
          "items": {
            "$ref": "#/definitions/BlobAccessPointAccessPolicy"
          },
          "x-ms-identifiers": [
            "principalId",
            "tenantId"
          ]
        }
      },
      "required": [
        "source"
      ]
    },
    "BlobAccessPointRemoteAccessPointSourceProperties": {
      "type": "object",
      "description": "A Blob Access Point in another Azure Storage account.",
      "properties": {
        "endpointConnection": {
          "$ref": "#/definitions/BlobAccessPointEndpointConnectionProperties",
          "description": "The endpoint of the provider Blob Access Point.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "auth": {
          "$ref": "#/definitions/BlobAccessPointAzureAuthProperties",
          "description": "Details for authenticating to the provider Blob Access Point."
        }
      },
      "required": [
        "endpointConnection",
        "auth"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "BlobAccessPoint"
    },
    "BlobAccessPointRemoteAuthProperties": {
      "type": "object",
      "description": "Authentication properties for a non-Azure S3-compatible source.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BlobAccessPointRemoteAuthType",
          "description": "The authentication type. This value determines the remaining shape of the authentication object."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "BlobAccessPointRemoteAuthType": {
      "type": "string",
      "description": "How Azure Storage authenticates to a non-Azure S3-compatible source.",
      "enum": [
        "AccessKey",
        "AssumeRoleWithManagedIdentity"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointRemoteAuthType",
        "modelAsString": true,
        "values": [
          {
            "name": "AccessKey",
            "value": "AccessKey",
            "description": "Authenticate with an S3 access key and secret access key."
          },
          {
            "name": "AssumeRoleWithManagedIdentity",
            "value": "AssumeRoleWithManagedIdentity",
            "description": "Use a managed identity to assume an S3-compatible role."
          }
        ]
      }
    },
    "BlobAccessPointRemoteS3SourceProperties": {
      "type": "object",
      "description": "A non-Azure S3-compatible backing source.",
      "properties": {
        "backingDataSourceType": {
          "$ref": "#/definitions/BlobAccessPointBackingDataSourceType",
          "description": "The type of the backing S3-compatible data source.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "connection": {
          "$ref": "#/definitions/BlobAccessPointConnectionProperties",
          "description": "Details for connecting to the backing data source.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "auth": {
          "$ref": "#/definitions/BlobAccessPointRemoteAuthProperties",
          "description": "Details for authenticating to the backing data source."
        },
        "expectedBucketOwner": {
          "type": "string",
          "description": "The expected bucket owner account ID."
        },
        "paymentModel": {
          "type": "string",
          "description": "The backing source payment model.",
          "default": "Unspecified",
          "enum": [
            "Unspecified",
            "RequesterPays"
          ],
          "x-ms-enum": {
            "name": "BlobAccessPointPaymentModel",
            "modelAsString": true,
            "values": [
              {
                "name": "Unspecified",
                "value": "Unspecified",
                "description": "Use the backing source's default payment model."
              },
              {
                "name": "RequesterPays",
                "value": "RequesterPays",
                "description": "Set the S3 requester-pays request option."
              }
            ]
          }
        }
      },
      "required": [
        "backingDataSourceType",
        "connection",
        "auth"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BlobAccessPointSourceProperties"
        }
      ],
      "x-ms-discriminator-value": "RemoteS3Compatible"
    },
    "BlobAccessPointSourceProperties": {
      "type": "object",
      "description": "Information about the data source exposed through a Blob Access Point.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BlobAccessPointSourceType",
          "description": "The source type. This value determines the remaining shape of the source object."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "BlobAccessPointSourceType": {
      "type": "string",
      "description": "The type of source exposed through the Blob Access Point.",
      "enum": [
        "Local",
        "BlobAccessPoint",
        "AzureStorageAccount",
        "RemoteS3Compatible"
      ],
      "x-ms-enum": {
        "name": "BlobAccessPointSourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "Local",
            "value": "Local",
            "description": "A path in the storage account that owns the Blob Access Point configuration."
          },
          {
            "name": "BlobAccessPoint",
            "value": "BlobAccessPoint",
            "description": "A Blob Access Point in another storage account."
          },
          {
            "name": "AzureStorageAccount",
            "value": "AzureStorageAccount",
            "description": "An Azure Storage account endpoint."
          },
          {
            "name": "RemoteS3Compatible",
            "value": "RemoteS3Compatible",
            "description": "A non-Azure data source that implements the S3-compatible REST API."
          }
        ]
      }
    },
    "BlobAccessPointSourceUpdateProperties": {
      "type": "object",
      "description": "Mutable properties of a Blob Access Point source.",
      "properties": {
        "auth": {
          "$ref": "#/definitions/BlobAccessPointAuthUpdateProperties",
          "description": "Replacement authentication properties."
        },
        "expectedBucketOwner": {
          "type": "string",
          "description": "The expected bucket owner account ID."
        },
        "paymentModel": {
          "$ref": "#/definitions/BlobAccessPointPaymentModel",
          "description": "The backing source payment model."
        }
      }
    },
    "BucketSource": {
      "type": "object",
      "description": "The properties of the backing data store.",
      "properties": {
        "connection": {
          "$ref": "#/definitions/Connection",
          "description": "Details for how to connect to the backing data store.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "authProperties": {
          "$ref": "#/definitions/AuthProperties",
          "description": "Details for how to authenticate to the backing data store."
        },
        "hostOverride": {
          "type": "string",
          "description": "The host to use when computing the signature for requests to the backing data store. If not provided, defaults to what is provided in the endpoint for the connection.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "connection",
        "authProperties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Source"
        }
      ],
      "x-ms-discriminator-value": "Bucket"
    },
    "BucketSourceUpdate": {
      "type": "object",
      "description": "The properties of the backing data store.",
      "properties": {
        "authProperties": {
          "$ref": "#/definitions/AuthPropertiesUpdate",
          "description": "Details for how to authenticate to the backing data store."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SourceUpdate"
        }
      ],
      "x-ms-discriminator-value": "Bucket"
    },
    "Connection": {
      "type": "object",
      "description": "Details related to the type of bucket connection",
      "properties": {
        "type": {
          "$ref": "#/definitions/ConnectionType",
          "description": "Type of the connection - Endpoint or PrivateLink. Controls the type of the connection object. Not mutable once the Storage Connector is created."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ConnectionType": {
      "type": "string",
      "description": "The connection type for bucket connection",
      "enum": [
        "Endpoint",
        "PrivateLink",
        "DataShare"
      ],
      "x-ms-enum": {
        "name": "ConnectionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Endpoint",
            "value": "Endpoint",
            "description": "Endpoint connection type"
          },
          {
            "name": "PrivateLink",
            "value": "PrivateLink",
            "description": "PrivateLink connection type"
          },
          {
            "name": "DataShare",
            "value": "DataShare",
            "description": "DataShare connection type"
          }
        ]
      }
    },
    "Connector": {
      "type": "object",
      "description": "A Connector is a tracked ARM resource modeled as a sub-resource of a Storage Account",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectorProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ConnectorListResult": {
      "type": "object",
      "description": "The response of a Connector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Connector items on this page",
          "items": {
            "$ref": "#/definitions/Connector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConnectorProperties": {
      "type": "object",
      "description": "Details of the Storage Connector.",
      "properties": {
        "uniqueId": {
          "type": "string",
          "description": "System-generated identifier for the Storage Connector. Not a valid input parameter when creating.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "State - Active or Inactive. Whether or not the Storage Connector should start as active (default: Active) (While set to false on the Storage Connector, all data plane requests using this Storage Connector fail, and this Storage Connector is not billed if it would be otherwise.)",
          "default": "Active",
          "enum": [
            "Active",
            "Inactive"
          ],
          "x-ms-enum": {
            "name": "State",
            "modelAsString": true,
            "values": [
              {
                "name": "Active",
                "value": "Active",
                "description": "Whether the connector is active"
              },
              {
                "name": "Inactive",
                "value": "Inactive",
                "description": "Whether the connector is inactive"
              }
            ]
          }
        },
        "creationTime": {
          "type": "string",
          "description": "System-generated creation time for the Storage Connector. Not a valid input parameter when creating.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Arbitrary description of this Storage Connector. Max 250 characters.",
          "maxLength": 250
        },
        "testConnection": {
          "type": "boolean",
          "description": "Test connection to backing data source before creating the storage connector.",
          "default": false,
          "x-ms-mutability": [
            "update",
            "create"
          ]
        },
        "dataSourceType": {
          "$ref": "#/definitions/DataSourceType",
          "description": "The source of the backing data source.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "source": {
          "$ref": "#/definitions/Source",
          "description": "Information about how to communicate with and authenticate to the backing data store."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "dataSourceType",
        "source"
      ]
    },
    "ConnectorPropertiesUpdate": {
      "type": "object",
      "description": "Details of the Storage Connector.",
      "properties": {
        "state": {
          "type": "string",
          "description": "State - Active or Inactive. Whether or not the Storage Connector should start as active (default: Active) (While set to false on the Storage Connector, all data plane requests using this Storage Connector fail, and this Storage Connector is not billed if it would be otherwise.)",
          "default": "Active",
          "enum": [
            "Active",
            "Inactive"
          ],
          "x-ms-enum": {
            "name": "State",
            "modelAsString": true,
            "values": [
              {
                "name": "Active",
                "value": "Active",
                "description": "Whether the connector is active"
              },
              {
                "name": "Inactive",
                "value": "Inactive",
                "description": "Whether the connector is inactive"
              }
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "Arbitrary description of this Storage Connector. Max 250 characters.",
          "maxLength": 250
        },
        "testConnection": {
          "type": "boolean",
          "description": "Test connection to backing data source before creating the storage connector.",
          "default": false,
          "x-ms-mutability": [
            "update",
            "create"
          ]
        },
        "source": {
          "$ref": "#/definitions/SourceUpdate",
          "description": "Information about how to communicate with and authenticate to the backing data store."
        }
      }
    },
    "ConnectorUpdate": {
      "type": "object",
[...]
