{
  "swagger": "2.0",
  "info": {
    "title": "Cloud for Sovereignty Resource Provider.",
    "version": "2026-07-31-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SovereignViewOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Sovereign/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/checkNameAvailability": {
      "post": {
        "operationId": "Operations_CheckNameAvailability",
        "description": "Implements global CheckNameAvailability operations",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_CheckNameAvailability": {
            "$ref": "./examples/Operations_CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "Operations_CheckNameAvailabilityLocal",
        "description": "Implements local CheckNameAvailability operations",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/LocationParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_CheckNameAvailabilityLocal": {
            "$ref": "./examples/Operations_CheckNameAvailabilityLocal.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Sovereign/sovereignViews": {
      "get": {
        "operationId": "SovereignViewOperations_ListBySubscription",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Lists the Sovereign View resources within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_ListBySubscription": {
            "$ref": "./examples/SovereignViewOperations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews": {
      "get": {
        "operationId": "SovereignViewOperations_ListByResourceGroup",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Lists the Sovereign View resources within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_ListByResourceGroup": {
            "$ref": "./examples/SovereignViewOperations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}": {
      "get": {
        "operationId": "SovereignViewOperations_Get",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_Get": {
            "$ref": "./examples/SovereignViewOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SovereignViewOperations_Create",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Creates the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SovereignViewResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            }
          },
          "201": {
            "description": "Resource 'SovereignViewResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_Create": {
            "$ref": "./examples/SovereignViewOperations_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SovereignViewOperations_Update",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Updates the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_Update": {
            "$ref": "./examples/SovereignViewOperations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SovereignViewOperations_Delete",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Deletes the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_Delete": {
            "$ref": "./examples/SovereignViewOperations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/complianceDetails": {
      "post": {
        "operationId": "SovereignViewOperations_ComplianceDetails",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets compliance details for the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewComplianceDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewComplianceDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_ComplianceDetails": {
            "$ref": "./examples/SovereignViewOperations_ComplianceDetails.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/complianceSummary": {
      "post": {
        "operationId": "SovereignViewOperations_ComplianceSummary",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets the compliance summary for the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewComplianceSummaryResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_ComplianceSummary": {
            "$ref": "./examples/SovereignViewOperations_ComplianceSummary.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sovereign/sovereignViews/{sovereignViewName}/filterValues": {
      "post": {
        "operationId": "SovereignViewOperations_FilterValues",
        "tags": [
          "SovereignViewOperations"
        ],
        "description": "Gets filter values for the Sovereign View resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sovereignViewName",
            "in": "path",
            "description": "The name of the Sovereign View resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,64}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SovereignViewFilterValuesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SovereignViewFilterValuesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SovereignViewOperations_FilterValues": {
            "$ref": "./examples/SovereignViewOperations_FilterValues.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AuthoringStatus": {
      "type": "string",
      "description": "The authoring status for a landing zone configuration.",
      "enum": [
        "Authoring",
        "ReadyForUse",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AuthoringStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Authoring",
            "value": "Authoring",
            "description": "This is the default status when a create configuration request is made. In this state, the Landing Zone configuration can be updated."
          },
          {
            "name": "ReadyForUse",
            "value": "ReadyForUse",
            "description": "This status is set when the configuration changes are complete and the configuration is ready for code generation"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "This status is set when the landing zone configuration is no longer in use."
          }
        ]
      }
    },
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ComplianceDimension": {
      "type": "string",
      "description": "The compliance dimension to be associated with the policy initiative.",
      "enum": [
        "DataResidency",
        "EncryptionAtRest",
        "EncryptionInTransit",
        "EncryptionInUse",
        "ControlledNetworkExposure"
      ],
      "x-ms-enum": {
        "name": "ComplianceDimension",
        "modelAsString": true,
        "values": [
          {
            "name": "DataResidency",
            "value": "DataResidency",
            "description": "Data residency compliance dimension."
          },
          {
            "name": "EncryptionAtRest",
            "value": "EncryptionAtRest",
            "description": "Encryption at rest compliance dimension."
          },
          {
            "name": "EncryptionInTransit",
            "value": "EncryptionInTransit",
            "description": "Encryption in transit compliance dimension."
          },
          {
            "name": "EncryptionInUse",
            "value": "EncryptionInUse",
            "description": "Encryption in use compliance dimension."
          },
          {
            "name": "ControlledNetworkExposure",
            "value": "ControlledNetworkExposure",
            "description": "Controlled network exposure compliance dimension."
          }
        ]
      }
    },
    "CreateCopyRequest": {
      "type": "object",
      "description": "The request for the create copy action of landing zone configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the new landing zone configuration resource.",
          "pattern": "^[a-zA-Z0-9-]{3,24}$"
        }
      },
      "required": [
        "name"
      ]
    },
    "CreateCopyResponse": {
      "type": "object",
      "description": "The response of the create copy action of landing zone configuration.",
      "properties": {
        "copiedLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The id of the copied landing zone configuration resource.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneConfigurations"
              }
            ]
          }
        }
      },
      "required": [
        "copiedLandingZoneConfigurationId"
      ]
    },
    "CreateLandingZoneConfigurationCopyRequest": {
      "type": "object",
      "description": "The request for the create copy action of landing zone configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the new landing zone configuration resource.",
          "pattern": "^[a-zA-Z0-9-]{3,64}$"
        }
      },
      "required": [
        "name"
      ]
    },
    "CreateLandingZoneConfigurationCopyResponse": {
      "type": "object",
      "description": "The response of the create copy action of landing zone configuration.",
      "properties": {
        "copiedLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The id of the copied landing zone configuration resource.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneAccounts/landingZoneConfigurations"
              }
            ]
          }
        }
      },
      "required": [
        "copiedLandingZoneConfigurationId"
      ]
    },
    "Culture": {
      "type": "string",
      "description": "Supported cultures.",
      "enum": [
        "cs-CZ",
        "de-DE",
        "en-GB",
        "en-US",
        "es-ES",
        "fr-FR",
        "hu-HU",
        "id-ID",
        "it-IT",
        "ja-JP",
        "ko-KR",
        "nl-NL",
        "pl-PL",
        "pt-BR",
        "pt-PT",
        "ru-RU",
        "sv-SE",
        "tr-TR",
        "zh-CN",
        "zh-TW"
      ],
      "x-ms-enum": {
        "name": "Culture",
        "modelAsString": true,
        "values": [
          {
            "name": "cs_CZ",
            "value": "cs-CZ",
            "description": "Czech (Czechia)"
          },
          {
            "name": "de_DE",
            "value": "de-DE",
            "description": "German (Germany)"
          },
          {
            "name": "en_GB",
            "value": "en-GB",
            "description": "English (United Kingdom)"
          },
          {
            "name": "en_US",
            "value": "en-US",
            "description": "English (United States)"
          },
          {
            "name": "es_ES",
            "value": "es-ES",
            "description": "Spanish (Spain)"
          },
          {
            "name": "fr_FR",
            "value": "fr-FR",
            "description": "French (France)"
          },
          {
            "name": "hu_HU",
            "value": "hu-HU",
            "description": "Hungarian (Hungary)"
          },
          {
            "name": "id_ID",
            "value": "id-ID",
            "description": "Indonesian (Indonesia)"
          },
          {
            "name": "it_IT",
            "value": "it-IT",
            "description": "Italian (Italy)"
          },
          {
            "name": "ja_JP",
            "value": "ja-JP",
            "description": "Japanese (Japan)"
          },
          {
            "name": "ko_KR",
            "value": "ko-KR",
            "description": "Korean (Korea)"
          },
          {
            "name": "nl_NL",
            "value": "nl-NL",
            "description": "Dutch (Netherlands)"
          },
          {
            "name": "pl_PL",
            "value": "pl-PL",
            "description": "Polish (Poland)"
          },
          {
            "name": "pt_BR",
            "value": "pt-BR",
            "description": "Portuguese (Brazil)"
          },
          {
            "name": "pt_PT",
            "value": "pt-PT",
            "description": "Portuguese (Portugal)"
          },
          {
            "name": "ru_RU",
            "value": "ru-RU",
            "description": "Russian (Russia)"
          },
          {
            "name": "sv_SE",
            "value": "sv-SE",
            "description": "Swedish (Sweden)"
          },
          {
            "name": "tr_TR",
            "value": "tr-TR",
            "description": "Turkish (Türkiye)"
          },
          {
            "name": "zh_CN",
            "value": "zh-CN",
            "description": "Chinese (Simplified)"
          },
          {
            "name": "zh_TW",
            "value": "zh-TW",
            "description": "Chinese (Traditional)"
          }
        ]
      }
    },
    "DataState": {
      "type": "string",
      "description": "The state of the report data.",
      "enum": [
        "Processing",
        "Processed",
        "Error"
      ],
      "x-ms-enum": {
        "name": "DataState",
        "modelAsString": true,
        "values": [
          {
            "name": "Processing",
            "value": "Processing",
            "description": "The data is still being processed and is not yet available."
          },
          {
            "name": "Processed",
            "value": "Processed",
            "description": "The data is processed and available."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "An error occurred while processing the data."
          }
        ]
      }
    },
    "DecommissionedManagementGroupProperties": {
      "type": "object",
      "description": "Decommissioned management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false, this management group will not be created. The default value is false."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "DriftResponseArray": {
      "type": "object",
      "description": "The JSON response of the drift API call.",
      "properties": {
        "reportRuntime": {
          "type": "string",
          "description": "The time when the drift analysis was run."
        },
        "landingZoneAccountId": {
          "type": "string",
          "description": "The resource id of landing zone account, landing zone registration is part of."
        },
        "landingZoneRegistrationId": {
          "type": "string",
          "description": "The resource id of landing zone registration where drift operation was triggered from."
        },
        "landingZoneConfigurationId": {
          "type": "string",
          "description": "The resource id of the associated landing zone configuration."
        },
        "managementGroupId": {
          "type": "string",
          "description": "The resource id of the associated management group id."
        },
        "totalEvaluatedRules": {
          "type": "integer",
          "format": "int32",
          "description": "The count of drift rules."
        },
        "totalAnalyzedItems": {
          "type": "integer",
          "format": "int32",
          "description": "The count of items analyzed."
        },
        "totalDriftedItems": {
          "type": "integer",
          "format": "int32",
          "description": "The count of drifted items."
        },
        "driftedItems": {
          "type": "array",
          "description": "Array of Drift JSON response.",
          "items": {
            "$ref": "#/definitions/DriftedItems"
          },
          "x-ms-identifiers": [
            "ruleName",
            "category",
            "priority",
            "detail",
            "identifier"
          ]
        }
      },
      "required": [
        "reportRuntime",
        "landingZoneAccountId",
        "landingZoneRegistrationId",
        "landingZoneConfigurationId",
        "managementGroupId",
        "totalEvaluatedRules",
        "totalAnalyzedItems",
        "totalDriftedItems",
        "driftedItems"
      ]
    },
    "DriftedItems": {
      "type": "object",
      "description": "Structure of each JSON object for Drift API call.",
      "properties": {
        "ruleName": {
          "type": "string",
          "description": "The name of the affected rule."
        },
        "category": {
          "type": "string",
          "description": "The category of the rule."
        },
        "priority": {
          "type": "string",
          "description": "The severity of the drift."
        },
        "detail": {
          "type": "string",
          "description": "The details of the rule."
        },
        "identifier": {
          "type": "string",
          "description": "The identifier of the item."
        }
      },
      "required": [
        "ruleName",
        "category",
        "priority",
        "detail",
        "identifier"
      ]
    },
    "FileFormat": {
      "type": "string",
      "description": "Supported file formats.",
      "enum": [
        "None",
        "CSV"
      ],
      "x-ms-enum": {
        "name": "FileFormat",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No file requested."
          },
          {
            "name": "CSV",
            "value": "CSV",
            "description": "Comma separated values."
          }
        ]
      }
    },
    "FirewallCreationOptions": {
      "type": "string",
      "description": "The input values for creating or using an existing firewall resource.",
      "enum": [
        "None",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "FirewallCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Value when a firewall resource is not created."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Value when the firewall creation is based on the standard SKU."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Value when the firewall creation is based on the premium SKU."
          }
        ]
      }
    },
    "GenerateLandingZoneRequest": {
      "type": "object",
      "description": "The request to generate code for a landing zone.",
      "properties": {
        "infrastructureAsCodeOutputOptions": {
          "$ref": "#/definitions/InfrastructureAsCodeOutputOptions",
          "description": "The export options available for code generation."
        },
        "existingManagementSubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Management subscription fully qualified Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "existingIdentitySubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Identity subscription fully qualified Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "existingConnectivitySubscriptionId": {
          "type": "string",
          "format": "arm-id",
          "description": "Connectivity subscription fully qualified Id.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Subscription/aliases"
              }
            ]
          }
        },
        "subscriptionBillingScope": {
          "type": "string",
          "description": "The full resource ID of billing scope associated to the EA, MCA or MPA account you wish to create the subscription in."
        },
        "existingTopLevelMgParentId": {
          "type": "string",
          "format": "arm-id",
          "description": "Optional parent for management group hierarchy, used as intermediate root management group parent, if specified. If empty, default will deploy beneath tenant toot management group.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "deploymentPrefix": {
          "type": "string",
          "description": "The prefix that will be added to all resources created by this deployment.",
          "minLength": 2,
          "maxLength": 5,
          "pattern": "^([a-zA-Z0-9-]*)$"
        },
        "deploymentSuffix": {
          "type": "string",
          "description": "The suffix that will be added to all resources created by this deployment.",
          "minLength": 2,
          "maxLength": 5
        },
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level management group display name.",
          "minLength": 1,
          "maxLength": 90
        },
        "deploymentLocation": {
          "type": "string",
          "description": "Location to run deployment(s) from the list of azure regions.",
          "pattern": "^([a-zA-Z0-9]+)$"
        },
        "organization": {
          "type": "string",
          "description": "The name of the country/region or agency the landing zone is being deployed for"
        }
      },
      "required": [
        "infrastructureAsCodeOutputOptions",
        "deploymentPrefix",
        "topLevelMgDisplayName",
        "deploymentLocation"
      ]
    },
    "GenerateLandingZoneResponse": {
      "type": "object",
      "description": "The response for the request to generate landing zone code.",
      "properties": {
        "topLevelMgDisplayName": {
          "type": "string",
          "description": "The top level Management Group display name."
        },
        "landingZoneConfigurationName": {
          "type": "string",
          "description": "The name of the Landing Zone configuration resource."
        },
        "generatedCodeUrl": {
          "type": "string",
          "format": "password",
          "description": "The url to access the generated code..",
          "x-ms-secret": true
        },
        "storageAccountName": {
          "type": "string",
          "format": "password",
          "description": "The storage account name to access the generated code.",
          "x-ms-secret": true
        },
        "containerName": {
          "type": "string",
          "format": "password",
          "description": "The storage account container to access the generated code.",
          "x-ms-secret": true
        },
        "blobName": {
          "type": "string",
          "format": "password",
          "description": "The storage account blob name to access the generated code.",
          "x-ms-secret": true
        },
        "generatedArmTemplate": {
          "type": "string",
          "format": "password",
          "description": "The generated code content as a json string.",
          "x-ms-secret": true
        }
      },
      "required": [
        "topLevelMgDisplayName",
        "landingZoneConfigurationName",
        "generatedCodeUrl",
        "storageAccountName",
        "containerName",
        "blobName"
      ]
    },
    "InfrastructureAsCodeOutputOptions": {
      "type": "string",
      "description": "Output options for landing zone code generation.",
      "enum": [
        "Bicep",
        "ARM"
      ],
      "x-ms-enum": {
        "name": "InfrastructureAsCodeOutputOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Bicep",
            "value": "Bicep",
            "description": "Value when generating Landing Zone code in Bicep."
          },
          {
            "name": "ARM",
            "value": "ARM",
            "description": "Value when generating landing zone code in Arm."
          }
        ]
      }
    },
    "LandingZoneAccountResourceProperties": {
      "type": "object",
      "description": "The properties of landing zone account resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing zone account.",
          "readOnly": true
        },
        "storageAccount": {
          "type": "string",
          "format": "arm-id",
          "description": "The storage account that will host the generated slz code.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Storage/storageAccounts"
              }
            ]
          }
        }
      },
      "required": [
        "storageAccount"
      ]
    },
    "LandingZoneConfigurationResourceProperties": {
      "type": "object",
      "description": "The properties of landing zone configuration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing zone configuration.",
          "readOnly": true
        },
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The status for the landing zone configurations workflow.",
          "readOnly": true
        },
        "ddosProtectionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy ddos, choose Yes, otherwise No. Select Existing to provide an existing ddos protection plan."
        },
        "existingDdosProtectionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the ddos protection plan.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/ddosProtectionPlans"
              }
            ]
          }
        },
        "logAnalyticsWorkspaceCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy log analytics workspace, choose Yes, otherwise No. Select UseExisting to provide an existing log analytics workspace."
        },
        "existingLogAnalyticsWorkspaceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the log analytics workspace that was created to centralize log ingestion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.OperationalInsights/workspaces"
              }
            ]
          }
        },
        "tags": {
          "type": "array",
          "description": "Array of tag objects in format of {'name':'a tag name', 'value':'a tag value'}.",
          "items": {
            "$ref": "#/definitions/Tags"
          },
          "x-ms-identifiers": []
        },
        "firewallCreationOption": {
          "$ref": "#/definitions/FirewallCreationOptions",
          "description": "To deploy firewall, choose the Standard/Premium based on the desired SKU. Choose None for no firewall and UseExisting for a pre existing one."
        },
        "firewallSubnetCidrBlock": {
          "type": "string",
          "description": "Azure firewall subnet. IPv4 CIDR block."
        },
        "gatewaySubnetCidrBlock": {
          "type": "string",
          "description": "Gateway subnet. IPv4 CIDR block."
        },
        "logRetentionInDays": {
          "type": "integer",
          "format": "int64",
          "description": "Set how long logs are retained for, in days. Minimum length is 30 and maximum is 730",
          "minimum": 30,
          "maximum": 730
        },
        "hubNetworkCidrBlock": {
          "type": "string",
          "description": "The address space for the VNET. IPv4 CIDR block."
        },
        "azureBastionCreationOption": {
          "$ref": "#/definitions/ResourceCreationOptions",
          "description": "To deploy the bastion service, choose Yes, otherwise No. Choose UseExisting for existing bastion service."
        },
        "existingAzureBastionId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of azure bastion.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Network/bastionHosts"
              }
            ]
          }
        },
        "azureBastionSubnetCidrBlock": {
          "type": "string",
          "description": "Azure bastion subnet. IP v4 CIDR block."
        },
        "landingZonesMgChildren": {
          "type": "array",
          "description": "Landing zone children management group properties",
          "items": {
            "$ref": "#/definitions/LandingZoneManagementGroupProperties"
          },
          "x-ms-identifiers": []
        },
        "topLevelMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the root of the landing zone deployment."
        },
        "landingZonesMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the landing zone management groups."
        },
        "platformMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the platform management group."
        },
        "platformManagementMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the management management group under platform."
        },
        "platformConnectivityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the connectivity management group under platform."
        },
        "platformIdentityMgMetadata": {
          "$ref": "#/definitions/ManagementGroupProperties",
          "description": "This will be applied to the identity management group under platform."
        },
        "decommissionedMgMetadata": {
          "$ref": "#/definitions/DecommissionedManagementGroupProperties",
          "description": "This will be applied to the decommissioned management group."
        },
        "sandboxMgMetadata": {
          "$ref": "#/definitions/SandboxManagementGroupProperties",
          "description": "This will be applied to the sandbox management group."
        },
        "managedIdentity": {
          "$ref": "#/definitions/ManagedIdentityProperties",
          "description": "The managed identity to be tied to this landing zone configuration"
        }
      },
      "required": [
        "ddosProtectionCreationOption",
        "logAnalyticsWorkspaceCreationOption",
        "firewallCreationOption",
        "gatewaySubnetCidrBlock",
        "logRetentionInDays",
        "hubNetworkCidrBlock",
        "azureBastionCreationOption",
        "managedIdentity"
      ]
    },
    "LandingZoneManagementGroupProperties": {
      "type": "object",
      "description": "Landing zone management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Management group name."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "name"
      ]
    },
    "LandingZoneRegistrationResourceProperties": {
      "type": "object",
      "description": "The properties of landing zone registration resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The status of a user-initiated, control-plane operation on the landing Zone registration resource type.",
          "readOnly": true
        },
        "existingTopLevelMgId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the top level management group",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "existingLandingZoneConfigurationId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the associated landing zone configuration.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/landingZoneAccounts/landingZoneConfigurations"
              }
            ]
          }
        }
      },
      "required": [
        "existingTopLevelMgId",
        "existingLandingZoneConfigurationId"
      ]
    },
    "ManagedIdentityProperties": {
      "type": "object",
      "description": "The properties of managed identity.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ManagedIdentityResourceType",
          "description": "The type of managed identity."
        },
        "userAssignedIdentityResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource id of the managed identity.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedIdentity/userAssignedIdentities"
              }
            ]
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "ManagedIdentityResourceType": {
      "type": "string",
      "description": "The authoring status for a landing zone configuration.",
      "enum": [
        "SystemAssigned",
        "UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          }
        ]
      }
    },
    "ManagementGroupProperties": {
      "type": "object",
      "description": "Details of the policy and initiatives associated with the management group.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties"
      ]
    },
    "PolicyComplianceState": {
      "type": "string",
      "description": "Supported compliance states for the policy initiatives.",
      "enum": [
        "Compliant",
        "NonCompliant",
        "Conflict",
        "NotApplicable",
        "NotEvaluated",
        "Others"
      ],
      "x-ms-enum": {
        "name": "PolicyComplianceState",
        "modelAsString": true,
        "values": [
          {
            "name": "Compliant",
            "value": "Compliant",
            "description": "The resource is compliant with respect to the given policy."
          },
          {
            "name": "NonCompliant",
            "value": "NonCompliant",
            "description": "The resource is not compliant with respect to the given policy."
          },
          {
            "name": "Conflict",
            "value": "Conflict",
            "description": "The resource is in a conflict with respect to the given policy."
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable",
            "description": "The resource is in a state that is not applicable to the given policy."
          },
          {
            "name": "NotEvaluated",
            "value": "NotEvaluated",
            "description": "The resource has not been evaluated for compliance with respect to the given policy."
          },
          {
            "name": "Others",
            "value": "Others",
            "description": "The resource is in a compliance state other than Compliant, NonCompliant, Conflict, NotApplicable, or NotEvaluated."
          }
        ]
      }
    },
    "PolicyInitiativeAssignmentProperties": {
      "type": "object",
      "description": "Details of policy assignments",
      "properties": {
        "policyInitiativeId": {
          "type": "string",
          "description": "The fully qualified id of the policy initiative."
        },
        "assignmentParameters": {
          "type": "object",
          "description": "The parameters for the assignment of policy initiatives.",
          "additionalProperties": {}
        }
      },
      "required": [
        "policyInitiativeId",
        "assignmentParameters"
      ]
    },
    "ResourceCreationOptions": {
      "type": "string",
      "description": "Options for resource creation.",
      "enum": [
        "Yes",
        "No",
        "UseExisting"
      ],
      "x-ms-enum": {
        "name": "ResourceCreationOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Yes",
            "value": "Yes",
            "description": "Value to create a new resource."
          },
          {
            "name": "No",
            "value": "No",
            "description": "Value to not create a new resource."
          },
          {
            "name": "UseExisting",
            "value": "UseExisting",
            "description": "Value to use an existing resource."
          }
        ]
      }
    },
    "SandboxManagementGroupProperties": {
      "type": "object",
      "description": "Sandbox management group properties.",
      "properties": {
        "policyInitiativesAssignmentProperties": {
          "type": "array",
          "description": "Array of initiative assignments to be applied to the management group.",
          "items": {
            "$ref": "#/definitions/PolicyInitiativeAssignmentProperties"
          },
          "x-ms-identifiers": []
        },
        "create": {
          "type": "boolean",
          "description": "When set to false this management group will not be created. The default value is false."
        }
      },
      "required": [
        "policyInitiativesAssignmentProperties",
        "create"
      ]
    },
    "SovereignViewComplianceDetail": {
      "type": "object",
      "description": "A compliance detail item for a resource in the sovereign view compliance details action.",
      "properties": {
        "policyInitiativeId": {
          "type": "string",
          "format": "arm-id",
          "description": "The fully qualified id of the policy initiative associated with the compliance detail.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Authorization/policySetDefinitions"
              }
            ]
          }
        },
        "policyAssignmentId": {
          "type": "string",
          "format": "arm-id",
          "description": "The policy assignment for the compliance detail.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Authorization/policyAssignments"
              }
            ]
          }
        },
        "evaluatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The time when compliance was last evaluated by Azure Policy, in RFC3339 format."
        }
      },
      "required": [
        "policyInitiativeId",
        "policyAssignmentId"
      ]
    },
    "SovereignViewComplianceDetailResource": {
      "type": "object",
      "description": "A compliance detail item for a resource.",
      "properties": {
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier."
        },
        "parentResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The parent resource identifier."
        },
        "location": {
          "type": "string",
          "description": "The location of the resource."
        },
        "dimensionDetails": {
          "type": "array",
          "description": "The compliance details for the resource across the dimensions.",
          "items": {
            "$ref": "#/definitions/SovereignViewDimensionDetail"
          },
          "x-ms-identifiers": [
            "dimension"
          ]
        }
      },
      "required": [
        "resourceId",
        "parentResourceId",
        "location",
        "dimensionDetails"
      ]
    },
    "SovereignViewComplianceDetailsDimensionFilter": {
      "type": "object",
      "description": "The filter for compliance details based on compliance dimensions and their states.",
      "properties": {
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The compliance dimension to filter on."
        },
        "states": {
          "type": "array",
          "description": "The compliance states to optionally filter on.",
          "items": {
            "$ref": "#/definitions/PolicyComplianceState"
          }
        }
      },
      "required": [
        "dimension",
        "states"
      ]
    },
    "SovereignViewComplianceDetailsFilterOperators": {
      "type": "string",
      "description": "Supported filter operators for Sovereign View Compliance details.",
      "enum": [
        "In"
      ],
      "x-ms-enum": {
        "name": "SovereignViewComplianceDetailsFilterOperators",
        "modelAsString": true,
        "values": [
          {
            "name": "In",
            "value": "In",
            "description": "In filter operator. Returns results where the field value is in the provided list of values."
          }
        ]
      }
    },
    "SovereignViewComplianceDetailsFilters": {
      "type": "object",
      "description": "The filters to apply when querying for compliance details.",
      "properties": {
        "field": {
          "$ref": "#/definitions/SovereignViewFilterField",
          "description": "The field to filter on."
        },
        "operator": {
          "$ref": "#/definitions/SovereignViewComplianceDetailsFilterOperators",
          "description": "The operator to apply for the filter."
        },
        "value": {
          "type": "array",
          "description": "The values to filter on.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "field",
        "operator",
        "value"
      ]
    },
    "SovereignViewComplianceDetailsRequest": {
      "type": "object",
      "description": "The request for the sovereign view compliance details action.",
      "properties": {
        "top": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources to return. Used for pagination.",
          "minimum": 1
        },
        "skip": {
          "type": "integer",
          "format": "int32",
          "description": "The resources to skip when the results are returned. Used for pagination.",
          "minimum": 0
        },
        "complianceDimensions": {
          "type": "array",
          "description": "The filters for compliance dimensions and their states to apply when querying for compliance details.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailsDimensionFilter"
          },
          "x-ms-identifiers": [
            "dimension"
          ]
        },
        "filters": {
          "type": "array",
          "description": "The filters to apply when querying for compliance details.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailsFilters"
          },
          "x-ms-identifiers": [
            "field",
            "operator"
          ]
        },
        "sort": {
          "type": "array",
          "description": "The sorting to apply when querying for compliance details.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailsSort"
          }
        },
        "search": {
          "$ref": "#/definitions/SovereignViewComplianceDetailsSearch",
          "description": "The search to apply when querying for compliance details."
        }
      },
      "required": [
        "top"
      ]
    },
    "SovereignViewComplianceDetailsResponse": {
      "type": "object",
      "description": "The response for the sovereign view compliance details action.",
      "properties": {
        "dataState": {
          "$ref": "#/definitions/DataState",
          "description": "State indicating whether the data is processed or still being processed."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details when dataState is Error."
        },
        "lastEvaluated": {
          "type": "string",
          "format": "date-time",
          "description": "The time when compliance was last evaluated overall, in RFC3339 format."
        },
        "totalResources": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of resources for the sovereign view.",
          "minimum": 0
        },
        "resources": {
          "type": "array",
          "description": "The list of compliance detail resources.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailResource"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "dataState",
        "lastEvaluated"
      ]
    },
    "SovereignViewComplianceDetailsSearch": {
      "type": "object",
      "description": "Search field and query for Sovereign View Compliance details.",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field to search on."
        },
        "value": {
          "type": "string",
          "description": "The value to search for in the specified field."
        }
      },
      "required": [
        "field",
        "value"
      ]
    },
    "SovereignViewComplianceDetailsSort": {
      "type": "object",
      "description": "The sorting for compliance details.",
      "properties": {
        "field": {
          "type": "string",
          "description": "The field to sort on."
        },
        "direction": {
          "$ref": "#/definitions/SovereignViewComplianceDetailsSortDirections",
          "description": "The direction to sort in."
        },
        "sortingOrder": {
          "type": "array",
          "description": "The order of sorting to apply when querying for compliance details. Works with policy states.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "field",
        "direction"
      ]
    },
    "SovereignViewComplianceDetailsSortDirections": {
      "type": "string",
      "description": "Supported sort directions for Sovereign View Compliance details.",
      "enum": [
        "asc",
        "desc"
      ],
      "x-ms-enum": {
        "name": "SovereignViewComplianceDetailsSortDirections",
        "modelAsString": true,
        "values": [
          {
            "name": "Asc",
            "value": "asc",
            "description": "Ascending sort direction."
          },
          {
            "name": "Desc",
            "value": "desc",
            "description": "Descending sort direction."
          }
        ]
      }
    },
    "SovereignViewComplianceDimensionSummary": {
      "type": "object",
      "description": "The compliance summary for a specific dimension in the sovereign view compliance summary action.",
      "properties": {
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The dimension representing this summary."
        },
        "totalResources": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of resources for the sovereign view.",
          "minimum": 0
        },
        "compliantCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in compliant state for the sovereign view.",
          "minimum": 0
        },
        "nonCompliantCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in non-compliant state for the sovereign view.",
          "minimum": 0
        },
        "conflictCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in conflict state for the sovereign view.",
          "minimum": 0
        },
        "notApplicableCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in not applicable state for the sovereign view.",
          "minimum": 0
        },
        "notEvaluatedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in not evaluated state for the sovereign view.",
          "minimum": 0
        },
        "othersCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in other compliance states for the sovereign view.",
          "minimum": 0
        }
      },
      "required": [
        "dimension",
        "totalResources",
        "compliantCount",
        "nonCompliantCount",
        "conflictCount",
        "notApplicableCount",
        "notEvaluatedCount",
        "othersCount"
      ]
    },
    "SovereignViewComplianceOverallSummary": {
      "type": "object",
      "description": "The overall compliance summary in the sovereign view compliance summary action.",
      "properties": {
        "totalManagementGroups": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of management groups for the sovereign view.",
          "minimum": 0
        },
        "totalSubscriptions": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of subscriptions for the sovereign view.",
          "minimum": 0
        },
        "totalResourceGroups": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of resource groups for the sovereign view.",
          "minimum": 0
        },
        "totalResources": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of resources for the sovereign view.",
          "minimum": 0
        },
        "compliantCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in compliant state for the sovereign view.",
          "minimum": 0
        },
        "nonCompliantCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in non-compliant state for the sovereign view.",
          "minimum": 0
        },
        "conflictCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in conflict state for the sovereign view.",
          "minimum": 0
        },
        "notApplicableCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in not applicable state for the sovereign view.",
          "minimum": 0
        },
        "notEvaluatedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in not evaluated state for the sovereign view.",
          "minimum": 0
        },
        "othersCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of resources in other compliance states for the sovereign view.",
          "minimum": 0
        }
      },
      "required": [
        "totalManagementGroups",
        "totalSubscriptions",
        "totalResourceGroups",
        "totalResources",
        "compliantCount",
        "nonCompliantCount",
        "conflictCount",
        "notApplicableCount",
        "notEvaluatedCount",
        "othersCount"
      ]
    },
    "SovereignViewComplianceSummaryResponse": {
      "type": "object",
      "description": "The response for the sovereign view compliance summary action.",
      "properties": {
        "dataState": {
          "$ref": "#/definitions/DataState",
          "description": "State indicating whether the data is processed or still being processed."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details when dataState is Error."
        },
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the sovereign view.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sovereign/sovereignViews"
              }
            ]
          }
        },
        "lastEvaluated": {
          "type": "string",
          "format": "date-time",
          "description": "The time when compliance was last evaluated, in RFC3339 format."
        },
        "overallSummary": {
          "$ref": "#/definitions/SovereignViewComplianceOverallSummary",
          "description": "The overall summary of compliance across all resources in scope."
        },
        "dimensionSummaries": {
          "type": "array",
          "description": "The list of compliance summaries for the dimensions in scope.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDimensionSummary"
          },
          "x-ms-identifiers": [
            "dimension"
          ]
        }
      },
      "required": [
        "dataState",
        "lastEvaluated"
      ]
    },
    "SovereignViewDimensionDetail": {
      "type": "object",
      "description": "A compliance detail item for a resource in the sovereign view compliance details action.",
      "properties": {
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The compliance dimension for the compliance detail."
        },
        "state": {
          "$ref": "#/definitions/PolicyComplianceState",
          "description": "The compliance state of the resource for the dimension."
        },
        "complianceDetails": {
          "type": "array",
          "description": "The compliance details for the given dimension.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetail"
          },
          "x-ms-identifiers": [
            "policyAssignmentId"
          ]
        }
      },
      "required": [
        "dimension",
        "state",
        "complianceDetails"
      ]
    },
    "SovereignViewFilterField": {
      "type": "string",
      "description": "Supported filter fields for Sovereign View compliance details.",
      "enum": [
        "Subscription",
        "ResourceGroup",
        "ResourceName",
        "ResourceType",
        "Region",
        "EncryptionInTransit",
        "DataResidency",
        "EncryptionAtRest",
        "EncryptionInUse",
        "ControlledNetworkExposure",
        "ParentResourceName"
      ],
      "x-ms-enum": {
        "name": "SovereignViewFilterField",
        "modelAsString": true,
        "values": [
          {
            "name": "subscription",
            "value": "Subscription",
            "description": "Filter by subscription."
          },
          {
            "name": "resourceGroup",
            "value": "ResourceGroup",
            "description": "Filter by resource group."
          },
          {
            "name": "resourceName",
            "value": "ResourceName",
            "description": "Filter by resource name."
          },
          {
            "name": "resourceType",
            "value": "ResourceType",
            "description": "Filter by resource type."
          },
          {
            "name": "region",
            "value": "Region",
            "description": "Filter by region."
          },
          {
            "name": "encryptionInTransit",
            "value": "EncryptionInTransit",
            "description": "Filter by Encryption In Transit compliance dimension."
          },
          {
            "name": "dataResidency",
            "value": "DataResidency",
            "description": "Filter by Data Residency compliance dimension."
          },
          {
            "name": "encryptionAtRest",
            "value": "EncryptionAtRest",
            "description": "Filter by Encryption At Rest compliance dimension."
          },
          {
            "name": "encryptionInUse",
            "value": "EncryptionInUse",
            "description": "Filter by Encryption In Use compliance dimension."
          },
          {
            "name": "controlledNetworkExposure",
            "value": "ControlledNetworkExposure",
            "description": "Filter by Controlled Network Exposure compliance dimension."
          },
          {
            "name": "parentResourceName",
            "value": "ParentResourceName",
            "description": "Filter by parent resource name."
          }
        ]
      }
    },
    "SovereignViewFilterValueItem": {
      "type": "object",
      "description": "A filter value item with the associated count.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The value for the filter."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for the filter value."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The count of resources that match the filter value.",
          "minimum": 0
        }
      },
      "required": [
        "value",
        "count"
      ]
    },
    "SovereignViewFilterValuesRequest": {
      "type": "object",
      "description": "The request for the sovereign view filter values action.",
      "properties": {
        "requestedFilter": {
          "$ref": "#/definitions/SovereignViewFilterField",
          "description": "The filter field for which values are requested."
        },
        "filters": {
          "type": "array",
          "description": "Optional filters to apply before returning filter values.",
          "items": {
            "$ref": "#/definitions/SovereignViewComplianceDetailsFilters"
          },
          "x-ms-identifiers": [
            "field",
            "operator"
          ]
        },
        "searchTerm": {
          "type": "string",
          "description": "Optional search term applied to the requested filter field."
        }
      },
      "required": [
        "requestedFilter"
      ]
    },
    "SovereignViewFilterValuesResponse": {
      "type": "object",
      "description": "The response for the sovereign view filter values action.",
      "properties": {
        "dataState": {
          "$ref": "#/definitions/DataState",
          "description": "State indicating whether the data is processed or still being processed."
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error details when dataState is Error."
        },
        "requestedFilter": {
          "$ref": "#/definitions/SovereignViewFilterField",
          "description": "The filter field for which values are returned."
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of values available for the requested filter.",
          "minimum": 0
        },
        "values": {
          "type": "array",
          "description": "The list of filter values and their counts.",
          "items": {
            "$ref": "#/definitions/SovereignViewFilterValueItem"
          },
          "x-ms-identifiers": [
            "value"
          ]
        }
      },
      "required": [
        "dataState"
      ]
    },
    "SovereignViewManagementGroupScope": {
      "type": "object",
      "description": "A management group scope item for the sovereign view.",
      "properties": {
        "id": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the management group.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Management/managementGroups"
              }
            ]
          }
        },
        "name": {
          "type": "string",
          "description": "The management group name. This is a purely client side label that the service does not validate, normalize, or use for any lookup."
        }
      },
      "required": [
        "id"
      ]
    },
    "SovereignViewPolicyInitiativeDetail": {
      "type": "object",
      "description": "The policy initiative details for the sovereign view.",
      "properties": {
        "policyInitiativeId": {
          "type": "string",
          "format": "arm-id",
          "description": "The fully qualified id of the policy initiative.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Authorization/policySetDefinitions"
              }
            ]
          }
        },
        "dimension": {
          "$ref": "#/definitions/ComplianceDimension",
          "description": "The compliance dimension associated with the policy initiative."
        },
        "policyAssignmentIds": {
          "type": "array",
          "description": "The policy assignment Ids generated during assignment of the policy initiative to a scope.",
          "items": {
            "type": "string",
            "format": "arm-id",
            "description": "A type definition that refers the id to an Azure Resource Manager resource.",
            "x-ms-arm-id-details": {
              "allowedResources": [
                {
                  "type": "Microsoft.Authorization/policyAssignments"
                }
              ]
            }
          },
          "readOnly": true
        },
        "policyVersion": {
          "type": "string",
          "description": "The version of the policy initiative."
        },
        "assignmentParameters": {
          "type": "object",
          "description": "The parameters for the assignment of policy initiatives.",
          "additionalProperties": {}
        }
      },
      "required": [
        "policyInitiativeId",
        "dimension",
        "policyVersion",
        "assignmentParameters"
      ]
    },
    "SovereignViewResource": {
      "type": "object",
      "description": "The Sovereign View resource type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SovereignViewResourceProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/SystemAssignedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SovereignViewResourceListResult": {
      "type": "object",
      "description": "The response of a SovereignViewResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SovereignViewResource items on this page",
          "items": {
            "$ref": "#/definitions/SovereignViewResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SovereignViewResourcePatch": {
      "type": "object",
      "description": "The patch model for the sovereign view resource type.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/SystemAssignedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      }
    },
    "SovereignViewResourceProperties": {
      "type": "object",
      "description": "The properties of the sovereign view resource type.",
      "properties": {
        "scope": {
          "$ref": "#/definitions/SovereignViewScope",
          "description": "The scope to apply for configuration.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "policyInitiatives": {
          "type": "array",
          "description": "The policy initiatives selected for the sovereign view.",
          "items": {
            "$ref": "#/definitions/SovereignViewPolicyInitiativeDetail"
          },
          "x-ms-identifiers": [
            "policyInitiativeId"
          ],
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/provisioningState",
          "description": "The status of a user-initiated, control-plane operation on the sovereign view resource type.",
          "readOnly": true
        }
      },
      "required": [
        "scope",
        "policyInitiatives"
      ]
    },
    "SovereignViewScope": {
      "type": "object",
      "description": "The scope for the sovereign view in terms of the resources it would evaluate.",
      "properties": {
        "managementGroups": {
          "type": "array",
          "description": "The management groups in scope.",
          "items": {
            "$ref": "#/definitions/SovereignViewManagementGroupScope"
          }
        },
        "subscriptions": {
          "type": "array",
          "description": "The subscriptions in scope.",
          "items": {
            "$ref": "#/definitions/SovereignViewSubscriptionScope"
          }
        }
      }
    },
    "SovereignViewSubscriptionScope": {
      "type": "object",
      "description": "A subscription scope item for the sovereign view.",
      "properties": {
        "id": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "The subscription id."
        },
        "name": {
          "type": "string",
          "description": "The subscription name. This is a purely client side label that the service does not validate, normalize, or use for any lookup."
        }
      },
      "required": [
        "id"
      ]
    },
    "Tags": {
      "type": "object",
      "description": "The details associated with tags.",
      "properties": {
        "name": {
          "type": "string",
          "description": "A tag name."
        },
        "value": {
          "type": "string",
          "description": "A tag value."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "TransparencyLogProperties": {
      "type": "object",
      "description": "The properties of the Transparency Log resource type.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of a user-initiated, control-plane operation on the Transparency Log.",
          "readOnly": true
        },
        "emailCultures": {
          "type": "array",
          "description": "Culture that will be used in email formatting.",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/Culture"
          }
        },
        "emailAttachmentFormat": {
          "$ref": "#/definitions/FileFormat",
          "description": "The format of Transparency Log email attachments."
        }
      },
      "required": [
        "emailCultures"
      ]
    },
    "UpdateAuthoringStatusRequest": {
      "type": "object",
      "description": "The request to update authoring status of a configuration.",
      "properties": {
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The value of the authoring status to be updated."
        }
      },
      "required": [
        "authoringStatus"
      ]
    },
    "UpdateAuthoringStatusResponse": {
      "type": "object",
      "description": "The response for the request to update authoring status.",
      "properties": {
        "landingZoneConfigurationName": {
          "type": "string",
          "description": "The name of the landing zone configuration resource."
        },
        "authoringStatus": {
          "$ref": "#/definitions/AuthoringStatus",
          "description": "The value of the authoring status to be updated."
        }
      },
      "required": [
        "landingZoneConfigurationName",
        "authoringStatus"
      ]
    },
    "provisioningState": {
      "type": "string",
      "description": "The custom provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "provisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The state of the resource when creating"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The state of the resource when updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The state of the resource when deleting"
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
