{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Cosmic Management Service",
    "version": "2026-03-01-preview",
    "description": "Microsoft.Cosmic Resource Provider Management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Namespaces"
    },
    {
      "name": "Environments"
    },
    {
      "name": "DeletedEnvironments"
    },
    {
      "name": "HealthMetadatas"
    }
  ],
  "paths": {
    "/providers/Microsoft.Cosmic/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cosmic/checkNameAvailability": {
      "post": {
        "operationId": "Namespaces_CheckNameAvailability",
        "tags": [
          "Namespaces"
        ],
        "description": "Checks that the Cosmic namespace name is valid and is not already in use within the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Checks the availability of a Cosmic namespace name.": {
            "$ref": "./examples/Namespaces_CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cosmic/namespaces": {
      "get": {
        "operationId": "Namespaces_ListBySubscription",
        "tags": [
          "Namespaces"
        ],
        "description": "List Namespace resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_ListBySubscription_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces": {
      "get": {
        "operationId": "Namespaces_ListByResourceGroup",
        "tags": [
          "Namespaces"
        ],
        "description": "List Namespace resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_ListByResourceGroup_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}": {
      "get": {
        "operationId": "Namespaces_Get",
        "tags": [
          "Namespaces"
        ],
        "description": "Get a Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Namespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Namespaces_CreateOrUpdate",
        "tags": [
          "Namespaces"
        ],
        "description": "Create a Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Namespace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Namespace' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Namespace"
            }
          },
          "201": {
            "description": "Resource 'Namespace' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Namespace"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Namespaces_Update",
        "tags": [
          "Namespaces"
        ],
        "description": "Update a Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NamespaceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Namespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Namespaces_Delete",
        "tags": [
          "Namespaces"
        ],
        "description": "Delete a Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/deletedEnvironments": {
      "get": {
        "operationId": "DeletedEnvironments_ListByNamespace",
        "tags": [
          "DeletedEnvironments"
        ],
        "description": "List all soft-deleted environments within the parent namespace.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedEnvironmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List soft-deleted environments within a namespace": {
            "$ref": "./examples/DeletedEnvironments_ListByNamespace.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/deletedEnvironments/{deletedEnvironmentName}": {
      "get": {
        "operationId": "DeletedEnvironments_Get",
        "tags": [
          "DeletedEnvironments"
        ],
        "description": "Get a soft-deleted environment by name within the parent namespace.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "deletedEnvironmentName",
            "in": "path",
            "description": "The name of the soft-deleted environment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedEnvironment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a soft-deleted environment by name": {
            "$ref": "./examples/DeletedEnvironments_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/deletedEnvironments/{deletedEnvironmentName}/purge": {
      "post": {
        "operationId": "DeletedEnvironments_Purge",
        "tags": [
          "DeletedEnvironments"
        ],
        "description": "Permanently purge a soft-deleted environment, tearing down the underlying NPS namespace instances. Takes the platform ring in the request body for APIM routing. Blocked with 403 when purge protection is enabled; returns 404 when no soft-deleted environment with the given name exists.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "deletedEnvironmentName",
            "in": "path",
            "description": "The name of the soft-deleted environment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletedEnvironmentActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedEnvironmentPurgeResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Purge a soft-deleted environment": {
            "$ref": "./examples/DeletedEnvironments_Purge.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/deletedEnvironments/{deletedEnvironmentName}/restore": {
      "post": {
        "operationId": "DeletedEnvironments_Restore",
        "tags": [
          "DeletedEnvironments"
        ],
        "description": "Restore a soft-deleted environment back to active state during the retention window. Takes the platform ring in the request body for APIM routing.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "deletedEnvironmentName",
            "in": "path",
            "description": "The name of the soft-deleted environment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeletedEnvironmentActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedEnvironmentRestoreResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Restore a soft-deleted environment": {
            "$ref": "./examples/DeletedEnvironments_Restore.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/environments": {
      "get": {
        "operationId": "Environments_ListByNamespace",
        "tags": [
          "Environments"
        ],
        "description": "List Environment resources by Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnvironmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_ListByNamespace_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_ListByNamespace_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/environments/{environmentName}": {
      "get": {
        "operationId": "Environments_Get",
        "tags": [
          "Environments"
        ],
        "description": "Get a Environment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CosmicEnvironment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Environments_CreateOrUpdate",
        "tags": [
          "Environments"
        ],
        "description": "Create a Environment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CosmicEnvironment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Environment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CosmicEnvironment"
            }
          },
          "201": {
            "description": "Resource 'Environment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CosmicEnvironment"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Environments_Update",
        "tags": [
          "Environments"
        ],
        "description": "Update a Environment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnvironmentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CosmicEnvironment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_Update_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Environments_Delete",
        "tags": [
          "Environments"
        ],
        "description": "Delete a Environment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "environmentName",
            "in": "path",
            "description": "The name of the environment.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Environments_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Environments_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/migrate": {
      "post": {
        "operationId": "Namespaces_Migrate",
        "tags": [
          "Namespaces"
        ],
        "description": "Migrate an environment to ARM management. One-time, irreversible ownership transfer that flips the source label on all targeted instances.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrateResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Migrate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_Migrate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/preview": {
      "post": {
        "operationId": "Namespaces_Preview",
        "tags": [
          "Namespaces"
        ],
        "description": "Preview an environment resource in ARM without writing to inventory. Used for experimentation before committing to migration.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreviewRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreviewResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Preview_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_Preview_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/validate": {
      "post": {
        "operationId": "Namespaces_Validate",
        "tags": [
          "Namespaces"
        ],
        "description": "Validate an environment by comparing the ARM resource against live inventory. Returns a list of differences.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ValidateResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces_Validate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Namespaces_Validate_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/healthMetadatas": {
      "get": {
        "operationId": "HealthMetadatas_ListByNamespace",
        "tags": [
          "HealthMetadatas"
        ],
        "description": "List HealthMetadata resources by Namespace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthMetadataListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cosmic/namespaces/{namespaceName}/healthMetadatas/{healthMetadataName}": {
      "get": {
        "operationId": "HealthMetadatas_Get",
        "tags": [
          "HealthMetadatas"
        ],
        "description": "Get a HealthMetadata",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "healthMetadataName",
            "in": "path",
            "description": "The name of the health metadata resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthMetadata"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "HealthMetadatas_CreateOrUpdate",
        "tags": [
          "HealthMetadatas"
        ],
        "description": "Create a HealthMetadata",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "healthMetadataName",
            "in": "path",
            "description": "The name of the health metadata resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HealthMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HealthMetadata' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HealthMetadata"
            }
          },
          "201": {
            "description": "Resource 'HealthMetadata' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HealthMetadata"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "HealthMetadatas_Update",
        "tags": [
          "HealthMetadatas"
        ],
        "description": "Update a HealthMetadata",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "healthMetadataName",
            "in": "path",
            "description": "The name of the health metadata resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HealthMetadataUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HealthMetadata"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "HealthMetadatas_Delete",
        "tags": [
          "HealthMetadatas"
        ],
        "description": "Delete a HealthMetadata",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "the name of the namespace.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 35,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "healthMetadataName",
            "in": "path",
            "description": "The name of the health metadata resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.azureLocation": {
      "type": "string",
      "description": "Represents an Azure geography region where supported resource providers live."
    },
    "CapacityPolicy": {
      "type": "object",
      "description": "Capacity configuration for the environment.",
      "properties": {
        "locations": {
          "type": "array",
          "description": "Per-location desired capacity keyed by canonical Azure region name.",
          "items": {
            "$ref": "#/definitions/LocationCapacity"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "CosmicEnvironment": {
      "type": "object",
      "description": "An Environment resource representing a per-ring deployment environment within a namespace.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CosmicEnvironmentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CosmicEnvironmentProperties": {
      "type": "object",
      "description": "Properties of an Environment resource.",
      "properties": {
        "platformRing": {
          "$ref": "#/definitions/CosmicRing",
          "description": "Platform ring classification (e.g. test, sdf, msit, prod).",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "topology": {
          "$ref": "#/definitions/Topology",
          "description": "Topology configuration including per-location networking and partition declarations."
        },
        "capacity": {
          "$ref": "#/definitions/CapacityPolicy",
          "description": "Capacity configuration for the environment."
        },
        "resourcePolicy": {
          "$ref": "#/definitions/ResourcePolicy",
          "description": "Resource policy configuration for the environment."
        },
        "isolationGroup": {
          "type": "string",
          "description": "Isolation group override for cluster bin-packing affinity. When set, all NamespaceInstances in this environment are placed on this isolation group instead of the parent namespace's isolationGroup. Useful when different environments of the same namespace (e.g. dev vs prod) should target different clusters. Cannot be changed after environment creation.",
          "minLength": 1,
          "maxLength": 63,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "status": {
          "$ref": "#/definitions/EnvironmentStatus",
          "description": "The status of the environment.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/CosmicProvisioningState",
          "description": "The provisioning state of the environment resource.",
          "readOnly": true
        }
      },
      "required": [
        "capacity"
      ]
    },
    "CosmicProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a Cosmic resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "CosmicProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource creation request has been accepted."
          }
        ]
      },
      "readOnly": true
    },
    "CosmicRing": {
      "type": "string",
      "description": "Cosmic Rings.",
      "enum": [
        "plat",
        "dev",
        "rnr",
        "tdf",
        "infra",
        "test",
        "sdf",
        "msit",
        "prod",
        "gallatin",
        "bleu",
        "delos",
        "gcc",
        "gcch",
        "dod",
        "ag08",
        "ag09"
      ],
      "x-ms-enum": {
        "name": "CosmicRing",
        "modelAsString": true,
        "values": [
          {
            "name": "Plat",
            "value": "plat",
            "description": "Plat ring"
          },
          {
            "name": "Dev",
            "value": "dev",
            "description": "Dev ring"
          },
          {
            "name": "Rnr",
            "value": "rnr",
            "description": "Rnr ring"
          },
          {
            "name": "Tdf",
            "value": "tdf",
            "description": "Tdf ring"
          },
          {
            "name": "Infra",
            "value": "infra",
            "description": "Infra ring"
          },
          {
            "name": "Test",
            "value": "test",
            "description": "Test ring"
          },
          {
            "name": "Sdf",
            "value": "sdf",
            "description": "SDF ring"
          },
          {
            "name": "Msit",
            "value": "msit",
            "description": "MSIT ring"
          },
          {
            "name": "Prod",
            "value": "prod",
            "description": "Prod ring"
          },
          {
            "name": "Gallatin",
            "value": "gallatin",
            "description": "Gallatin ring"
          },
          {
            "name": "Bleu",
            "value": "bleu",
            "description": "Bleu ring"
          },
          {
            "name": "Delos",
            "value": "delos",
            "description": "Delos ring"
          },
          {
            "name": "Gcc",
            "value": "gcc",
            "description": "GCC ring"
          },
          {
            "name": "Gcch",
            "value": "gcch",
            "description": "GCCH ring"
          },
          {
            "name": "Dod",
            "value": "dod",
            "description": "DOD ring"
          },
          {
            "name": "Ag08",
            "value": "ag08",
            "description": "Ag08 ring"
          },
          {
            "name": "Ag09",
            "value": "ag09",
            "description": "Ag09 ring"
          }
        ]
      }
    },
    "DeletedEnvironment": {
      "type": "object",
      "description": "A soft-deleted Environment, surfaced as a read-only tombstone under its parent namespace. Lists, restores, and purges are performed against this proxy resource while the namespace remains live.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeletedEnvironmentProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeletedEnvironmentActionRequest": {
      "type": "object",
      "description": "Request body for the soft-deleted environment actions (purge, restore), carrying the platform ring so APIM can route the request to the target ring's RP instance. The soft-deleted environment is a proxy resource (not cached by ARM/MetaRP), so the ring is supplied explicitly rather than read from a replayed body.",
      "properties": {
        "platformRing": {
          "$ref": "#/definitions/CosmicRing",
          "description": "Platform ring classification (e.g. test, sdf, msit, prod). Used by APIM to route the request to the target ring's RP instance."
        }
      },
      "required": [
        "platformRing"
      ]
    },
    "DeletedEnvironmentDeleteMetadata": {
      "type": "object",
      "description": "Soft-delete metadata for a deleted environment. All properties are read-only and owned by the resource provider.",
      "properties": {
        "deletedAt": {
          "type": "string",
          "format": "date-time",
          "description": "UTC instant at which the environment was soft-deleted.",
          "readOnly": true
        },
        "purgeAfter": {
          "type": "string",
          "format": "date-time",
          "description": "UTC instant at which the soft-deleted environment is eligible for automatic purge (deletedAt + retentionPeriod).",
          "readOnly": true
        },
        "retentionPeriod": {
          "type": "string",
          "description": "Retention bucket applied to this soft-deleted environment (ISO 8601 duration, e.g. P30DT0H0M).",
          "readOnly": true
        },
        "purgeProtection": {
          "type": "boolean",
          "description": "When true, the environment cannot be manually purged during the retention window.",
          "readOnly": true
        },
        "deletedBy": {
          "type": "string",
          "description": "Identity that initiated the delete (non-sensitive context only).",
          "readOnly": true
        }
      }
    },
    "DeletedEnvironmentListResult": {
      "type": "object",
      "description": "The response of a DeletedEnvironment list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeletedEnvironment items on this page",
          "items": {
            "$ref": "#/definitions/DeletedEnvironment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeletedEnvironmentProperties": {
      "type": "object",
      "description": "Properties of a soft-deleted environment. All properties are read-only; the soft-delete state is owned by the resource provider.",
      "properties": {
        "deleteMetadata": {
          "$ref": "#/definitions/DeletedEnvironmentDeleteMetadata",
          "description": "Soft-delete bookkeeping (when it was deleted, retention, purge eligibility, who deleted it).",
          "readOnly": true
        },
        "environment": {
          "$ref": "#/definitions/CosmicEnvironmentProperties",
          "description": "The captured environment configuration at soft-delete time. Mirrors the original resource's properties so a GET on the deleted environment surfaces the full typed body (Key Vault DeletedKeyBundle style).",
          "readOnly": true
        }
      }
    },
    "DeletedEnvironmentPurgeResult": {
      "type": "object",
      "description": "Response body for the purge action.",
      "properties": {
        "environmentName": {
          "type": "string",
          "description": "The name of the environment that was purged."
        },
        "purged": {
          "type": "boolean",
          "description": "Whether the purge succeeded for all instances of the environment."
        },
        "reason": {
          "type": "string",
          "description": "Failure detail when the purge did not fully succeed (no secrets). Null on success."
        }
      },
      "required": [
        "environmentName",
        "purged"
      ]
    },
    "DeletedEnvironmentRestoreResult": {
      "type": "object",
      "description": "Response body for the restore action.",
      "properties": {
        "environmentName": {
          "type": "string",
          "description": "The name of the environment that was restored."
        },
        "restored": {
          "type": "boolean",
          "description": "Whether the restore succeeded for all instances of the environment."
        },
        "reason": {
          "type": "string",
          "description": "Failure detail when the restore did not fully succeed (no secrets). Null on success."
        }
      },
      "required": [
        "environmentName",
        "restored"
      ]
    },
    "EgressPublicIps": {
      "type": "object",
      "description": "Egress public IP configuration using BYOIP.",
      "properties": {
        "ipTagType": {
          "$ref": "#/definitions/IpTagType",
          "description": "The IP tag type for egress.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ipTagValue": {
          "type": "string",
          "description": "The IP tag value for egress.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ipCapacity": {
          "type": "string",
          "description": "The IP capacity for egress.",
          "pattern": "^(2|4|8|16)$"
        },
        "ipVersion": {
          "$ref": "#/definitions/IpVersion",
          "description": "The IP version (IPv4 or IPv6). Defaults to IPv4.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "EnvironmentDefaultPolicy": {
      "type": "object",
      "description": "Environment-scoped default resource policy.",
      "properties": {
        "podResources": {
          "type": "array",
          "description": "Per-service pod resource specifications.",
          "items": {
            "$ref": "#/definitions/PodSpec"
          },
          "x-ms-identifiers": []
        },
        "os": {
          "$ref": "#/definitions/OsType",
          "description": "The operating system type.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ipVersion": {
          "$ref": "#/definitions/IpVersion",
          "description": "The IP version (IPv4 or IPv6)."
        },
        "vmFamily": {
          "type": "string",
          "description": "The Azure VM family for cluster selection (e.g., 'D_FLEX', 'F_FLEX', 'DV4').",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "EnvironmentListResult": {
      "type": "object",
      "description": "The response of a Environment list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Environment items on this page",
          "items": {
            "$ref": "#/definitions/CosmicEnvironment"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EnvironmentStatus": {
      "type": "object",
      "description": "Status of the environment.",
      "properties": {
        "realizationState": {
          "$ref": "#/definitions/RealizationState",
          "description": "The overall realization state."
        },
        "realizations": {
          "type": "array",
          "description": "Per-region realization details.",
          "items": {
            "$ref": "#/definitions/Realization"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "EnvironmentUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Environment.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/EnvironmentUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "EnvironmentUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Environment.",
      "properties": {
        "topology": {
          "$ref": "#/definitions/Topology",
          "description": "Topology configuration including per-location networking and partition declarations."
        },
        "capacity": {
          "$ref": "#/definitions/CapacityPolicy",
          "description": "Capacity configuration for the environment."
        },
        "resourcePolicy": {
          "$ref": "#/definitions/ResourcePolicy",
          "description": "Resource policy configuration for the environment."
        }
      }
    },
    "GpuDriverType": {
      "type": "string",
      "description": "The GPU driver type.",
      "enum": [
        "CUDA",
        "GRID"
      ],
      "x-ms-enum": {
        "name": "GpuDriverType",
        "modelAsString": true,
        "values": [
          {
            "name": "CUDA",
            "value": "CUDA",
            "description": "CUDA driver for compute workloads."
          },
          {
            "name": "GRID",
            "value": "GRID",
            "description": "GRID driver for visualization workloads."
          }
        ]
      }
    },
    "HealthState": {
      "type": "string",
      "description": "The health state of an environment resource.",
      "enum": [
        "Healthy",
        "Unhealthy",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "HealthState",
        "modelAsString": true,
        "values": [
          {
            "name": "Healthy",
            "value": "Healthy",
            "description": "The environment is healthy."
          },
          {
            "name": "Unhealthy",
            "value": "Unhealthy",
            "description": "The environment is unhealthy."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The health state is unknown."
          }
        ]
      }
    },
    "IngressPublicIp": {
      "type": "object",
      "description": "Ingress public IP configuration using BYOIP.",
      "properties": {
        "ipTagType": {
          "$ref": "#/definitions/IpTagType",
          "description": "The IP tag type for ingress."
        },
        "ipTagValue": {
          "type": "string",
          "description": "The IP tag value for ingress."
        },
        "names": {
          "type": "array",
          "description": "Names associated with this ingress IP configuration.",
          "items": {
            "type": "string"
          }
        },
        "ipVersion": {
          "$ref": "#/definitions/IpVersion",
          "description": "The IP version (IPv4 or IPv6). Defaults to IPv4."
        }
      },
      "required": [
        "ipTagType",
        "ipTagValue"
      ]
    },
    "Instance": {
      "type": "object",
      "description": "Operational instance within a realization.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The instance identifier."
        },
        "partition": {
          "type": "string",
          "description": "The partition this instance belongs to."
        },
        "routingPartition": {
          "type": "string",
          "description": "Legacy routing partition metadata preserved for migration parity."
        },
        "clusterResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The ARM resource ID of the cluster backing this instance."
        },
        "status": {
          "$ref": "#/definitions/InstanceProvisioningStatus",
          "description": "The provisioning status of this instance on the backing cluster."
        },
        "statusMessage": {
          "type": "string",
          "description": "Human-readable status message for this instance (e.g. placement error details).",
          "readOnly": true
        },
        "identities": {
          "type": "array",
          "description": "Identities applied to this instance. Each entry's identityType distinguishes pod vs workload.",
          "items": {
            "$ref": "#/definitions/InstanceIdentity"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "clientId"
          ]
        }
      },
      "required": [
        "id",
        "partition"
      ]
    },
    "InstanceIdentity": {
      "type": "object",
      "description": "User-assigned managed identity exposed on an Instance.",
      "properties": {
        "identityType": {
          "$ref": "#/definitions/InstanceIdentityType",
          "description": "The kind of identity (Pod or Workload)."
        },
        "clientId": {
          "type": "string",
          "description": "Client ID of the user-assigned managed identity."
        },
        "resourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "ARM resource ID of the user-assigned managed identity."
        },
        "principalId": {
          "type": "string",
          "description": "Principal (object) ID of the user-assigned managed identity. Matches ARM common-types UserAssignedIdentity.principalId."
        }
      },
      "required": [
        "identityType",
        "clientId",
        "principalId"
      ]
    },
    "InstanceIdentityType": {
      "type": "string",
      "description": "The kind of managed identity exposed on an Instance.",
      "enum": [
        "Pod",
        "Workload"
      ],
      "x-ms-enum": {
        "name": "InstanceIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "Pod",
            "value": "Pod",
            "description": "Pod identity used by namespace pods (sourced from the placement's ring-level identity)."
          },
          {
            "name": "Workload",
            "value": "Workload",
            "description": "Workload (federated) identity (sourced from the placement's cluster-level identity)."
          }
        ]
      }
    },
    "InstanceLevelPublicIp": {
      "type": "object",
      "description": "BYOIP configuration for instance-level public IP (ILPIP).",
      "properties": {
        "prefixLength": {
          "type": "integer",
          "format": "int32",
          "description": "Prefix length of the IP block.",
          "minimum": 0,
          "maximum": 128,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ipTagType": {
          "$ref": "#/definitions/IpTagType",
          "description": "The IP tag type.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ipTagValue": {
          "type": "string",
          "description": "The IP tag value.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "ipVersion": {
          "$ref": "#/definitions/IpVersion",
          "description": "The IP version (IPv4 or IPv6). Defaults to IPv4.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "InstanceOverride": {
      "type": "object",
      "description": "Migration-only per-instance resource override.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Opaque RP instance identifier (GUID).",
          "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
        },
        "instanceQuota": {
          "$ref": "#/definitions/InstanceQuota",
          "description": "Optional per-instance quota override."
        }
      },
      "required": [
        "instanceId"
      ]
    },
    "InstanceProvisioningStatus": {
      "type": "string",
      "description": "The provisioning status of a namespace instance on a cluster.",
      "enum": [
        "Unspecified",
        "Ready",
        "SoftDeleted",
        "Error",
        "Pending",
        "ResourcesCleanedUp",
        "Terminating"
      ],
      "x-ms-enum": {
        "name": "InstanceProvisioningStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Unspecified",
            "value": "Unspecified",
            "description": "Status is unspecified."
          },
          {
            "name": "Ready",
            "value": "Ready",
            "description": "The instance is ready."
          },
          {
            "name": "SoftDeleted",
            "value": "SoftDeleted",
            "description": "The instance has been soft-deleted."
          },
          {
            "name": "Error",
            "value": "Error",
            "description": "The instance encountered an error."
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "The instance is pending provisioning."
          },
          {
            "name": "ResourcesCleanedUp",
            "value": "ResourcesCleanedUp",
            "description": "The instance resources have been cleaned up."
          },
          {
            "name": "Terminating",
            "value": "Terminating",
            "description": "The instance is terminating."
          }
        ]
      }
    },
    "InstanceQuota": {
      "type": "object",
      "description": "Per-instance quota override shape (migration-only).",
      "properties": {
        "vmFamily": {
          "type": "string",
          "description": "The Azure VM family.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "podResources": {
          "type": "array",
          "description": "Per-service pod resource specifications.",
          "items": {
            "$ref": "#/definitions/PodSpec"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "IpTagType": {
      "type": "string",
      "description": "Azure public-IP tag types. Extensible - new values may be added without a breaking change.",
      "enum": [
        "RoutingPreference",
        "FirstPartyUsage"
      ],
      "x-ms-enum": {
        "name": "IpTagType",
        "modelAsString": true,
        "values": [
          {
            "name": "RoutingPreference",
            "value": "RoutingPreference",
            "description": "Routing preference for the IP (Internet, Microsoft, etc.)."
          },
          {
            "name": "FirstPartyUsage",
            "value": "FirstPartyUsage",
            "description": "First-party Azure service usage tag."
          }
        ]
      }
    },
    "IpVersion": {
      "type": "string",
      "description": "IP Version",
      "enum": [
        "IPv4",
        "IPv6"
      ],
      "x-ms-enum": {
        "name": "IpVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "IPV4",
            "value": "IPv4",
            "description": "Version IPv4"
          },
          {
            "name": "IPV6",
            "value": "IPv6",
            "description": "Version IPv6"
          }
        ]
      }
    },
    "LocationCapacity": {
      "type": "object",
      "description": "Per-location desired capacity.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Canonical Azure region name.",
          "minLength": 1
        },
        "totalInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total desired instance count in this location.",
          "minimum": 1
        },
        "partitions": {
          "type": "array",
          "description": "Optional breakdown of capacity by partition key.",
          "items": {
            "$ref": "#/definitions/PartitionCapacity"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "name"
      ]
    },
    "MigrateRequest": {
      "type": "object",
      "description": "Request body for the migrate action.",
      "properties": {
        "environmentName": {
          "type": "string",
          "description": "The name of the environment to migrate."
        },
        "platformRing": {
          "$ref": "#/definitions/CosmicRing",
          "description": "Platform ring classification (e.g. test, sdf, msit, prod). Used by APIM to route the request to the target ring's RP instance."
        }
      },
      "required": [
        "environmentName",
        "platformRing"
      ]
    },
    "MigrateResult": {
      "type": "object",
      "description": "Response body for the migrate action.",
      "properties": {
        "environmentName": {
          "type": "string",
          "description": "The name of the environment that was migrated."
        },
        "status": {
          "$ref": "#/definitions/MigrationStatus",
          "description": "The overall status of the migration."
        },
        "totalInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of instances targeted for migration."
        },
        "migratedInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of instances successfully migrated."
        },
        "skippedInstanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of instances skipped (e.g., deleted or cleaned up)."
        },
        "instances": {
          "type": "array",
          "description": "Per-instance migration details.",
          "items": {
            "$ref": "#/definitions/MigratedInstance"
          },
          "x-ms-identifiers": [
            "instanceId"
          ]
        }
      },
      "required": [
        "environmentName",
        "status",
        "totalInstanceCount",
        "migratedInstanceCount",
        "skippedInstanceCount"
      ]
    },
    "MigratedInstance": {
      "type": "object",
      "description": "Migration result for a single instance.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "The instance identifier."
        },
        "region": {
          "type": "string",
          "description": "The Azure region of the instance."
        },
        "partition": {
          "type": "string",
          "description": "The partition the instance belongs to."
        },
        "migrated": {
          "type": "boolean",
          "description": "Whether this instance was successfully migrated."
        },
        "reason": {
          "type": "string",
          "description": "Reason the instance was skipped or failed, if applicable."
        }
      },
      "required": [
        "instanceId",
        "region",
        "partition",
        "migrated"
      ]
    },
    "MigrationState": {
      "type": "string",
      "description": "The migration state of a namespace instance.",
      "enum": [
        "NeedsMigration",
        "InMigration",
        "NoMigrationNeeded"
      ],
      "x-ms-enum": {
        "name": "MigrationState",
        "modelAsString": true,
        "values": [
          {
            "name": "NeedsMigration",
            "value": "NeedsMigration",
            "description": "Instance spec and cluster spec are mismatched; migration is required but has not started."
          },
          {
            "name": "InMigration",
            "value": "InMigration",
            "description": "The instance is currently being migrated."
          },
          {
            "name": "NoMigrationNeeded",
            "value": "NoMigrationNeeded",
            "description": "The instance is correctly placed; no migration is required."
          }
        ]
      }
    },
    "MigrationStatus": {
      "type": "string",
      "description": "The overall status of a migration operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "PartiallySucceeded"
      ],
      "x-ms-enum": {
        "name": "MigrationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Migration completed successfully."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Migration failed."
          },
          {
            "name": "PartiallySucceeded",
            "value": "PartiallySucceeded",
            "description": "Migration partially succeeded - some instances could not be migrated."
          }
        ]
      },
      "readOnly": true
    },
    "Namespace": {
      "type": "object",
      "description": "A Namespace resource representing a logical grouping of Cosmic environments.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NamespaceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NamespaceListResult": {
      "type": "object",
      "description": "The response of a Namespace list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Namespace items on this page",
          "items": {
            "$ref": "#/definitions/Namespace"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NamespaceProperties": {
      "type": "object",
      "description": "Properties of a Namespace resource.",
      "properties": {
        "workload": {
          "type": "string",
          "description": "Workload name this resource belongs to.",
          "minLength": 3,
          "maxLength": 63,
          "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "serviceTreeId": {
          "type": "string",
          "description": "The ServiceTree GUID (with all letters in lower case) for billing",
          "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
        },
        "torusTeam": {
          "type": "string",
          "description": "Torus Team Name",
          "minLength": 3,
          "maxLength": 63,
          "pattern": "^[a-zA-Z0-9]([-a-zA-Z0-9_]*[a-zA-Z0-9])?$"
        },
        "icmAccount": {
          "type": "string",
          "description": "The IcM Account for Escalations",
          "pattern": "^[a-zA-Z0-9_\\\\()&:,+\\-/]+$"
        },
        "icmTenant": {
          "type": "string",
          "description": "The IcM tenant for auditing",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "^[a-zA-Z0-9_ ():/\\-]+$"
        },
        "emailAlias": {
          "type": "string",
          "description": "Email Alias",
          "pattern": "^[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}$"
        },
        "isolationGroup": {
          "type": "string",
          "description": "The isolation group for cluster bin-packing affinity. This field is required and cannot be changed after namespace creation.",
          "minLength": 1,
          "maxLength": 63,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "nightwatchEnabled": {
          "type": "boolean",
          "description": "Indicates whether Nightwatch monitoring is enabled for the namespace.",
          "default": false
        },
        "deploymentReadiness": {
          "type": "array",
          "description": "Legacy process metadata listing rollout readiness rings.",
          "items": {
            "$ref": "#/definitions/CosmicRing"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/CosmicProvisioningState",
          "description": "The provisioning state of the namespace resource.",
          "readOnly": true
        }
      },
      "required": [
        "workload",
        "serviceTreeId",
        "torusTeam",
        "icmAccount",
        "icmTenant",
        "isolationGroup",
        "nightwatchEnabled"
      ]
    },
    "NamespaceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Namespace.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/NamespaceUpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      }
    },
    "NamespaceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Namespace.",
      "properties": {
        "serviceTreeId": {
          "type": "string",
          "description": "The ServiceTree GUID (with all letters in lower case) for billing",
          "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
        },
        "torusTeam": {
          "type": "string",
          "description": "Torus Team Name",
          "minLength": 3,
          "maxLength": 63,
          "pattern": "^[a-zA-Z0-9]([-a-zA-Z0-9_]*[a-zA-Z0-9])?$"
        },
        "icmAccount": {
          "type": "string",
          "description": "The IcM Account for Escalations",
          "pattern": "^[a-zA-Z0-9_\\\\()&:,+\\-/]+$"
        },
        "icmTenant": {
          "type": "string",
          "description": "The IcM tenant for auditing",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "^[a-zA-Z0-9_ ():/\\-]+$"
        },
        "emailAlias": {
          "type": "string",
          "description": "Email Alias",
          "pattern": "^[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}$"
        },
        "nightwatchEnabled": {
          "type": "boolean",
          "description": "Indicates whether Nightwatch monitoring is enabled for the namespace.",
          "default": false
        },
        "deploymentReadiness": {
          "type": "array",
          "description": "Legacy process metadata listing rollout readiness rings.",
          "items": {
            "$ref": "#/definitions/CosmicRing"
          }
        }
      }
    },
    "OsType": {
      "type": "string",
      "description": "The operating system type for the compute nodes.",
      "enum": [
        "Linux",
        "Windows"
      ],
      "x-ms-enum": {
        "name": "OsType",
        "modelAsString": true,
        "values": [
          {
            "name": "Linux",
            "value": "Linux",
            "description": "Linux operating system."
          },
          {
            "name": "Windows",
            "value": "Windows",
            "description": "Windows operating system."
          }
        ]
      }
    },
    "Partition": {
      "type": "object",
      "description": "Partition label present in this realization.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The partition name.",
          "minLength": 1,
          "maxLength": 24,
          "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
        }
      },
      "required": [
        "name"
      ]
    },
    "PartitionCapacity": {
      "type": "object",
      "description": "Explicit capacity configuration for a specific partition.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The partition name.",
          "minLength": 1,
          "maxLength": 24,
          "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
        },
        "instanceCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of instances to realize for this partition.",
          "minimum": 1
        },
        "routingPartition": {
          "type": "string",
          "description": "Optional routing partition associated with this capacity partition. Format: {ring}_Efz_{region}, e.g. 'test_Efz_DSM'.",
          "pattern": "^[a-z0-9]+_Efz_[A-Za-z0-9]+$"
        }
      },
      "required": [
        "name",
        "instanceCount"
      ]
    },
    "PartitionDefaultPolicy": {
      "type": "object",
      "description": "Partition-level default resource policy.",
      "properties": {
        "os": {
          "$ref": "#/definitions/OsType",
          "description": "The operating system type override.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "podResources": {
          "type": "array",
          "description": "Per-service pod resource specifications.",
          "items": {
            "$ref": "#/definitions/PodSpec"
          },
          "x-ms-identifiers": []
        },
        "vmFamily": {
          "type": "string",
          "description": "The Azure VM family override for this partition (e.g., 'F_FLEX' for GPU partitions).",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "PartitionOverride": {
      "type": "object",
      "description": "Partition-scoped policy overrides.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The partition name.",
          "minLength": 1,
          "maxLength": 24,
          "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
        },
        "partitionDefault": {
          "$ref": "#/definitions/PartitionDefaultPolicy",
          "description": "Partition-level default policy."
        },
        "instanceOverrides": {
          "type": "array",
          "description": "Migration-only per-instance overrides.",
          "items": {
            "$ref": "#/definitions/InstanceOverride"
          },
          "x-ms-identifiers": [
            "instanceId"
          ]
        }
      },
      "required": [
        "name"
      ]
    },
    "PodSpec": {
      "type": "object",
      "description": "Pod resource envelope.",
      "properties": {
        "cores": {
          "type": "string",
          "description": "CPU cores requested per pod (e.g. '0.5', '2').",
          "pattern": "^([0-9]*\\.?[0-9]+)$"
        },
        "memory": {
          "type": "string",
          "description": "Memory requested per pod (e.g. '512Mi', '2Gi').",
          "pattern": "^[0-9]+(\\.[0-9]+)?(Mi|Gi)$"
        },
        "coresLimit": {
          "type": "string",
          "description": "CPU cores limit per pod. If unset, defaults to approximately 2x the request.",
          "pattern": "^([0-9]*\\.?[0-9]+)$"
        },
        "memoryLimit": {
          "type": "string",
          "description": "Memory limit per pod. If unset, defaults to approximately 2x the request.",
          "pattern": "^[0-9]+(\\.[0-9]+)?(Mi|Gi)$"
        },
        "replicas": {
          "type": "integer",
          "format": "int32",
          "description": "Number of replicas per cluster.",
          "minimum": 1
        },
        "rollingUpdateReplicaPercentage": {
          "type": "integer",
          "format": "int32",
          "description": "Percentage of replicas considered during rolling updates.",
          "minimum": 0,
          "maximum": 25
        }
      }
    },
    "PreviewRequest": {
      "type": "object",
      "description": "Request body for the preview action.",
      "properties": {
        "environmentName": {
          "type": "string",
          "description": "The name of the environment to preview."
        },
        "properties": {
          "$ref": "#/definitions/CosmicEnvironmentProperties",
          "description": "The environment properties to preview."
        }
      },
      "required": [
        "environmentName",
        "properties"
      ]
    },
    "PreviewResult": {
      "type": "object",
      "description": "Response body for the preview action. Includes the stored environment properties along with projected inventory status showing how existing brownfield instances map to the ARM model.",
      "properties": {
        "environmentName": {
          "type": "string",
          "description": "The name of the previewed environment."
        },
        "properties": {
          "$ref": "#/definitions/CosmicEnvironmentProperties",
          "description": "The environment properties as stored in ARM, including projected inventory status with per-region realizations derived from live inventory."
        }
      },
      "required": [
        "environmentName",
        "properties"
      ]
    },
    "Realization": {
      "type": "object",
      "description": "Realization details for a specific region.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Stable RP-generated identifier for diagnostics."
        },
        "region": {
          "$ref": "#/definitions/Azure.Core.azureLocation",
          "description": "Canonical Azure region name."
        },
        "state": {
          "$ref": "#/definitions/RealizationState",
          "description": "Realization-specific state."
        },
        "partitions": {
[...]
