{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Platform Landing Zones Service",
    "version": "2026-02-01-preview",
    "description": "Azure Migrate Platform Landing Zones management API. Captures the architectural intent for an Azure Landing Zone deployment associated with a migrate project.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PlatformLandingZones"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/platformLandingZones": {
      "get": {
        "operationId": "PlatformLandingZones_ListByParent",
        "tags": [
          "PlatformLandingZones"
        ],
        "description": "List Platform Landing Zone resources under a migrate project.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlatformLandingZoneListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Platform Landing Zones under a migrate project (maximum set)": {
            "$ref": "./examples/PlatformLandingZones_ListByMigrateProject_MaximumSet_Gen.json"
          },
          "List Platform Landing Zones under a migrate project (minimum set)": {
            "$ref": "./examples/PlatformLandingZones_ListByMigrateProject_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}/platformLandingZones/{platformLandingZoneName}": {
      "get": {
        "operationId": "PlatformLandingZones_Get",
        "tags": [
          "PlatformLandingZones"
        ],
        "description": "Get a Platform Landing Zone resource by name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "platformLandingZoneName",
            "in": "path",
            "description": "Platform Landing Zone name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{1,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PlatformLandingZone"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Platform Landing Zone (maximum set)": {
            "$ref": "./examples/PlatformLandingZones_Get_MaximumSet_Gen.json"
          },
          "Get a Platform Landing Zone (minimum set)": {
            "$ref": "./examples/PlatformLandingZones_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "PlatformLandingZones_Create",
        "tags": [
          "PlatformLandingZones"
        ],
        "description": "Create or update a Platform Landing Zone resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "platformLandingZoneName",
            "in": "path",
            "description": "Platform Landing Zone name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{1,61}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlatformLandingZone"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PlatformLandingZone' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PlatformLandingZone"
            }
          },
          "201": {
            "description": "Resource 'PlatformLandingZone' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PlatformLandingZone"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Platform Landing Zone (HubAndSpoke, maximum set)": {
            "$ref": "./examples/PlatformLandingZones_CreateOrUpdate_MaximumSet_HubAndSpoke_Gen.json"
          },
          "Create a Platform Landing Zone (ManagementOnly, maximum set)": {
            "$ref": "./examples/PlatformLandingZones_CreateOrUpdate_MaximumSet_ManagementOnly_Gen.json"
          },
          "Create a Platform Landing Zone (ManagementOnly, minimum set)": {
            "$ref": "./examples/PlatformLandingZones_CreateOrUpdate_MinimumSet_Gen.json"
          },
          "Create a Platform Landing Zone (VirtualWan, maximum set)": {
            "$ref": "./examples/PlatformLandingZones_CreateOrUpdate_MaximumSet_VirtualWan_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PlatformLandingZones_Delete",
        "tags": [
          "PlatformLandingZones"
        ],
        "description": "Delete a Platform Landing Zone resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Migrate Project Name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "platformLandingZoneName",
            "in": "path",
            "description": "Platform Landing Zone name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{1,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Platform Landing Zone (maximum set)": {
            "$ref": "./examples/PlatformLandingZones_Delete_MaximumSet_Gen.json"
          },
          "Delete a Platform Landing Zone (minimum set)": {
            "$ref": "./examples/PlatformLandingZones_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AlzManagementGroupScope": {
      "type": "string",
      "description": "Azure Landing Zone management group scope at which a policy or lock applies.",
      "enum": [
        "IntermediateRoot",
        "Platform",
        "Identity",
        "Management",
        "Connectivity",
        "LandingZones",
        "Corp",
        "Online",
        "Sandbox",
        "Decommissioned"
      ],
      "x-ms-enum": {
        "name": "AlzManagementGroupScope",
        "modelAsString": true,
        "values": [
          {
            "name": "IntermediateRoot",
            "value": "IntermediateRoot",
            "description": "Intermediate root management group (the ALZ root)."
          },
          {
            "name": "Platform",
            "value": "Platform",
            "description": "Platform management group."
          },
          {
            "name": "Identity",
            "value": "Identity",
            "description": "Identity platform management group."
          },
          {
            "name": "Management",
            "value": "Management",
            "description": "Management platform management group."
          },
          {
            "name": "Connectivity",
            "value": "Connectivity",
            "description": "Connectivity platform management group."
          },
          {
            "name": "LandingZones",
            "value": "LandingZones",
            "description": "Landing zones management group (parent of Corp and Online)."
          },
          {
            "name": "Corp",
            "value": "Corp",
            "description": "Corp landing zones management group."
          },
          {
            "name": "Online",
            "value": "Online",
            "description": "Online landing zones management group."
          },
          {
            "name": "Sandbox",
            "value": "Sandbox",
            "description": "Sandbox management group."
          },
          {
            "name": "Decommissioned",
            "value": "Decommissioned",
            "description": "Decommissioned management group."
          }
        ]
      }
    },
    "AutomationConfig": {
      "type": "object",
      "description": "Azure Automation account configuration.",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "Automation account name."
        },
        "sku": {
          "$ref": "#/definitions/AutomationSku",
          "description": "Automation account SKU."
        }
      },
      "required": [
        "accountName",
        "sku"
      ]
    },
    "AutomationSku": {
      "type": "string",
      "description": "Automation Account SKU.",
      "enum": [
        "Basic"
      ],
      "x-ms-enum": {
        "name": "AutomationSku",
        "modelAsString": true,
        "values": [
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic SKU."
          }
        ]
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "AzureFirewallConfig": {
      "type": "object",
      "description": "Azure Firewall configuration.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/AzureFirewallSku",
          "description": "Azure Firewall SKU."
        },
        "dnsProxyEnabled": {
          "type": "boolean",
          "description": "Whether DNS Proxy is enabled on the firewall."
        },
        "tlsInspectionEnabled": {
          "type": "boolean",
          "description": "Whether TLS inspection is enabled. Requires the Premium SKU."
        }
      },
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/FirewallConfig"
        }
      ],
      "x-ms-discriminator-value": "AzureFirewall"
    },
    "AzureFirewallSku": {
      "type": "string",
      "description": "Azure Firewall SKU.",
      "enum": [
        "Basic",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "AzureFirewallSku",
        "modelAsString": true,
        "values": [
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic SKU."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard SKU."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Premium SKU. Required for TLS inspection and IDPS."
          }
        ]
      }
    },
    "AzureMonitorConfig": {
      "type": "object",
      "description": "Azure Monitor configuration.",
      "properties": {
        "vmInsightsEnabled": {
          "type": "boolean",
          "description": "Whether VM Insights is enabled."
        },
        "containerInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Container Insights is enabled."
        },
        "applicationInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Application Insights is provisioned in the management subscription."
        }
      },
      "required": [
        "vmInsightsEnabled"
      ]
    },
    "BackupConfig": {
      "type": "object",
      "description": "Backup configuration.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether centralized backup is enabled for the landing zone."
        },
        "softDeleteRetentionInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Soft-delete retention in days for the recovery services vault.",
          "minimum": 14,
          "maximum": 180
        }
      },
      "required": [
        "enabled"
      ]
    },
    "BastionConfig": {
      "type": "object",
      "description": "Azure Bastion configuration.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/BastionSku",
          "description": "Bastion SKU."
        },
        "scaleUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Number of scale units. Only valid when sku is Standard or Premium; ignored for Basic.",
          "minimum": 2,
          "maximum": 50
        }
      },
      "required": [
        "sku"
      ]
    },
    "BastionSku": {
      "type": "string",
      "description": "Bastion SKU.",
      "enum": [
        "Basic",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "BastionSku",
        "modelAsString": true,
        "values": [
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic SKU."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard SKU. Required when scale units are specified."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Premium SKU."
          }
        ]
      }
    },
    "BillingAccountType": {
      "type": "string",
      "description": "Customer billing account type.",
      "enum": [
        "EnterpriseAgreement",
        "MicrosoftCustomerAgreement",
        "MicrosoftPartnerAgreement",
        "PayAsYouGo",
        "CloudSolutionProvider"
      ],
      "x-ms-enum": {
        "name": "BillingAccountType",
        "modelAsString": true,
        "values": [
          {
            "name": "EnterpriseAgreement",
            "value": "EnterpriseAgreement",
            "description": "Enterprise Agreement."
          },
          {
            "name": "MicrosoftCustomerAgreement",
            "value": "MicrosoftCustomerAgreement",
            "description": "Microsoft Customer Agreement."
          },
          {
            "name": "MicrosoftPartnerAgreement",
            "value": "MicrosoftPartnerAgreement",
            "description": "Microsoft Partner Agreement."
          },
          {
            "name": "PayAsYouGo",
            "value": "PayAsYouGo",
            "description": "Pay-as-you-go."
          },
          {
            "name": "CloudSolutionProvider",
            "value": "CloudSolutionProvider",
            "description": "Cloud Solution Provider."
          }
        ]
      }
    },
    "Connectivity": {
      "type": "object",
      "description": "Network connectivity configuration for the landing zone.",
      "properties": {
        "topology": {
          "$ref": "#/definitions/ConnectivityTopology",
          "description": "Connectivity topology. When ManagementOnly is selected, per-service sub-blocks (firewall, bastion, ddosProtection, privateDns, vpnGateway, expressRoute) should be omitted."
        },
        "internetEgress": {
          "$ref": "#/definitions/InternetEgressModel",
          "description": "Internet egress model for spoke traffic."
        },
        "firewall": {
          "$ref": "#/definitions/FirewallConfig",
          "description": "Hub firewall configuration."
        },
        "bastion": {
          "$ref": "#/definitions/BastionConfig",
          "description": "Azure Bastion configuration."
        },
        "ddosProtection": {
          "$ref": "#/definitions/DdosProtectionConfig",
          "description": "Azure DDoS Protection configuration."
        },
        "privateDns": {
          "$ref": "#/definitions/PrivateDnsConfig",
          "description": "Private DNS configuration."
        },
        "vpnGateway": {
          "$ref": "#/definitions/VpnGatewayConfig",
          "description": "VPN Gateway configuration. Discriminator value must equal Connectivity.topology."
        },
        "expressRoute": {
          "$ref": "#/definitions/ExpressRouteConfig",
          "description": "ExpressRoute configuration. Discriminator value must equal Connectivity.topology."
        }
      },
      "required": [
        "topology",
        "internetEgress"
      ]
    },
    "ConnectivityTopology": {
      "type": "string",
      "description": "Top-level connectivity topology that the landing zone deploys against.",
      "enum": [
        "HubAndSpoke",
        "VirtualWan",
        "ManagementOnly"
      ],
      "x-ms-enum": {
        "name": "ConnectivityTopology",
        "modelAsString": true,
        "values": [
          {
            "name": "HubAndSpoke",
            "value": "HubAndSpoke",
            "description": "Classic hub-and-spoke topology built on Virtual Network peering."
          },
          {
            "name": "VirtualWan",
            "value": "VirtualWan",
            "description": "Azure Virtual WAN based topology."
          },
          {
            "name": "ManagementOnly",
            "value": "ManagementOnly",
            "description": "Management-only landing zone with no platform-managed network connectivity. Per-service connectivity sub-blocks are omitted in this mode."
          }
        ]
      }
    },
    "CostManagement": {
      "type": "object",
      "description": "Cost management configuration for the landing zone.",
      "properties": {
        "billingAccountType": {
          "$ref": "#/definitions/BillingAccountType",
          "description": "Billing account type."
        },
        "reservations": {
          "$ref": "#/definitions/ReservationStrategy",
          "description": "Reservation purchase strategy."
        },
        "savingsPlans": {
          "$ref": "#/definitions/SavingsPlanStrategy",
          "description": "Savings plan strategy."
        },
        "budgets": {
          "type": "array",
          "description": "Budgets configured on the landing zone.",
          "items": {
            "$ref": "#/definitions/PlatformLandingZoneBudget"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "billingAccountType",
        "reservations",
        "savingsPlans"
      ]
    },
    "CustomerManagedKeyConfig": {
      "type": "object",
      "description": "Customer-managed key configuration for platform service encryption.",
      "properties": {
        "keyVaultId": {
          "type": "string",
          "description": "Key Vault resource id holding the encryption key."
        },
        "keyName": {
          "type": "string",
          "description": "Key name."
        },
        "keyVersion": {
          "type": "string",
          "description": "Key version. Omit for auto-rotation to the latest version."
        }
      },
      "required": [
        "keyVaultId",
        "keyName"
      ]
    },
    "DdosProtectionConfig": {
      "type": "object",
      "description": "Azure DDoS Protection configuration.",
      "properties": {
        "plan": {
          "$ref": "#/definitions/DdosProtectionPlan",
          "description": "DDoS protection plan tier."
        }
      },
      "required": [
        "plan"
      ]
    },
    "DdosProtectionPlan": {
      "type": "string",
      "description": "DDoS Protection plan tier.",
      "enum": [
        "Network",
        "IpProtection"
      ],
      "x-ms-enum": {
        "name": "DdosProtectionPlan",
        "modelAsString": true,
        "values": [
          {
            "name": "Network",
            "value": "Network",
            "description": "Network protection plan."
          },
          {
            "name": "IpProtection",
            "value": "IpProtection",
            "description": "IP Protection plan."
          }
        ]
      }
    },
    "DedicatedPlatformSubscriptions": {
      "type": "object",
      "description": "Dedicated subscription model: each platform function uses its own subscription.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/ExistingSubscriptionRef",
          "description": "Subscription that hosts the identity platform."
        },
        "connectivity": {
          "$ref": "#/definitions/ExistingSubscriptionRef",
          "description": "Subscription that hosts the connectivity platform."
        },
        "management": {
          "$ref": "#/definitions/ExistingSubscriptionRef",
          "description": "Subscription that hosts the management platform."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PlatformSubscriptions"
        }
      ],
      "x-ms-discriminator-value": "Dedicated"
    },
    "DefenderPlanName": {
      "type": "string",
      "description": "Microsoft Defender for Cloud plan identifier.",
      "enum": [
        "Servers",
        "AppServices",
        "Storage",
        "Sql",
        "OpenSourceRelationalDatabases",
        "CosmosDbs",
        "KeyVaults",
        "Dns",
        "Arm",
        "Containers",
        "Api",
        "CloudPosture",
        "AiServices"
      ],
      "x-ms-enum": {
        "name": "DefenderPlanName",
        "modelAsString": true,
        "values": [
          {
            "name": "Servers",
            "value": "Servers",
            "description": "Servers plan."
          },
          {
            "name": "AppServices",
            "value": "AppServices",
            "description": "App Service plan."
          },
          {
            "name": "Storage",
            "value": "Storage",
            "description": "Storage plan."
          },
          {
            "name": "Sql",
            "value": "Sql",
            "description": "SQL plan."
          },
          {
            "name": "OpenSourceRelationalDatabases",
            "value": "OpenSourceRelationalDatabases",
            "description": "Open-source relational database plan."
          },
          {
            "name": "CosmosDbs",
            "value": "CosmosDbs",
            "description": "Cosmos DB plan."
          },
          {
            "name": "KeyVaults",
            "value": "KeyVaults",
            "description": "Key Vault plan."
          },
          {
            "name": "Dns",
            "value": "Dns",
            "description": "DNS plan."
          },
          {
            "name": "Arm",
            "value": "Arm",
            "description": "Resource Manager plan."
          },
          {
            "name": "Containers",
            "value": "Containers",
            "description": "Containers plan."
          },
          {
            "name": "Api",
            "value": "Api",
            "description": "API plan."
          },
          {
            "name": "CloudPosture",
            "value": "CloudPosture",
            "description": "Cloud Security Posture Management plan."
          },
          {
            "name": "AiServices",
            "value": "AiServices",
            "description": "AI Workload plan."
          }
        ]
      }
    },
    "DefenderPlanSetting": {
      "type": "object",
      "description": "Microsoft Defender for Cloud plan setting.",
      "properties": {
        "name": {
          "$ref": "#/definitions/DefenderPlanName",
          "description": "Defender plan to configure."
        },
        "tier": {
          "$ref": "#/definitions/DefenderPlanTier",
          "description": "Plan tier."
        }
      },
      "required": [
        "name",
        "tier"
      ]
    },
    "DefenderPlanTier": {
      "type": "string",
      "description": "Microsoft Defender for Cloud plan tier.",
      "enum": [
        "Free",
        "Standard",
        "P1",
        "P2"
      ],
      "x-ms-enum": {
        "name": "DefenderPlanTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Free",
            "value": "Free",
            "description": "Free tier."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard tier."
          },
          {
            "name": "P1",
            "value": "P1",
            "description": "Plan tier P1."
          },
          {
            "name": "P2",
            "value": "P2",
            "description": "Plan tier P2."
          }
        ]
      }
    },
    "DomainServicesConfig": {
      "type": "object",
      "description": "Domain Services configuration. Required when IdentityConfig.provider is EntraIdWithDomainServices or HybridAdDs.",
      "properties": {
        "domainName": {
          "type": "string",
          "description": "Fully qualified DNS domain name, for example \"contoso.local\"."
        },
        "subnetAddressPrefix": {
          "type": "string",
          "description": "CIDR for the subnet hosting domain controllers or Azure AD Domain Services."
        }
      },
      "required": [
        "domainName",
        "subnetAddressPrefix"
      ]
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "Encryption configuration for platform services.",
      "properties": {
        "customerManagedKeyEnabled": {
          "type": "boolean",
          "description": "Whether customer-managed keys are used. When false, Microsoft-managed keys are used."
        },
        "customerManagedKey": {
          "$ref": "#/definitions/CustomerManagedKeyConfig",
          "description": "Customer-managed key configuration. Required when customerManagedKeyEnabled is true."
        }
      },
      "required": [
        "customerManagedKeyEnabled"
      ]
    },
    "ExistingSubscriptionRef": {
      "type": "object",
      "description": "Reference to an existing Azure subscription used by the landing zone.",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Azure subscription id (GUID)."
        }
      },
      "required": [
        "subscriptionId"
      ]
    },
    "ExpressRouteConfig": {
      "type": "object",
      "description": "ExpressRoute configuration. Available shapes are selected by the topology discriminator and gated by Connectivity.topology.",
      "properties": {
        "topology": {
          "$ref": "#/definitions/ConnectivityTopology",
          "description": "Topology this ExpressRoute configuration applies to."
        }
      },
      "discriminator": "topology",
      "required": [
        "topology"
      ]
    },
    "ExpressRouteGatewaySku": {
      "type": "string",
      "description": "ExpressRoute gateway SKU (hub-and-spoke topology).",
      "enum": [
        "Standard",
        "HighPerformance",
        "UltraPerformance",
        "ErGw1AZ",
        "ErGw2AZ",
        "ErGw3AZ"
      ],
      "x-ms-enum": {
        "name": "ExpressRouteGatewaySku",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard SKU."
          },
          {
            "name": "HighPerformance",
            "value": "HighPerformance",
            "description": "HighPerformance SKU."
          },
          {
            "name": "UltraPerformance",
            "value": "UltraPerformance",
            "description": "UltraPerformance SKU. Required for FastPath."
          },
          {
            "name": "ErGw1AZ",
            "value": "ErGw1AZ",
            "description": "ErGw1AZ availability-zone-aware SKU."
          },
          {
            "name": "ErGw2AZ",
            "value": "ErGw2AZ",
            "description": "ErGw2AZ availability-zone-aware SKU."
          },
          {
            "name": "ErGw3AZ",
            "value": "ErGw3AZ",
            "description": "ErGw3AZ availability-zone-aware SKU."
          }
        ]
      }
    },
    "FirewallConfig": {
      "type": "object",
      "description": "Hub firewall configuration. The deployed firewall is selected by the discriminator \"kind\".",
      "properties": {
        "kind": {
          "$ref": "#/definitions/FirewallKind",
          "description": "Firewall kind."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "FirewallKind": {
      "type": "string",
      "description": "Firewall kind deployed at the hub.",
      "enum": [
        "AzureFirewall",
        "ThirdPartyNva",
        "None"
      ],
      "x-ms-enum": {
        "name": "FirewallKind",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureFirewall",
            "value": "AzureFirewall",
            "description": "Azure Firewall."
          },
          {
            "name": "ThirdPartyNva",
            "value": "ThirdPartyNva",
            "description": "Third-party Network Virtual Appliance. The PLZ resource captures the design intent; deployment of the NVA itself is the customer's responsibility."
          },
          {
            "name": "None",
            "value": "None",
            "description": "No platform-managed firewall."
          }
        ]
      }
    },
    "Governance": {
      "type": "object",
      "description": "Governance configuration for the landing zone.",
      "properties": {
        "policyAssignmentMode": {
          "$ref": "#/definitions/PolicyAssignmentMode",
          "description": "Policy assignment baseline mode."
        },
        "requiredTags": {
          "type": "array",
          "description": "Required tags enforced via policy.",
          "items": {
            "$ref": "#/definitions/RequiredTag"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "policyAssignmentOverrides": {
          "type": "array",
          "description": "Per-assignment overrides applied on top of the ALZ baseline. Only relevant when policyAssignmentMode is AlzDefaults.",
          "items": {
            "$ref": "#/definitions/PolicyAssignmentOverride"
          },
          "x-ms-identifiers": [
            "assignmentName"
          ]
        },
        "resourceLocks": {
          "type": "array",
          "description": "Resource Manager locks applied at ALZ management group scopes.",
          "items": {
            "$ref": "#/definitions/ResourceLockPolicy"
          },
          "x-ms-identifiers": [
            "scope"
          ]
        }
      },
      "required": [
        "policyAssignmentMode"
      ]
    },
    "HubAndSpokeExpressRouteConfig": {
      "type": "object",
      "description": "ExpressRoute Gateway configuration for hub-and-spoke topology.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/ExpressRouteGatewaySku",
          "description": "ExpressRoute Gateway SKU."
        },
        "fastPathEnabled": {
          "type": "boolean",
          "description": "Whether FastPath is enabled. Requires the UltraPerformance SKU or higher."
        }
      },
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ExpressRouteConfig"
        }
      ],
      "x-ms-discriminator-value": "HubAndSpoke"
    },
    "HubAndSpokeVpnGatewayConfig": {
      "type": "object",
      "description": "VPN Gateway configuration for hub-and-spoke topology (deploys an Azure VPN Gateway in the hub).",
      "properties": {
        "sku": {
          "$ref": "#/definitions/VpnGatewaySku",
          "description": "VPN Gateway SKU."
        },
        "generation": {
          "$ref": "#/definitions/VpnGatewayGeneration",
          "description": "VPN Gateway generation."
        },
        "activeActive": {
          "type": "boolean",
          "description": "Whether the VPN Gateway is active-active."
        },
        "enableBgp": {
          "type": "boolean",
          "description": "Whether BGP is enabled."
        }
      },
      "required": [
        "sku",
        "generation"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/VpnGatewayConfig"
        }
      ],
      "x-ms-discriminator-value": "HubAndSpoke"
    },
    "IdentityConfig": {
      "type": "object",
      "description": "Identity configuration for the landing zone.",
      "properties": {
        "provider": {
          "$ref": "#/definitions/IdentityProvider",
          "description": "Identity provider strategy."
        },
        "domainServices": {
          "$ref": "#/definitions/DomainServicesConfig",
          "description": "Domain Services configuration. Required when provider is EntraIdWithDomainServices or HybridAdDs; ignored when provider is EntraIdOnly."
        }
      },
      "required": [
        "provider"
      ]
    },
    "IdentityProvider": {
      "type": "string",
      "description": "Identity provider strategy for the landing zone.",
      "enum": [
        "EntraIdOnly",
        "EntraIdWithDomainServices",
        "HybridAdDs"
      ],
      "x-ms-enum": {
        "name": "IdentityProvider",
        "modelAsString": true,
        "values": [
          {
            "name": "EntraIdOnly",
            "value": "EntraIdOnly",
            "description": "Microsoft Entra ID only."
          },
          {
            "name": "EntraIdWithDomainServices",
            "value": "EntraIdWithDomainServices",
            "description": "Microsoft Entra ID with Azure AD Domain Services for legacy workloads."
          },
          {
            "name": "HybridAdDs",
            "value": "HybridAdDs",
            "description": "Hybrid identity with on-premises Active Directory Domain Services synchronized via Microsoft Entra Connect."
          }
        ]
      }
    },
    "InternetEgressModel": {
      "type": "string",
      "description": "Egress model for spoke traffic destined for the internet.",
      "enum": [
        "ViaHub",
        "DirectFromSpoke"
      ],
      "x-ms-enum": {
        "name": "InternetEgressModel",
        "modelAsString": true,
        "values": [
          {
            "name": "ViaHub",
            "value": "ViaHub",
            "description": "Egress flows through the hub (Azure Firewall or third-party NVA based on FirewallConfig.kind)."
          },
          {
            "name": "DirectFromSpoke",
            "value": "DirectFromSpoke",
            "description": "Spoke egresses directly to the internet without traversing the hub."
          }
        ]
      }
    },
    "KeyVaultConfig": {
      "type": "object",
      "description": "Key Vault configuration.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/KeyVaultKind",
          "description": "Key Vault kind."
        },
        "rbacAuthorizationEnabled": {
          "type": "boolean",
          "description": "Whether RBAC authorization is enabled (required for ALZ baseline)."
        },
        "purgeProtectionEnabled": {
          "type": "boolean",
          "description": "Whether purge protection is enabled."
        },
        "softDeleteRetentionInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Soft-delete retention in days.",
          "minimum": 7,
          "maximum": 90
        }
      },
      "required": [
        "kind",
        "rbacAuthorizationEnabled",
        "purgeProtectionEnabled",
        "softDeleteRetentionInDays"
      ]
    },
    "KeyVaultKind": {
      "type": "string",
      "description": "Key Vault kind.",
      "enum": [
        "Standard",
        "Premium",
        "ManagedHsm"
      ],
      "x-ms-enum": {
        "name": "KeyVaultKind",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard SKU vault."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Premium SKU vault. Required for HSM-backed software keys."
          },
          {
            "name": "ManagedHsm",
            "value": "ManagedHsm",
            "description": "Managed HSM. A separate Managed HSM resource is provisioned."
          }
        ]
      }
    },
    "LogAnalyticsConfig": {
      "type": "object",
      "description": "Log Analytics workspace configuration.",
      "properties": {
        "workspaceName": {
          "type": "string",
          "description": "Workspace name."
        },
        "sku": {
          "$ref": "#/definitions/LogAnalyticsSku",
          "description": "Workspace SKU."
        },
        "retentionInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Retention in days.",
          "minimum": 30,
          "maximum": 730
        },
        "dailyQuotaGb": {
          "type": "number",
          "format": "float",
          "description": "Daily ingestion quota in GB. -1 indicates unlimited; only meaningful with the PerGB2018 SKU."
        },
        "capacityReservationGbPerDay": {
          "type": "integer",
          "format": "int32",
          "description": "Capacity reservation level in GB per day. Required when sku is CapacityReservation."
        }
      },
      "required": [
        "workspaceName",
        "sku",
        "retentionInDays"
      ]
    },
    "LogAnalyticsSku": {
      "type": "string",
      "description": "Log Analytics workspace SKU.",
      "enum": [
        "PerGB2018",
        "CapacityReservation"
      ],
      "x-ms-enum": {
        "name": "LogAnalyticsSku",
        "modelAsString": true,
        "values": [
          {
            "name": "PerGB2018",
            "value": "PerGB2018",
            "description": "Pay-as-you-go (per-GB) ingestion pricing."
          },
          {
            "name": "CapacityReservation",
            "value": "CapacityReservation",
            "description": "Capacity reservation pricing."
          }
        ]
      }
    },
    "Management": {
      "type": "object",
      "description": "Management plane configuration for the landing zone.",
      "properties": {
        "logAnalytics": {
          "$ref": "#/definitions/LogAnalyticsConfig",
          "description": "Log Analytics workspace configuration."
        },
        "azureMonitor": {
          "$ref": "#/definitions/AzureMonitorConfig",
          "description": "Azure Monitor configuration."
        },
        "sentinel": {
          "$ref": "#/definitions/SentinelConfig",
          "description": "Microsoft Sentinel configuration."
        },
        "automation": {
          "$ref": "#/definitions/AutomationConfig",
          "description": "Azure Automation configuration."
        },
        "recoveryServicesVault": {
          "$ref": "#/definitions/RecoveryServicesVault",
          "description": "Shared Recovery Services vault used by backup and site recovery."
        },
        "backup": {
          "$ref": "#/definitions/BackupConfig",
          "description": "Backup configuration."
        },
        "siteRecovery": {
          "$ref": "#/definitions/SiteRecoveryConfig",
          "description": "Azure Site Recovery configuration."
        }
      },
      "required": [
        "logAnalytics",
        "azureMonitor"
      ]
    },
    "MigrateProject": {
      "type": "object",
      "description": "A Migrate project Resource. Defined locally as the parent for PlatformLandingZone; the canonical resource is owned by the sibling Microsoft.Migrate TypeSpec projects.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrateProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MigrateProjectProperties": {
      "type": "object",
      "description": "Properties of a migrate project. Minimal stub used solely to anchor PlatformLandingZone as a child resource; the full property set is defined by the sibling Microsoft.Migrate TypeSpec projects.",
      "properties": {
        "serviceEndpoint": {
          "type": "string",
          "description": "Service endpoint."
        }
      }
    },
    "NoFirewallConfig": {
      "type": "object",
      "description": "No platform-managed firewall.",
      "allOf": [
        {
          "$ref": "#/definitions/FirewallConfig"
        }
      ],
      "x-ms-discriminator-value": "None"
    },
    "NvaVendor": {
      "type": "string",
      "description": "Third-party Network Virtual Appliance vendor recorded in the design.",
      "enum": [
        "PaloAlto",
        "Checkpoint",
        "Fortinet",
        "Cisco",
        "Other"
      ],
      "x-ms-enum": {
        "name": "NvaVendor",
        "modelAsString": true,
        "values": [
          {
            "name": "PaloAlto",
            "value": "PaloAlto",
            "description": "Palo Alto Networks."
          },
          {
            "name": "Checkpoint",
            "value": "Checkpoint",
            "description": "Check Point."
          },
          {
            "name": "Fortinet",
            "value": "Fortinet",
            "description": "Fortinet."
          },
          {
            "name": "Cisco",
            "value": "Cisco",
            "description": "Cisco."
          },
          {
            "name": "Other",
            "value": "Other",
            "description": "Other vendor not in the predefined list."
          }
        ]
      }
    },
    "PlatformLandingZone": {
      "type": "object",
      "description": "Platform Landing Zone resource. Captures the architectural intent for an Azure Landing Zone deployment associated with a migrate project.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PlatformLandingZoneProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PlatformLandingZoneBudget": {
      "type": "object",
      "description": "Budget configured on the landing zone.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Budget name."
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Monthly budget amount in billing currency.",
          "minimum": 0
        },
        "notificationEmails": {
          "type": "array",
          "description": "Email addresses notified when budget thresholds are crossed.",
          "items": {
            "type": "string"
          }
        },
        "thresholds": {
          "type": "array",
          "description": "Thresholds in percent (0-1000) of the budget amount at which notifications fire.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "required": [
        "name",
        "amount",
        "notificationEmails",
        "thresholds"
      ]
    },
    "PlatformLandingZoneListResult": {
      "type": "object",
      "description": "The response of a PlatformLandingZone list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PlatformLandingZone items on this page",
          "items": {
            "$ref": "#/definitions/PlatformLandingZone"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PlatformLandingZoneProperties": {
      "type": "object",
      "description": "Properties of a Platform Landing Zone. This envelope is grown incrementally as sub-blocks are introduced.",
      "properties": {
        "platformSubscriptions": {
          "$ref": "#/definitions/PlatformSubscriptions",
          "description": "Platform subscription topology."
        },
        "identity": {
          "$ref": "#/definitions/IdentityConfig",
          "description": "Identity configuration for the landing zone."
        },
        "regions": {
          "type": "array",
          "description": "Azure regions included in the landing zone design.",
          "items": {
            "$ref": "#/definitions/PlatformRegion"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "connectivity": {
          "$ref": "#/definitions/Connectivity",
          "description": "Network connectivity configuration."
        },
        "management": {
          "$ref": "#/definitions/Management",
          "description": "Management plane configuration."
        },
        "security": {
          "$ref": "#/definitions/Security",
          "description": "Security configuration."
        },
        "governance": {
          "$ref": "#/definitions/Governance",
          "description": "Governance configuration."
        },
        "costManagement": {
          "$ref": "#/definitions/CostManagement",
          "description": "Cost management configuration."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the Platform Landing Zone resource.",
          "readOnly": true
        }
      }
    },
    "PlatformRegion": {
      "type": "object",
      "description": "An Azure region included in the landing zone design.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Azure region name, for example \"eastus\"."
        },
        "role": {
          "$ref": "#/definitions/RegionRole",
          "description": "Role of this region within the landing zone."
        },
        "addressSpace": {
          "$ref": "#/definitions/RegionAddressSpace",
          "description": "Address space allocated to platform services in this region."
        },
        "availabilityZones": {
          "type": "array",
          "description": "Availability zones in this region that the landing zone targets, for example [\"1\",\"2\",\"3\"]. Empty when the region does not support availability zones or zonal deployment is not desired.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "name",
        "role",
        "addressSpace"
      ]
    },
    "PlatformSubscriptionModel": {
      "type": "string",
      "description": "Subscription model for platform-tier workloads in the landing zone.",
      "enum": [
        "Dedicated",
        "Shared"
      ],
      "x-ms-enum": {
        "name": "PlatformSubscriptionModel",
        "modelAsString": true,
        "values": [
          {
            "name": "Dedicated",
            "value": "Dedicated",
            "description": "Each platform function (identity, connectivity, management) uses its own dedicated subscription."
          },
          {
            "name": "Shared",
            "value": "Shared",
            "description": "All platform functions share a single platform subscription."
          }
        ]
      }
    },
    "PlatformSubscriptions": {
      "type": "object",
      "description": "Platform subscription topology. The concrete shape is selected by the discriminator \"subscriptionModel\".",
      "properties": {
        "subscriptionModel": {
          "$ref": "#/definitions/PlatformSubscriptionModel",
          "description": "Subscription topology model."
        }
      },
      "discriminator": "subscriptionModel",
      "required": [
        "subscriptionModel"
      ]
    },
    "PolicyAssignmentMode": {
      "type": "string",
      "description": "Policy assignment baseline mode.",
      "enum": [
        "AlzDefaults",
        "Custom",
        "None"
      ],
      "x-ms-enum": {
        "name": "PolicyAssignmentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "AlzDefaults",
            "value": "AlzDefaults",
            "description": "Apply the canonical Azure Landing Zone policy initiative as defined by Azure/alz-terraform-accelerator."
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Apply customer-defined policy assignments only."
          },
          {
            "name": "None",
            "value": "None",
            "description": "Do not deploy any platform policy assignments."
          }
        ]
      }
    },
    "PolicyAssignmentOverride": {
      "type": "object",
      "description": "Override of a single ALZ policy assignment.",
      "properties": {
        "assignmentName": {
          "type": "string",
          "description": "Display name of the ALZ policy assignment being overridden."
        },
        "enforcementMode": {
          "$ref": "#/definitions/PolicyEnforcementMode",
          "description": "Enforcement mode for this assignment."
        }
      },
      "required": [
        "assignmentName",
        "enforcementMode"
      ]
    },
    "PolicyEnforcementMode": {
      "type": "string",
      "description": "Azure Policy enforcement mode.",
      "enum": [
        "Default",
        "DoNotEnforce"
      ],
      "x-ms-enum": {
        "name": "PolicyEnforcementMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Policies are evaluated and resources in violation are recorded as non-compliant. Effects such as deny are enforced."
          },
          {
            "name": "DoNotEnforce",
            "value": "DoNotEnforce",
            "description": "Policies are evaluated but effects are not enforced. Useful for testing."
          }
        ]
      }
    },
    "PrivateDnsConfig": {
      "type": "object",
      "description": "Private DNS configuration.",
      "properties": {
        "privateLinkZonesEnabled": {
          "type": "boolean",
          "description": "Whether Azure Private DNS zones for Private Link are deployed in the connectivity subscription."
        },
        "customZones": {
          "type": "array",
          "description": "Additional custom Private DNS zones to deploy, e.g. [\"contoso.internal\"].",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "privateLinkZonesEnabled"
      ]
    },
    "RecoveryServicesVault": {
      "type": "object",
      "description": "Recovery Services vault configuration. Hoisted to the management block so it can be shared by Backup and Site Recovery.",
      "properties": {
        "vaultName": {
          "type": "string",
          "description": "Vault name."
        },
        "redundancy": {
          "$ref": "#/definitions/VaultRedundancy",
          "description": "Storage redundancy of the vault."
        },
        "crossRegionRestoreEnabled": {
          "type": "boolean",
          "description": "Whether cross-region restore is enabled. Requires GeoRedundant redundancy."
        }
      },
      "required": [
        "vaultName",
        "redundancy"
      ]
    },
    "RegionAddressSpace": {
      "type": "object",
      "description": "Address space allocated to platform services in a given region.",
      "properties": {
        "hub": {
          "type": "string",
          "description": "Address space allocated for hub virtual networks in this region, in CIDR notation."
        },
        "spoke": {
          "type": "string",
          "description": "Address space allocated for spoke virtual networks in this region, in CIDR notation."
        }
      },
      "required": [
        "hub",
        "spoke"
      ]
    },
    "RegionRole": {
      "type": "string",
      "description": "Role of an Azure region within the landing zone.",
      "enum": [
        "Primary",
        "Secondary"
      ],
      "x-ms-enum": {
        "name": "RegionRole",
        "modelAsString": true,
        "values": [
          {
            "name": "Primary",
            "value": "Primary",
            "description": "Primary region. Hosts the authoritative copies of platform services."
          },
          {
            "name": "Secondary",
            "value": "Secondary",
            "description": "Secondary region. Used for paired services such as disaster recovery."
          }
        ]
      }
    },
    "RequiredTag": {
      "type": "object",
      "description": "Required tag definition enforced via policy.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Tag name."
        },
        "defaultValue": {
          "type": "string",
          "description": "Default value to apply when the tag is missing. Omit to require explicit specification on each resource."
        }
      },
      "required": [
        "name"
      ]
    },
    "ReservationStrategy": {
      "type": "string",
      "description": "Reservation purchase strategy.",
      "enum": [
        "None",
        "StableWorkloadsOnly",
        "Aggressive"
      ],
      "x-ms-enum": {
        "name": "ReservationStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Do not purchase reservations as part of the landing zone."
          },
          {
            "name": "StableWorkloadsOnly",
            "value": "StableWorkloadsOnly",
            "description": "Purchase reservations to cover stable, predictable workloads only."
          },
          {
            "name": "Aggressive",
            "value": "Aggressive",
            "description": "Aggressive reservation coverage across all workloads."
          }
        ]
      }
    },
    "ResourceLockLevel": {
      "type": "string",
      "description": "Azure Resource Manager lock level.",
      "enum": [
        "CanNotDelete",
        "ReadOnly"
      ],
      "x-ms-enum": {
        "name": "ResourceLockLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "CanNotDelete",
            "value": "CanNotDelete",
            "description": "CanNotDelete: authorized users can read and modify but not delete."
          },
          {
            "name": "ReadOnly",
            "value": "ReadOnly",
            "description": "ReadOnly: authorized users can read only."
          }
        ]
      }
    },
    "ResourceLockPolicy": {
      "type": "object",
      "description": "Resource Manager lock applied at an ALZ management group scope.",
      "properties": {
        "scope": {
          "$ref": "#/definitions/AlzManagementGroupScope",
          "description": "Management group scope the lock applies to."
        },
        "level": {
          "$ref": "#/definitions/ResourceLockLevel",
          "description": "Lock level."
        },
        "notes": {
          "type": "string",
          "description": "Reason for the lock, surfaced to users attempting a denied operation."
        }
      },
      "required": [
        "scope",
        "level"
      ]
    },
    "SavingsPlanStrategy": {
      "type": "string",
      "description": "Savings plan strategy.",
      "enum": [
        "None",
        "OneYear",
        "ThreeYear"
      ],
      "x-ms-enum": {
        "name": "SavingsPlanStrategy",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "Do not purchase savings plans as part of the landing zone."
          },
          {
            "name": "OneYear",
            "value": "OneYear",
            "description": "Purchase 1-year savings plans."
          },
          {
            "name": "ThreeYear",
            "value": "ThreeYear",
            "description": "Purchase 3-year savings plans."
          }
        ]
      }
    },
    "Security": {
      "type": "object",
      "description": "Security configuration for the landing zone.",
      "properties": {
        "defenderPlans": {
          "type": "array",
          "description": "Microsoft Defender for Cloud plan settings.",
          "items": {
            "$ref": "#/definitions/DefenderPlanSetting"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "keyVault": {
          "$ref": "#/definitions/KeyVaultConfig",
          "description": "Key Vault configuration for the landing zone."
        },
        "encryption": {
          "$ref": "#/definitions/EncryptionConfig",
          "description": "Encryption configuration for platform services."
        }
      },
      "required": [
        "defenderPlans",
        "keyVault"
      ]
    },
    "SentinelConfig": {
      "type": "object",
      "description": "Microsoft Sentinel configuration.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Microsoft Sentinel is enabled on the management Log Analytics workspace."
        },
        "dataConnectors": {
          "type": "array",
          "description": "Names of Sentinel data connectors to enable.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "enabled"
      ]
    },
    "SharedPlatformSubscriptions": {
      "type": "object",
      "description": "Shared subscription model: a single subscription hosts all platform functions.",
      "properties": {
        "platform": {
          "$ref": "#/definitions/ExistingSubscriptionRef",
          "description": "Subscription that hosts all platform functions."
        }
      },
      "required": [
        "platform"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/PlatformSubscriptions"
        }
      ],
      "x-ms-discriminator-value": "Shared"
    },
    "SiteRecoveryConfig": {
      "type": "object",
      "description": "Azure Site Recovery configuration.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether Site Recovery is enabled for the landing zone."
        }
      },
      "required": [
        "enabled"
      ]
    },
    "ThirdPartyNvaFirewallConfig": {
      "type": "object",
      "description": "Third-party Network Virtual Appliance configuration. The PLZ resource records the design intent; deployment of the NVA itself is the customer's responsibility.",
      "properties": {
        "vendor": {
          "$ref": "#/definitions/NvaVendor",
          "description": "Third-party NVA vendor recorded in the design."
        },
        "subnetAddressPrefix": {
          "type": "string",
          "description": "Subnet CIDR allocated to the NVA in the hub."
        }
      },
      "required": [
        "vendor",
        "subnetAddressPrefix"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/FirewallConfig"
        }
      ],
      "x-ms-discriminator-value": "ThirdPartyNva"
    },
    "VaultRedundancy": {
      "type": "string",
      "description": "Recovery Services vault redundancy.",
      "enum": [
        "LocallyRedundant",
        "ZoneRedundant",
        "GeoRedundant"
      ],
      "x-ms-enum": {
        "name": "VaultRedundancy",
        "modelAsString": true,
        "values": [
          {
            "name": "LocallyRedundant",
            "value": "LocallyRedundant",
            "description": "Locally redundant storage."
          },
          {
            "name": "ZoneRedundant",
            "value": "ZoneRedundant",
            "description": "Zone redundant storage."
          },
          {
            "name": "GeoRedundant",
            "value": "GeoRedundant",
            "description": "Geo redundant storage. Required to enable cross-region restore."
          }
        ]
      }
    },
    "VirtualWanExpressRouteConfig": {
      "type": "object",
      "description": "ExpressRoute configuration for Virtual WAN topology.",
      "properties": {
        "scaleUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Scale units for the vWAN ExpressRoute Gateway.",
          "minimum": 1,
          "maximum": 20
        }
      },
      "required": [
        "scaleUnits"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ExpressRouteConfig"
        }
      ],
      "x-ms-discriminator-value": "VirtualWan"
    },
    "VirtualWanVpnGatewayConfig": {
      "type": "object",
      "description": "VPN Gateway configuration for Virtual WAN topology (deploys a vWAN VPN Gateway in the virtual hub).",
      "properties": {
        "scaleUnits": {
          "type": "integer",
          "format": "int32",
          "description": "Scale units for the vWAN VPN Gateway.",
          "minimum": 1,
          "maximum": 20
        }
      },
      "required": [
        "scaleUnits"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/VpnGatewayConfig"
        }
      ],
      "x-ms-discriminator-value": "VirtualWan"
    },
    "VpnGatewayConfig": {
      "type": "object",
      "description": "VPN Gateway configuration. Available shapes are selected by the topology discriminator and gated by Connectivity.topology.",
      "properties": {
        "topology": {
          "$ref": "#/definitions/ConnectivityTopology",
          "description": "Topology this VPN configuration applies to."
        }
      },
      "discriminator": "topology",
      "required": [
        "topology"
      ]
    },
    "VpnGatewayGeneration": {
      "type": "string",
      "description": "VPN Gateway generation (hub-and-spoke topology).",
      "enum": [
        "Generation1",
        "Generation2"
      ],
      "x-ms-enum": {
        "name": "VpnGatewayGeneration",
        "modelAsString": true,
        "values": [
          {
            "name": "Generation1",
            "value": "Generation1",
            "description": "Generation 1."
          },
          {
            "name": "Generation2",
            "value": "Generation2",
            "description": "Generation 2."
          }
        ]
      }
    },
    "VpnGatewaySku": {
      "type": "string",
      "description": "VPN Gateway SKU (hub-and-spoke topology).",
      "enum": [
        "VpnGw1",
        "VpnGw2",
        "VpnGw3",
        "VpnGw4",
        "VpnGw5",
        "VpnGw1AZ",
        "VpnGw2AZ",
        "VpnGw3AZ",
        "VpnGw4AZ",
        "VpnGw5AZ"
      ],
      "x-ms-enum": {
        "name": "VpnGatewaySku",
        "modelAsString": true,
        "values": [
          {
            "name": "VpnGw1",
            "value": "VpnGw1",
            "description": "VpnGw1."
          },
          {
            "name": "VpnGw2",
            "value": "VpnGw2",
            "description": "VpnGw2."
          },
          {
            "name": "VpnGw3",
            "value": "VpnGw3",
            "description": "VpnGw3."
          },
          {
            "name": "VpnGw4",
            "value": "VpnGw4",
            "description": "VpnGw4."
          },
          {
            "name": "VpnGw5",
            "value": "VpnGw5",
            "description": "VpnGw5."
          },
          {
            "name": "VpnGw1AZ",
            "value": "VpnGw1AZ",
            "description": "Availability-zone-aware VpnGw1."
          },
          {
            "name": "VpnGw2AZ",
            "value": "VpnGw2AZ",
            "description": "Availability-zone-aware VpnGw2."
          },
          {
            "name": "VpnGw3AZ",
            "value": "VpnGw3AZ",
            "description": "Availability-zone-aware VpnGw3."
          },
          {
            "name": "VpnGw4AZ",
            "value": "VpnGw4AZ",
            "description": "Availability-zone-aware VpnGw4."
          },
          {
            "name": "VpnGw5AZ",
            "value": "VpnGw5AZ",
            "description": "Availability-zone-aware VpnGw5."
          }
        ]
      }
    }
  },
  "parameters": {}
}
