{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ApplicationMigration management service",
    "version": "2026-06-01-preview",
    "description": "The Microsoft.ApplicationMigration Rest API spec for Container Discovery.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ContainerSites"
    },
    {
      "name": "ContainerClusters"
    },
    {
      "name": "ContainerNodes"
    },
    {
      "name": "ContainerWorkloads"
    },
    {
      "name": "ContainerAgents"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApplicationMigration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/containerSites": {
      "get": {
        "operationId": "ContainerSites_ListBySubscription",
        "tags": [
          "ContainerSites"
        ],
        "description": "List ContainerSite resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerSiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List container sites by subscription": {
            "$ref": "./examples/ContainerSites_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites": {
      "get": {
        "operationId": "ContainerSites_ListByResourceGroup",
        "tags": [
          "ContainerSites"
        ],
        "description": "List ContainerSite resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerSiteListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List container sites by resource group": {
            "$ref": "./examples/ContainerSites_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}": {
      "get": {
        "operationId": "ContainerSites_Get",
        "tags": [
          "ContainerSites"
        ],
        "description": "Get a ContainerSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a container site": {
            "$ref": "./examples/ContainerSites_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ContainerSites_CreateOrUpdate",
        "tags": [
          "ContainerSites"
        ],
        "description": "Create a ContainerSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContainerSite' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerSite"
            }
          },
          "201": {
            "description": "Resource 'ContainerSite' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerSite"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a container site": {
            "$ref": "./examples/ContainerSites_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ContainerSites_Update",
        "tags": [
          "ContainerSites"
        ],
        "description": "Update a ContainerSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SiteTagsPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerSite"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a container site": {
            "$ref": "./examples/ContainerSites_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ContainerSites_Delete",
        "tags": [
          "ContainerSites"
        ],
        "description": "Delete a ContainerSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a container site": {
            "$ref": "./examples/ContainerSites_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/agents": {
      "get": {
        "operationId": "ContainerAgents_ListBySite",
        "tags": [
          "ContainerAgents"
        ],
        "description": "List ContainerAgent resources by ContainerSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerAgentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List container agents by site": {
            "$ref": "./examples/ContainerAgents_ListBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/agents/{agentName}": {
      "get": {
        "operationId": "ContainerAgents_Get",
        "tags": [
          "ContainerAgents"
        ],
        "description": "Get a ContainerAgent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The agent name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a container agent": {
            "$ref": "./examples/ContainerAgents_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ContainerAgents_CreateOrUpdate",
        "tags": [
          "ContainerAgents"
        ],
        "description": "Create a ContainerAgent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The agent name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The container agent resource to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContainerAgent' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerAgent"
            }
          },
          "201": {
            "description": "Resource 'ContainerAgent' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a container agent": {
            "$ref": "./examples/ContainerAgents_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "ContainerAgents_Update",
        "tags": [
          "ContainerAgents"
        ],
        "description": "Update a ContainerAgent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The agent name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Container agent patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerAgentPatchProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerAgent"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a container agent": {
            "$ref": "./examples/ContainerAgents_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ContainerAgents_Delete",
        "tags": [
          "ContainerAgents"
        ],
        "description": "Delete a ContainerAgent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The agent name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a container agent": {
            "$ref": "./examples/ContainerAgents_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/agents/{agentName}/refresh": {
      "post": {
        "operationId": "ContainerAgents_TriggerRefresh",
        "tags": [
          "ContainerAgents"
        ],
        "description": "Trigger Refresh action",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "agentName",
            "in": "path",
            "description": "The agent name.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Trigger refresh on a container agent": {
            "$ref": "./examples/ContainerAgents_TriggerRefresh.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/containerClusters": {
      "get": {
        "operationId": "ContainerClusters_ListBySite",
        "tags": [
          "ContainerClusters"
        ],
        "description": "List ContainerCluster resources by ContainerSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerClusterList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List container clusters by site": {
            "$ref": "./examples/ContainerClusters_ListBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/containerClusters/{clusterName}": {
      "get": {
        "operationId": "ContainerClusters_Get",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Get a ContainerCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The cluster identifier.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a container cluster": {
            "$ref": "./examples/ContainerClusters_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ContainerClusters_CreateOrUpdate",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Create a ContainerCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The cluster identifier.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The container cluster resource to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContainerCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          },
          "201": {
            "description": "Resource 'ContainerCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a container cluster": {
            "$ref": "./examples/ContainerClusters_CreateOrUpdate.json"
          },
          "Create or update a container cluster with discovery errors": {
            "$ref": "./examples/ContainerClusters_CreateOrUpdate_WithErrors.json"
          }
        }
      },
      "patch": {
        "operationId": "ContainerClusters_Update",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Update a ContainerCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The cluster identifier.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Container cluster patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerClusterPatchProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a container cluster": {
            "$ref": "./examples/ContainerClusters_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ContainerClusters_Delete",
        "tags": [
          "ContainerClusters"
        ],
        "description": "Delete a ContainerCluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The cluster identifier.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a container cluster": {
            "$ref": "./examples/ContainerClusters_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/containerNodes": {
      "get": {
        "operationId": "ContainerNodes_ListBySite",
        "tags": [
          "ContainerNodes"
        ],
        "description": "List ContainerNode resources by ContainerSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerNodeList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List container nodes by site": {
            "$ref": "./examples/ContainerNodes_ListBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/containerNodes/{nodeName}": {
      "get": {
        "operationId": "ContainerNodes_Get",
        "tags": [
          "ContainerNodes"
        ],
        "description": "Get a ContainerNode",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "nodeName",
            "in": "path",
            "description": "The node identifier.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerNode"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a container node": {
            "$ref": "./examples/ContainerNodes_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ContainerNodes_CreateOrUpdate",
        "tags": [
          "ContainerNodes"
        ],
        "description": "Create a ContainerNode",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "nodeName",
            "in": "path",
            "description": "The node identifier.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The container node resource to create or update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerNode"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContainerNode' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerNode"
            }
          },
          "201": {
            "description": "Resource 'ContainerNode' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerNode"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a container node (proxy of site)": {
            "$ref": "./examples/ContainerNodes_CreateOrUpdate.json"
          },
          "Create or update a container node with discovery errors": {
            "$ref": "./examples/ContainerNodes_CreateOrUpdate_WithErrors.json"
          }
        }
      },
      "patch": {
        "operationId": "ContainerNodes_Update",
        "tags": [
          "ContainerNodes"
        ],
        "description": "Update a ContainerNode",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "nodeName",
            "in": "path",
            "description": "The node identifier.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Container node patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerNodePatchProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerNode"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a container node": {
            "$ref": "./examples/ContainerNodes_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ContainerNodes_Delete",
        "tags": [
          "ContainerNodes"
        ],
        "description": "Delete a ContainerNode",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "nodeName",
            "in": "path",
            "description": "The node identifier.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a container node": {
            "$ref": "./examples/ContainerNodes_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/containerWorkloads": {
      "get": {
        "operationId": "ContainerWorkloads_ListBySite",
        "tags": [
          "ContainerWorkloads"
        ],
        "description": "List ContainerWorkload resources by ContainerSite",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerWorkloadList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List container workloads by site": {
            "$ref": "./examples/ContainerWorkloads_ListBySite.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/containerWorkloads/{workloadName}": {
      "get": {
        "operationId": "ContainerWorkloads_Get",
        "tags": [
          "ContainerWorkloads"
        ],
        "description": "Get a ContainerWorkload",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "workloadName",
            "in": "path",
            "description": "The workload identifier.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerWorkload"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a container workload": {
            "$ref": "./examples/ContainerWorkloads_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ContainerWorkloads_CreateOrUpdate",
        "tags": [
          "ContainerWorkloads"
        ],
        "description": "Create a ContainerWorkload",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "workloadName",
            "in": "path",
            "description": "The workload identifier.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The container workload resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerWorkload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ContainerWorkload' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerWorkload"
            }
          },
          "201": {
            "description": "Resource 'ContainerWorkload' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ContainerWorkload"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a container workload": {
            "$ref": "./examples/ContainerWorkloads_CreateOrUpdate.json"
          },
          "Create or update a container workload with discovery errors": {
            "$ref": "./examples/ContainerWorkloads_CreateOrUpdate_WithErrors.json"
          }
        }
      },
      "patch": {
        "operationId": "ContainerWorkloads_Update",
        "tags": [
          "ContainerWorkloads"
        ],
        "description": "Update a ContainerWorkload",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "workloadName",
            "in": "path",
            "description": "The workload identifier.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Container workload patch payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerWorkloadPatchProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ContainerWorkload"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a container workload": {
            "$ref": "./examples/ContainerWorkloads_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ContainerWorkloads_Delete",
        "tags": [
          "ContainerWorkloads"
        ],
        "description": "Delete a ContainerWorkload",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          },
          {
            "name": "workloadName",
            "in": "path",
            "description": "The workload identifier.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 253,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9_-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a container workload": {
            "$ref": "./examples/ContainerWorkloads_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/containerSites/{siteName}/refresh": {
      "post": {
        "operationId": "ContainerSites_TriggerRefresh",
        "tags": [
          "ContainerSites"
        ],
        "description": "Trigger Refresh action",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "description": "The name of the container site.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Trigger refresh on a container site": {
            "$ref": "./examples/ContainerSites_TriggerRefresh.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AgentHealthProperties": {
      "type": "object",
      "description": "Agent health details.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Agent version."
        },
        "lastHeartBeatUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Last heartbeat time in UTC."
        }
      }
    },
    "AgentSpnProperties": {
      "type": "object",
      "description": "Agent service principal identity details.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Tenant ID for the service principal."
        },
        "applicationId": {
          "type": "string",
          "description": "Application/client ID."
        },
        "objectId": {
          "type": "string",
          "description": "Object ID."
        }
      }
    },
    "ApplicationGroupEntry": {
      "type": "object",
      "description": "Application group entry for cluster-level grouping.",
      "properties": {
        "applicationGroupId": {
          "type": "string",
          "description": "Unique identifier for the application group."
        },
        "source": {
          "$ref": "#/definitions/ApplicationGroupSource",
          "description": "Source of the grouping."
        },
        "workloadCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of workloads in this group."
        },
        "containerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of containers in this group."
        },
        "namespaces": {
          "type": "array",
          "description": "Namespaces this group spans.",
          "items": {
            "type": "string"
          }
        },
        "totalCpuRequest": {
          "type": "string",
          "description": "Total CPU requests across group."
        },
        "totalMemoryRequest": {
          "type": "string",
          "description": "Total memory requests across group."
        }
      }
    },
    "ApplicationGroupSource": {
      "type": "string",
      "description": "Application group source.",
      "enum": [
        "app-label",
        "helm-release",
        "service-selector",
        "namespace",
        "compose-project",
        "podman-pod",
        "port-network",
        "manual"
      ],
      "x-ms-enum": {
        "name": "ApplicationGroupSource",
        "modelAsString": true,
        "values": [
          {
            "name": "AppLabel",
            "value": "app-label",
            "description": "Derived from app label."
          },
          {
            "name": "HelmRelease",
            "value": "helm-release",
            "description": "Derived from Helm release."
          },
          {
            "name": "ServiceSelector",
            "value": "service-selector",
            "description": "Derived from Service selector."
          },
          {
            "name": "Namespace",
            "value": "namespace",
            "description": "Namespace fallback."
          },
          {
            "name": "ComposeProject",
            "value": "compose-project",
            "description": "Docker Compose project."
          },
          {
            "name": "PodmanPod",
            "value": "podman-pod",
            "description": "Podman pod."
          },
          {
            "name": "PortNetwork",
            "value": "port-network",
            "description": "Port/network based."
          },
          {
            "name": "Manual",
            "value": "manual",
            "description": "Manual override."
          }
        ]
      }
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "BoolValue": {
      "type": "string",
      "description": "Represents an Enum with boolean values.",
      "enum": [
        "Unknown",
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "BoolValue",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown value."
          },
          {
            "name": "True",
            "value": "True",
            "description": "True value."
          },
          {
            "name": "False",
            "value": "False",
            "description": "False value."
          }
        ]
      }
    },
    "ClusterCapacitySummary": {
      "type": "object",
      "description": "Cluster-wide capacity and utilization summary.",
      "properties": {
        "totalPodCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total running pod count."
        },
        "podCapacityCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total pod capacity across all nodes."
        }
      }
    },
    "ClusterConfiguration": {
      "type": "object",
      "description": "Cluster-wide configuration and policies.",
      "properties": {
        "serviceMeshType": {
          "type": "string",
          "description": "Service mesh type (Istio, Linkerd, etc.)."
        },
        "rbacMode": {
          "type": "string",
          "description": "RBAC mode (RBAC, ABAC, none)."
        },
        "podSecurityStandard": {
          "type": "string",
          "description": "Pod Security Standard level."
        },
        "etcdEncryptedAtRest": {
          "type": "boolean",
          "description": "Whether etcd is encrypted at rest."
        },
        "auditLoggingEnabled": {
          "type": "boolean",
          "description": "Whether Kubernetes audit logging is enabled."
        },
        "admissionWebhookCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of admission webhooks."
        },
        "crdCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of Custom Resource Definitions."
        },
        "namespaceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Count of namespaces."
        },
        "namespaces": {
          "type": "array",
          "description": "Namespace details.",
          "items": {
            "$ref": "#/definitions/NamespaceInfo"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ClusterIdSource": {
      "type": "string",
      "description": "Cluster ID source.",
      "enum": [
        "kube-system-uid",
        "clusterversion-uid",
        "vcenter-l0",
        "swarm-cluster-id",
        "hostname"
      ],
      "x-ms-enum": {
        "name": "ClusterIdSource",
        "modelAsString": true,
        "values": [
          {
            "name": "KubeSystemUid",
            "value": "kube-system-uid",
            "description": "From kube-system namespace UID."
          },
          {
            "name": "ClusterVersionUid",
            "value": "clusterversion-uid",
            "description": "From ClusterVersion UID (OpenShift)."
          },
          {
            "name": "VCenterL0",
            "value": "vcenter-l0",
            "description": "From vCenter L0 API (TKG)."
          },
          {
            "name": "SwarmClusterId",
            "value": "swarm-cluster-id",
            "description": "From Docker Swarm cluster ID."
          },
          {
            "name": "Hostname",
            "value": "hostname",
            "description": "From hostname."
          }
        ]
      }
    },
    "ClusterNetworkProfile": {
      "type": "object",
      "description": "Cluster network profile.",
      "properties": {
        "clusterCidr": {
          "type": "string",
          "description": "Pod network CIDR."
        },
        "serviceCidr": {
          "type": "string",
          "description": "Service network CIDR."
        },
        "dnsProvider": {
          "$ref": "#/definitions/DnsProviderInfo",
          "description": "DNS provider details."
        },
        "networkPlugin": {
          "$ref": "#/definitions/NetworkPluginInfo",
          "description": "Network plugin details."
        },
        "networkPolicyEngine": {
          "type": "string",
          "description": "Network policy engine."
        },
        "ingress": {
          "$ref": "#/definitions/IngressInfo",
          "description": "Ingress controller details."
        }
      }
    },
    "ClusterResources": {
      "type": "object",
      "description": "Cluster-wide resource allocation.",
      "properties": {
        "resourceAllocated": {
          "$ref": "#/definitions/ResourceMetrics",
          "description": "Total allocated resources."
        }
      }
    },
    "ClusterState": {
      "type": "string",
      "description": "Cluster state.",
      "enum": [
        "active",
        "inactive",
        "provisioning",
        "degraded",
        "unknown"
      ],
      "x-ms-enum": {
        "name": "ClusterState",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "active",
            "description": "Active cluster."
          },
          {
            "name": "Inactive",
            "value": "inactive",
            "description": "Inactive cluster."
          },
          {
            "name": "Provisioning",
            "value": "provisioning",
            "description": "Cluster being provisioned."
          },
          {
            "name": "Degraded",
            "value": "degraded",
            "description": "Degraded cluster."
          },
          {
            "name": "Unknown",
            "value": "unknown",
            "description": "Unknown state."
          }
        ]
      }
    },
    "ContainerAgent": {
      "type": "object",
      "description": "The ContainerAgent resource — proxy resource representing a deep discovery agent.\nChild of ContainerSite. Follows the same agent pattern as MongoAgent/PgsqlAgent.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContainerAgentProperties",
          "description": "Container agent properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ContainerAgentList": {
      "type": "object",
      "description": "List of ContainerAgents.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ContainerAgent items on this page",
          "items": {
            "$ref": "#/definitions/ContainerAgent"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContainerAgentPatch": {
      "type": "object",
      "description": "Patch properties for ContainerAgent.",
      "properties": {
        "healthDetails": {
          "$ref": "#/definitions/AgentHealthProperties",
          "description": "Agent health details."
        }
      }
    },
    "ContainerAgentPatchProperties": {
      "type": "object",
      "description": "Patch envelope for ContainerAgent.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContainerAgentPatch",
          "description": "Container agent patch properties."
        }
      }
    },
    "ContainerAgentProperties": {
      "type": "object",
      "description": "ContainerAgent properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "servicePrincipalIdentityDetails": {
          "$ref": "#/definitions/AgentSpnProperties",
          "description": "Service principal identity details used by agent for communication.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "migrateApplianceName": {
          "type": "string",
          "description": "Name of the appliance on which agent is running.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "healthDetails": {
          "$ref": "#/definitions/AgentHealthProperties",
          "description": "Health details of the agent."
        },
        "fabricSiteName": {
          "type": "string",
          "description": "Name of the fabric site.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "servicePrincipalIdentityDetails",
        "migrateApplianceName",
        "fabricSiteName"
      ]
    },
    "ContainerCluster": {
      "type": "object",
      "description": "The ContainerCluster resource — proxy resource representing a discovered container cluster.\nContains orchestrator info, network/storage profiles, cluster configuration, assessment signals,\nnode summary, and a slim nodes[] array. Child of ContainerSite.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContainerClusterProperties",
          "description": "Container cluster properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ContainerClusterList": {
      "type": "object",
      "description": "List of ContainerClusters.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ContainerCluster items on this page",
          "items": {
            "$ref": "#/definitions/ContainerCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContainerClusterPatch": {
      "type": "object",
      "description": "Patch properties for ContainerCluster.",
      "properties": {
        "nodes": {
          "type": "array",
          "description": "Slim node entries.",
          "items": {
            "$ref": "#/definitions/SlimNodeEntry"
          },
          "x-ms-identifiers": []
        },
        "softwareAttributes": {
          "$ref": "#/definitions/SoftwareAttributes",
          "description": "Software attributes."
        },
        "supportStatus": {
          "$ref": "#/definitions/SupportStatus",
          "description": "Software support status."
        },
        "endOfSupportDate": {
          "type": "string",
          "format": "date",
          "description": "End of support date."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "discoveryCompleteness": {
          "$ref": "#/definitions/DiscoveryCompleteness",
          "description": "Discovery completeness level."
        },
        "isShallowCompleted": {
          "type": "boolean",
          "description": "Whether shallow discovery has completed."
        },
        "isDeepDiscoveryCompleted": {
          "type": "boolean",
          "description": "Whether deep discovery has completed."
        },
        "isKubeconfigDiscoveryCompleted": {
          "type": "boolean",
          "description": "Whether kubeconfig-based discovery has completed."
        },
        "orchestrator": {
          "$ref": "#/definitions/OrchestratorProperties",
          "description": "Orchestrator details."
        },
        "clusterResources": {
          "$ref": "#/definitions/ClusterResources",
          "description": "Cluster resources."
        },
        "clusterNetworkProfile": {
          "$ref": "#/definitions/ClusterNetworkProfile",
          "description": "Cluster network profile."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Storage profile."
        },
        "clusterConfiguration": {
          "$ref": "#/definitions/ClusterConfiguration",
          "description": "Cluster configuration."
        },
        "deprecatedApiUsage": {
          "$ref": "#/definitions/DeprecatedApiUsage",
          "description": "Deprecated API usage."
        },
        "securityAssessment": {
          "$ref": "#/definitions/SecurityAssessment",
          "description": "Security assessment."
        },
        "deploymentAssessment": {
          "$ref": "#/definitions/DeploymentAssessment",
          "description": "Deployment assessment."
        },
        "sizingQuality": {
          "$ref": "#/definitions/SizingQuality",
          "description": "Sizing quality."
        },
        "storageAssessment": {
          "$ref": "#/definitions/StorageAssessmentSignals",
          "description": "Storage assessment."
        },
        "networkAssessment": {
          "$ref": "#/definitions/NetworkAssessmentSignals",
          "description": "Network assessment."
        },
        "controlPlaneTainted": {
          "type": "boolean",
          "description": "Whether control plane is tainted."
        },
        "nodeSummary": {
          "$ref": "#/definitions/NodeSummary",
          "description": "Node summary."
        },
        "workloadControllerSummary": {
          "$ref": "#/definitions/WorkloadControllerSummary",
          "description": "Workload controller type counts."
        },
        "clusterCapacity": {
          "$ref": "#/definitions/ClusterCapacitySummary",
          "description": "Cluster capacity and utilization summary."
        },
        "errors": {
          "type": "array",
          "description": "Discovery or processing errors for this cluster.",
          "items": {
            "$ref": "#/definitions/ContainerDiscoveryError"
          },
          "x-ms-identifiers": []
        },
        "criticalErrorCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of critical errors."
        },
        "warningsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of warnings."
        },
        "informationalMessagesCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of informational messages."
        }
      }
    },
    "ContainerClusterPatchProperties": {
      "type": "object",
      "description": "Patch envelope for ContainerCluster.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContainerClusterPatch",
          "description": "Container cluster patch properties."
        }
      }
    },
    "ContainerClusterProperties": {
      "type": "object",
      "description": "ContainerCluster properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "nodes": {
          "type": "array",
          "description": "Slim node entries for assessment reads.",
          "items": {
            "$ref": "#/definitions/SlimNodeEntry"
          },
          "x-ms-identifiers": []
        },
        "containerClusterId": {
          "type": "string",
          "description": "Unique cluster identifier from orchestrator."
        },
        "clusterDisplayName": {
          "type": "string",
          "description": "Human-readable cluster display name."
        },
        "softwareAttributes": {
          "$ref": "#/definitions/SoftwareAttributes",
          "description": "Software attributes."
        },
        "supportStatus": {
          "$ref": "#/definitions/SupportStatus",
          "description": "Software support status."
        },
        "endOfSupportDate": {
          "type": "string",
          "format": "date",
          "description": "End of support date."
        },
        "discoverySource": {
          "type": "string",
          "description": "Discovery source."
        },
        "applianceName": {
          "type": "string",
          "description": "Appliance name."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "discoveryCompleteness": {
          "$ref": "#/definitions/DiscoveryCompleteness",
          "description": "Discovery completeness level."
        },
        "isShallowCompleted": {
          "type": "boolean",
          "description": "Whether shallow discovery has completed."
        },
        "isDeepDiscoveryCompleted": {
          "type": "boolean",
          "description": "Whether deep discovery has completed."
        },
        "isKubeconfigDiscoveryCompleted": {
          "type": "boolean",
          "description": "Whether kubeconfig-based discovery has completed."
        },
        "orchestrator": {
          "$ref": "#/definitions/OrchestratorProperties",
          "description": "Container orchestrator details."
        },
        "clusterResources": {
          "$ref": "#/definitions/ClusterResources",
          "description": "Cluster-wide resource allocation."
        },
        "clusterNetworkProfile": {
          "$ref": "#/definitions/ClusterNetworkProfile",
          "description": "Cluster network profile."
        },
        "storageProfile": {
          "$ref": "#/definitions/StorageProfile",
          "description": "Cluster storage profile."
        },
        "clusterConfiguration": {
          "$ref": "#/definitions/ClusterConfiguration",
          "description": "Cluster configuration and policies."
        },
        "deprecatedApiUsage": {
          "$ref": "#/definitions/DeprecatedApiUsage",
          "description": "Deprecated K8s API usage."
        },
        "securityAssessment": {
          "$ref": "#/definitions/SecurityAssessment",
          "description": "Security assessment signals."
        },
        "deploymentAssessment": {
          "$ref": "#/definitions/DeploymentAssessment",
          "description": "Deployment assessment (Helm releases)."
        },
        "sizingQuality": {
          "$ref": "#/definitions/SizingQuality",
          "description": "Sizing quality metrics."
        },
        "storageAssessment": {
          "$ref": "#/definitions/StorageAssessmentSignals",
          "description": "Storage assessment signals."
        },
        "networkAssessment": {
          "$ref": "#/definitions/NetworkAssessmentSignals",
          "description": "Network assessment signals."
        },
        "controlPlaneTainted": {
          "type": "boolean",
          "description": "Whether control plane is tainted."
        },
        "nodeSummary": {
          "$ref": "#/definitions/NodeSummary",
          "description": "Node summary counts."
        },
        "workloadControllerSummary": {
          "$ref": "#/definitions/WorkloadControllerSummary",
          "description": "Workload controller type counts."
        },
        "clusterCapacity": {
          "$ref": "#/definitions/ClusterCapacitySummary",
          "description": "Cluster capacity and utilization summary."
        },
        "errors": {
          "type": "array",
          "description": "Discovery and validation errors.",
          "items": {
            "$ref": "#/definitions/ContainerDiscoveryError"
          },
          "x-ms-identifiers": []
        },
        "criticalErrorCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of critical errors."
        },
        "warningsCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of warnings."
        },
        "informationalMessagesCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of informational messages."
        }
      }
    },
    "ContainerCommand": {
      "type": "object",
      "description": "Container command/entrypoint.",
      "properties": {
        "entrypoint": {
          "type": "array",
          "description": "Container entrypoint.",
          "items": {
            "type": "string"
          }
        },
        "args": {
          "type": "array",
          "description": "Container arguments.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContainerDetail": {
      "type": "object",
      "description": "Container detail.",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "Container ID."
        },
        "containerName": {
          "type": "string",
          "description": "Container name."
        },
        "containerImage": {
          "$ref": "#/definitions/ContainerImageProperties",
          "description": "Container image."
        },
        "isInitContainer": {
          "type": "boolean",
          "description": "Whether this is an init container."
        },
        "resourceAllocation": {
          "$ref": "#/definitions/ContainerResourceAllocation",
          "description": "Resource allocation."
        },
        "securityContext": {
          "$ref": "#/definitions/ContainerSecurityContext",
          "description": "Security context."
        },
        "mountsDockerSocket": {
          "type": "boolean",
          "description": "Mounts docker socket."
        },
        "healthProbes": {
          "$ref": "#/definitions/ContainerHealthProbes",
          "description": "Health probes."
        },
        "ports": {
          "type": "array",
          "description": "Container port mappings.",
          "items": {
            "$ref": "#/definitions/ContainerPortMapping"
          },
          "x-ms-identifiers": []
        },
        "state": {
          "$ref": "#/definitions/ContainerState",
          "description": "Container state (standalone)."
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Container creation timestamp (standalone)."
        },
        "startedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Container start timestamp (standalone)."
        },
        "restartCount": {
          "type": "integer",
          "format": "int32",
          "description": "Container restart count (standalone)."
        },
        "restartPolicy": {
          "type": "string",
          "description": "Container restart policy (standalone)."
        },
        "containerCommand": {
          "$ref": "#/definitions/ContainerCommand",
          "description": "Container command (standalone)."
        },
        "containerLabels": {
          "type": "array",
          "description": "Container labels (standalone) as key-value pairs.",
          "items": {
            "$ref": "#/definitions/KeyValuePair"
          },
          "x-ms-identifiers": []
        },
        "volumeMounts": {
          "type": "array",
          "description": "Volume mounts (standalone).",
          "items": {
            "$ref": "#/definitions/ContainerVolumeMount"
          },
          "x-ms-identifiers": []
        },
        "networkMode": {
          "$ref": "#/definitions/NetworkMode",
          "description": "Network mode (standalone)."
        },
        "containerNetworks": {
          "type": "array",
          "description": "Container networks (standalone).",
          "items": {
            "$ref": "#/definitions/ContainerNetworkInfo"
          },
          "x-ms-identifiers": []
        },
        "resourceUsage": {
          "$ref": "#/definitions/ResourceMetrics",
          "description": "Resource usage snapshot (standalone)."
        },
        "healthCheck": {
          "$ref": "#/definitions/ContainerHealthCheck",
          "description": "Health check (standalone)."
        }
      }
    },
    "ContainerDiscoveryError": {
      "type": "object",
      "description": "Discovery or validation error for a container resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique error identifier."
        },
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "severity": {
          "$ref": "#/definitions/ErrorSeverity",
          "description": "Error severity."
        },
        "message": {
          "type": "string",
          "description": "Detailed error message."
        },
        "summaryMessage": {
          "type": "string",
          "description": "Summary error message."
        },
        "possibleCause": {
          "type": "string",
          "description": "Possible cause of the error."
        },
        "recommendedAction": {
          "type": "string",
          "description": "Recommended action to resolve."
        },
        "runAsAccountId": {
          "type": "string",
          "description": "Run-as account ID used during discovery."
        },
        "updatedTimeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when the error was last updated."
        }
      }
    },
    "ContainerGroupSignals": {
      "type": "object",
      "description": "Signals for grouping related standalone containers.",
      "properties": {
        "composeProjectLabel": {
          "type": "string",
          "description": "Docker Compose project label."
        },
        "composeServiceLabel": {
          "type": "string",
          "description": "Docker Compose service label."
        },
        "composeConfigHash": {
          "type": "string",
          "description": "Docker Compose config hash."
        },
        "podmanPodName": {
          "type": "string",
          "description": "Podman pod name."
        },
        "customAppLabels": {
          "type": "array",
          "description": "Custom application labels as key-value pairs.",
          "items": {
            "$ref": "#/definitions/KeyValuePair"
          },
          "x-ms-identifiers": []
        },
        "publishedHostPorts": {
          "type": "array",
          "description": "Published host ports.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "containerNamePattern": {
          "type": "string",
          "description": "Container name pattern."
        },
        "sharedNetworkNames": {
          "type": "array",
          "description": "Shared Docker network names for grouping.",
          "items": {
            "type": "string"
          }
        },
        "linkedContainerIds": {
          "type": "array",
          "description": "IDs of linked containers (e.g., Docker --link).",
          "items": {
            "type": "string"
          }
        },
        "portDependencies": {
          "type": "array",
          "description": "Port-based dependencies between containers.",
          "items": {
            "$ref": "#/definitions/PortDependency"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ContainerHealthCheck": {
      "type": "object",
      "description": "Container health check configuration.",
      "properties": {
        "hasHealthcheck": {
          "type": "boolean",
          "description": "Whether a health check is configured."
        },
        "healthcheckCmd": {
          "type": "string",
          "description": "Health check command."
        },
        "intervalSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Health check interval in seconds."
        },
        "timeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Health check timeout in seconds."
        },
        "retries": {
          "type": "integer",
          "format": "int32",
          "description": "Number of retries before marking unhealthy."
        }
      }
    },
    "ContainerHealthProbes": {
      "type": "object",
      "description": "Container health probes (orchestrated).",
      "properties": {
        "hasLivenessProbe": {
          "type": "boolean",
          "description": "Has liveness probe."
        },
        "hasReadinessProbe": {
          "type": "boolean",
          "description": "Has readiness probe."
        },
        "hasStartupProbe": {
          "type": "boolean",
          "description": "Has startup probe."
        }
      }
    },
    "ContainerImageProperties": {
      "type": "object",
      "description": "Container image details.",
      "properties": {
        "imageName": {
          "type": "string",
          "description": "Image name."
        },
        "imageTag": {
          "type": "string",
          "description": "Image tag."
        },
        "imageDigest": {
          "type": "string",
          "description": "Image content digest."
        },
        "imageRegistry": {
          "type": "string",
          "description": "Image registry."
        },
        "imageSizeMb": {
          "type": "number",
          "format": "double",
          "description": "Image size in MB."
        },
        "imageArchitecture": {
          "type": "string",
          "description": "Image architecture."
        },
        "osType": {
          "$ref": "#/definitions/OsType",
          "description": "Image OS type."
        }
      }
    },
    "ContainerNetworkInfo": {
      "type": "object",
      "description": "Container network connection.",
      "properties": {
        "networkName": {
          "type": "string",
          "description": "Network name."
        },
        "networkDriver": {
          "type": "string",
          "description": "Network driver."
        },
        "ipAddress": {
          "type": "string",
          "description": "Container IP address."
        }
      }
    },
    "ContainerNode": {
      "type": "object",
      "description": "The ContainerNode resource — proxy resource under ContainerSite.\nCreated for BOTH orchestrated nodes (K8s/Swarm) and standalone container hosts (Docker/Podman).\nProvides full node/host detail (labels, taints, OS info, runtime, capacity, GPU, hypervisor,\nconditions, annotations) for portal drill-down and detailed migration planning.\nLinked to parent cluster via containerClusterId property (empty for standalone hosts).",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ContainerNodeProperties",
          "description": "Container node properties."
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ContainerNodeList": {
      "type": "object",
      "description": "List of ContainerNodes.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ContainerNode items on this page",
          "items": {
            "$ref": "#/definitions/ContainerNode"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ContainerNodePatch": {
      "type": "object",
      "description": "Patch properties for ContainerNode.",
      "properties": {
        "isStandaloneHost": {
          "type": "boolean",
          "description": "Whether this is a standalone container host (no orchestrator)."
        },
        "clusterArmId": {
          "type": "string",
          "format": "arm-id",
          "description": "ARM resource ID of the parent cluster. Empty for standalone hosts.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ApplicationMigration/containerSites/containerClusters"
              }
            ]
          }
        },
        "parentClusterName": {
          "type": "string",
          "description": "Parent cluster name."
        },
        "nodeDisplayName": {
          "type": "string",
          "description": "Node display name."
        },
        "nodeRole": {
          "$ref": "#/definitions/NodeRole",
          "description": "Node role."
        },
        "availability": {
          "$ref": "#/definitions/NodeAvailability",
          "description": "Node availability status."
        },
        "hostFqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the host."
        },
        "hostPrimaryIp": {
          "type": "string",
          "description": "Primary IP address of the host."
        },
        "softwareAttributes": {
          "$ref": "#/definitions/SoftwareAttributes",
          "description": "Software attributes."
        },
        "supportStatus": {
          "$ref": "#/definitions/SupportStatus",
          "description": "Support status."
        },
        "endOfSupportDate": {
          "type": "string",
          "format": "date",
          "description": "End of support date."
        },
        "discoveryCompleteness": {
[...]
