{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ResourceNotifications Management Service",
    "version": "2026-03-01-preview",
    "description": "Microsoft.ResourceNotifications Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ResourceSubscriptions"
    },
    {
      "name": "Destinations"
    },
    {
      "name": "NotificationsSessions"
    },
    {
      "name": "Namespaces"
    },
    {
      "name": "PublisherSettingsOperations"
    },
    {
      "name": "ProviderSettingsOperations"
    },
    {
      "name": "TypeSettings"
    },
    {
      "name": "AllowedPublishers"
    },
    {
      "name": "IngestionUnits"
    },
    {
      "name": "Flows"
    }
  ],
  "paths": {
    "/providers/Microsoft.ResourceNotifications/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations - List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/flows": {
      "get": {
        "operationId": "Flows_ListBySubscription",
        "tags": [
          "Flows"
        ],
        "description": "List flows in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FlowListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Flows - ListBySubscription": {
            "$ref": "./examples/Flows_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/ingestionUnits": {
      "get": {
        "operationId": "IngestionUnits_ListBySubscription",
        "tags": [
          "IngestionUnits"
        ],
        "description": "List ingestion units in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestionUnitListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestionUnits - ListBySubscription": {
            "$ref": "./examples/IngestionUnits_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/locations/{locationName}/notificationSessions": {
      "get": {
        "operationId": "NotificationsSessions_ListByLocation",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Lists notification sessions in a location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List notification sessions in a location": {
            "$ref": "./examples/NotificationsSessions_ListByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/locations/{locationName}/notificationSessions/{notificationSessionName}": {
      "get": {
        "operationId": "NotificationsSessions_Get",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Gets a notification session",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionName",
            "in": "path",
            "description": "The name of the notification session",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a notification session": {
            "$ref": "./examples/NotificationsSessions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "NotificationsSessions_CreateOrUpdate",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Creates or updates a notification session",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionName",
            "in": "path",
            "description": "The name of the notification session",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NotificationSessionResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            }
          },
          "201": {
            "description": "Resource 'NotificationSessionResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NotificationSessionResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a notification session": {
            "$ref": "./examples/NotificationsSessions_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "NotificationsSessions_Delete",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Deletes a notification session",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionName",
            "in": "path",
            "description": "The name of the notification session",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Close a notification session": {
            "$ref": "./examples/NotificationsSessions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/locations/{locationName}/notificationSessions/{notificationSessionName}/getSessionDetails": {
      "post": {
        "operationId": "NotificationsSessions_GetSessionDetails",
        "tags": [
          "NotificationsSessions"
        ],
        "description": "Gets session details for connecting to a notification session",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The location name",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]+$"
          },
          {
            "name": "notificationSessionName",
            "in": "path",
            "description": "The name of the notification session",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{1,62}[a-zA-Z0-9]$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetSessionDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GetNotificationSessionDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get session details": {
            "$ref": "./examples/NotificationsSessions_GetSessionDetails.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces": {
      "get": {
        "operationId": "Namespaces_List",
        "tags": [
          "Namespaces"
        ],
        "description": "List namespaces in subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces - List": {
            "$ref": "./examples/Namespaces_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces/{namespaceName}": {
      "get": {
        "operationId": "Namespaces_Get",
        "tags": [
          "Namespaces"
        ],
        "description": "Get a namespace. Returns partner details derived from ServiceTree and ARM RP registration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Namespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Namespaces - Get": {
            "$ref": "./examples/Namespaces_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces/{namespaceName}/providerSettings": {
      "get": {
        "operationId": "ProviderSettingsOperations_ListByParent",
        "tags": [
          "ProviderSettingsOperations"
        ],
        "description": "List provider settings under a namespace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderSettingsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderSettingsOperations - ListByParent": {
            "$ref": "./examples/ProviderSettingsOperations_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces/{namespaceName}/providerSettings/default": {
      "get": {
        "operationId": "ProviderSettingsOperations_Get",
        "tags": [
          "ProviderSettingsOperations"
        ],
        "description": "Get provider settings for this namespace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProviderSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderSettingsOperations - Get": {
            "$ref": "./examples/ProviderSettingsOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ProviderSettingsOperations_CreateOrUpdate",
        "tags": [
          "ProviderSettingsOperations"
        ],
        "description": "Create or update provider settings.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProviderSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProviderSettings' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderSettings"
            }
          },
          "201": {
            "description": "Resource 'ProviderSettings' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProviderSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderSettingsOperations - CreateOrUpdate": {
            "$ref": "./examples/ProviderSettingsOperations_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "ProviderSettingsOperations_Delete",
        "tags": [
          "ProviderSettingsOperations"
        ],
        "description": "Delete provider settings.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProviderSettingsOperations - Delete": {
            "$ref": "./examples/ProviderSettingsOperations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces/{namespaceName}/providerSettings/default/types": {
      "get": {
        "operationId": "TypeSettings_ListByParent",
        "tags": [
          "TypeSettings"
        ],
        "description": "List all type settings under provider settings.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TypeSettingListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TypeSettings - ListByParent": {
            "$ref": "./examples/TypeSettings_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces/{namespaceName}/providerSettings/default/types/{typeName}": {
      "get": {
        "operationId": "TypeSettings_Get",
        "tags": [
          "TypeSettings"
        ],
        "description": "Get a type setting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "typeName",
            "in": "path",
            "description": "Fully qualified resource type (e.g., 'Microsoft.Compute/virtualMachines').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.%/]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TypeSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TypeSettings - Get": {
            "$ref": "./examples/TypeSettings_Get.json"
          }
        }
      },
      "put": {
        "operationId": "TypeSettings_CreateOrUpdate",
        "tags": [
          "TypeSettings"
        ],
        "description": "Create or update a type setting. Type owner sets validationPolicy here.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "typeName",
            "in": "path",
            "description": "Fully qualified resource type (e.g., 'Microsoft.Compute/virtualMachines').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.%/]{1,128}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TypeSetting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TypeSetting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TypeSetting"
            }
          },
          "201": {
            "description": "Resource 'TypeSetting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/TypeSetting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TypeSettings - CreateOrUpdate": {
            "$ref": "./examples/TypeSettings_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "TypeSettings_Delete",
        "tags": [
          "TypeSettings"
        ],
        "description": "Delete a type setting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "typeName",
            "in": "path",
            "description": "Fully qualified resource type (e.g., 'Microsoft.Compute/virtualMachines').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.%/]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TypeSettings - Delete": {
            "$ref": "./examples/TypeSettings_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces/{namespaceName}/providerSettings/default/types/{typeName}/allowedPublishers": {
      "get": {
        "operationId": "AllowedPublishers_ListByParent",
        "tags": [
          "AllowedPublishers"
        ],
        "description": "List all allowed publishers for this type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "typeName",
            "in": "path",
            "description": "Fully qualified resource type (e.g., 'Microsoft.Compute/virtualMachines').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.%/]{1,128}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AllowedPublisherResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AllowedPublishers - ListByParent": {
            "$ref": "./examples/AllowedPublishers_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces/{namespaceName}/providerSettings/default/types/{typeName}/allowedPublishers/{publisherNamespace}": {
      "get": {
        "operationId": "AllowedPublishers_Get",
        "tags": [
          "AllowedPublishers"
        ],
        "description": "Get an allowed publisher entry.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "typeName",
            "in": "path",
            "description": "Fully qualified resource type (e.g., 'Microsoft.Compute/virtualMachines').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.%/]{1,128}$"
          },
          {
            "name": "publisherNamespace",
            "in": "path",
            "description": "Publisher namespace being granted permission (e.g., 'Microsoft.Advisor'). Use '*' for wildcard (extension types).",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$|^\\*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AllowedPublisherResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AllowedPublishers - Get": {
            "$ref": "./examples/AllowedPublishers_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AllowedPublishers_CreateOrUpdate",
        "tags": [
          "AllowedPublishers"
        ],
        "description": "Grant a publisher permission to publish this type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "typeName",
            "in": "path",
            "description": "Fully qualified resource type (e.g., 'Microsoft.Compute/virtualMachines').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.%/]{1,128}$"
          },
          {
            "name": "publisherNamespace",
            "in": "path",
            "description": "Publisher namespace being granted permission (e.g., 'Microsoft.Advisor'). Use '*' for wildcard (extension types).",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$|^\\*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AllowedPublisherResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AllowedPublisherResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AllowedPublisherResource"
            }
          },
          "201": {
            "description": "Resource 'AllowedPublisherResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AllowedPublisherResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AllowedPublishers - CreateOrUpdate": {
            "$ref": "./examples/AllowedPublishers_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "AllowedPublishers_Delete",
        "tags": [
          "AllowedPublishers"
        ],
        "description": "Revoke a publisher's permission to publish this type.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "typeName",
            "in": "path",
            "description": "Fully qualified resource type (e.g., 'Microsoft.Compute/virtualMachines').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9.%/]{1,128}$"
          },
          {
            "name": "publisherNamespace",
            "in": "path",
            "description": "Publisher namespace being granted permission (e.g., 'Microsoft.Advisor'). Use '*' for wildcard (extension types).",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$|^\\*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AllowedPublishers - Delete": {
            "$ref": "./examples/AllowedPublishers_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces/{namespaceName}/publisherSettings": {
      "get": {
        "operationId": "PublisherSettingsOperations_ListByParent",
        "tags": [
          "PublisherSettingsOperations"
        ],
        "description": "List publisher settings under a namespace.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublisherSettingsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PublisherSettingsOperations - ListByParent": {
            "$ref": "./examples/PublisherSettingsOperations_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/namespaces/{namespaceName}/publisherSettings/{settingName}": {
      "get": {
        "operationId": "PublisherSettingsOperations_Get",
        "tags": [
          "PublisherSettingsOperations"
        ],
        "description": "Get a publisher setting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "Publisher setting name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PublisherSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PublisherSettingsOperations - Get": {
            "$ref": "./examples/PublisherSettingsOperations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PublisherSettingsOperations_CreateOrUpdate",
        "tags": [
          "PublisherSettingsOperations"
        ],
        "description": "Create or update a publisher setting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "Publisher setting name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublisherSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PublisherSettings' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PublisherSettings"
            }
          },
          "201": {
            "description": "Resource 'PublisherSettings' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PublisherSettings"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PublisherSettingsOperations - CreateOrUpdate": {
            "$ref": "./examples/PublisherSettingsOperations_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "PublisherSettingsOperations_Delete",
        "tags": [
          "PublisherSettingsOperations"
        ],
        "description": "Delete a publisher setting.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "Publisher namespace name (e.g., 'Microsoft.Compute').",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*(\\.[A-Za-z][A-Za-z0-9]*)*$"
          },
          {
            "name": "settingName",
            "in": "path",
            "description": "Publisher setting name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{1,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PublisherSettingsOperations - Delete": {
            "$ref": "./examples/PublisherSettingsOperations_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ResourceNotifications/resourceSubscriptions": {
      "get": {
        "operationId": "ResourceSubscriptions_ListBySubscription",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Lists all resource subscriptions in a subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all resource subscriptions in a subscription": {
            "$ref": "./examples/ResourceSubscriptions_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/flows": {
      "get": {
        "operationId": "Flows_ListByResourceGroup",
        "tags": [
          "Flows"
        ],
        "description": "List flows in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FlowListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Flows - ListByResourceGroup": {
            "$ref": "./examples/Flows_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/flows/{flowName}": {
      "get": {
        "operationId": "Flows_Get",
        "tags": [
          "Flows"
        ],
        "description": "Get a flow.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "flowName",
            "in": "path",
            "description": "Flow name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Flow"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Flows - Get DiscoveryQuery": {
            "$ref": "./examples/Flows_Get_DiscoveryQuery.json"
          },
          "Flows - Get DiscoveryStreaming": {
            "$ref": "./examples/Flows_Get_DiscoveryStreaming.json"
          },
          "Flows - Get FullSync": {
            "$ref": "./examples/Flows_Get_FullSync.json"
          }
        }
      },
      "put": {
        "operationId": "Flows_CreateOrUpdate",
        "tags": [
          "Flows"
        ],
        "description": "Create or update a flow. Asynchronous operation. Use PUT to change flow properties including subtype-specific fields.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "flowName",
            "in": "path",
            "description": "Flow name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Flow"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Flow' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Flow"
            }
          },
          "201": {
            "description": "Resource 'Flow' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Flow"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Flows - CreateOrUpdate DiscoveryQuery": {
            "$ref": "./examples/Flows_CreateOrUpdate_DiscoveryQuery.json"
          },
          "Flows - CreateOrUpdate DiscoveryStreaming": {
            "$ref": "./examples/Flows_CreateOrUpdate_DiscoveryStreaming.json"
          },
          "Flows - CreateOrUpdate FullSync": {
            "$ref": "./examples/Flows_CreateOrUpdate_FullSync.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Flows_Update",
        "tags": [
          "Flows"
        ],
        "description": "Update tags and managed identity on a flow.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "flowName",
            "in": "path",
            "description": "Flow name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FlowUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Flow"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Flows - Update": {
            "$ref": "./examples/Flows_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Flows_Delete",
        "tags": [
          "Flows"
        ],
        "description": "Delete a flow. Asynchronous operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "flowName",
            "in": "path",
            "description": "Flow name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Flows - Delete": {
            "$ref": "./examples/Flows_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/ingestionUnits": {
      "get": {
        "operationId": "IngestionUnits_ListByResourceGroup",
        "tags": [
          "IngestionUnits"
        ],
        "description": "List ingestion units in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestionUnitListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestionUnits - ListByResourceGroup": {
            "$ref": "./examples/IngestionUnits_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/ingestionUnits/{unitName}": {
      "get": {
        "operationId": "IngestionUnits_Get",
        "tags": [
          "IngestionUnits"
        ],
        "description": "Get an ingestion unit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "unitName",
            "in": "path",
            "description": "Ingestion unit name (e.g., 'eastus-primary').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestionUnit"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestionUnits - Get": {
            "$ref": "./examples/IngestionUnits_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IngestionUnits_CreateOrUpdate",
        "tags": [
          "IngestionUnits"
        ],
        "description": "Create or update an ingestion unit. Asynchronous operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "unitName",
            "in": "path",
            "description": "Ingestion unit name (e.g., 'eastus-primary').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IngestionUnit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IngestionUnit' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IngestionUnit"
            }
          },
          "201": {
            "description": "Resource 'IngestionUnit' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IngestionUnit"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestionUnits - CreateOrUpdate": {
            "$ref": "./examples/IngestionUnits_CreateOrUpdate.json"
          },
          "IngestionUnits - CreateOrUpdate Flow": {
            "$ref": "./examples/IngestionUnits_CreateOrUpdate_Flow.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "IngestionUnits_Update",
        "tags": [
          "IngestionUnits"
        ],
        "description": "Update tags on an ingestion unit.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "unitName",
            "in": "path",
            "description": "Ingestion unit name (e.g., 'eastus-primary').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IngestionUnitTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngestionUnit"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestionUnits - Update Tags": {
            "$ref": "./examples/IngestionUnits_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "IngestionUnits_Delete",
        "tags": [
          "IngestionUnits"
        ],
        "description": "Delete an ingestion unit. Asynchronous operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "unitName",
            "in": "path",
            "description": "Ingestion unit name (e.g., 'eastus-primary').",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]{0,62}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IngestionUnits - Delete": {
            "$ref": "./examples/IngestionUnits_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/resourceSubscriptions": {
      "get": {
        "operationId": "ResourceSubscriptions_ListByResourceGroup",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Lists all resource subscriptions in a resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceSubscriptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all resource subscriptions in a resource group": {
            "$ref": "./examples/ResourceSubscriptions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/resourceSubscriptions/{subscriptionRuleName}": {
      "get": {
        "operationId": "ResourceSubscriptions_Get",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Gets a resource subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a resource subscription with cloud scope and partitioning": {
            "$ref": "./examples/ResourceSubscriptions_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ResourceSubscriptions_CreateOrUpdate",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Creates or updates a resource subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ResourceSubscription' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            }
          },
          "201": {
            "description": "Resource 'ResourceSubscription' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a resource subscription with tenant scope": {
            "$ref": "./examples/ResourceSubscriptions_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ResourceSubscriptions_Update",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Updates a resource subscription (supports tags and property updates)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceSubscriptionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResourceSubscription"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a resource subscription": {
            "$ref": "./examples/ResourceSubscriptions_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ResourceSubscriptions_Delete",
        "tags": [
          "ResourceSubscriptions"
        ],
        "description": "Deletes a resource subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a resource subscription": {
            "$ref": "./examples/ResourceSubscriptions_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/resourceSubscriptions/{subscriptionRuleName}/destinations": {
      "get": {
        "operationId": "ResourceSubscriptionDestinations_List",
        "tags": [
          "Destinations"
        ],
        "description": "Lists all destinations for a resource subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DestinationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all destinations for a resource subscription": {
            "$ref": "./examples/ResourceSubscriptionDestinations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ResourceNotifications/resourceSubscriptions/{subscriptionRuleName}/destinations/{destinationName}": {
      "get": {
        "operationId": "ResourceSubscriptionDestinations_Get",
        "tags": [
          "Destinations"
        ],
        "description": "Gets a destination",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "destinationName",
            "in": "path",
            "description": "The name of the destination",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Destination"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a storage account destination": {
            "$ref": "./examples/ResourceSubscriptionDestinations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ResourceSubscriptionDestinations_CreateOrUpdate",
        "tags": [
          "Destinations"
        ],
        "description": "Creates or updates a destination",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "destinationName",
            "in": "path",
            "description": "The name of the destination",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Destination"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Destination' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Destination"
            }
          },
          "201": {
            "description": "Resource 'Destination' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Destination"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a fabric table destination": {
            "$ref": "./examples/ResourceSubscriptionDestinations_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "ResourceSubscriptionDestinations_Delete",
        "tags": [
          "Destinations"
        ],
        "description": "Deletes a destination",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "subscriptionRuleName",
            "in": "path",
            "description": "The name of the resource subscription",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "destinationName",
            "in": "path",
            "description": "The name of the destination",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a destination": {
            "$ref": "./examples/ResourceSubscriptionDestinations_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AadAuthorization": {
      "type": "object",
      "description": "AAD authorization with per-application scoping.",
      "properties": {
        "applications": {
          "type": "array",
          "description": "Authorized AAD applications.",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/AuthorizedApplication"
          },
          "x-ms-identifiers": [
            "applicationId"
          ]
        }
      },
      "required": [
        "applications"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Authorization"
        }
      ],
      "x-ms-discriminator-value": "AAD"
    },
    "AlertingInfo": {
      "type": "object",
      "description": "Alerting configuration for discovery pipelines.",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Alert severity level."
        },
        "notificationEmail": {
          "type": "string",
          "description": "Alert notification email."
        }
      }
    },
    "AllowedPublisherProperties": {
      "type": "object",
      "description": "Properties of an AllowedPublisher entry.",
      "properties": {
        "validationPolicy": {
          "$ref": "#/definitions/ValidationPolicy",
          "description": "Optional validation policy override for this specific delegation grant."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Read-only provisioning state.",
          "readOnly": true
        }
      }
    },
    "AllowedPublisherResource": {
      "type": "object",
      "description": "Cross-publisher permission grant. Type owner allows another namespace to publish this type, and controls whether that publisher's data flows to ARG.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AllowedPublisherProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AllowedPublisherResourceListResult": {
      "type": "object",
      "description": "The response of a AllowedPublisherResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AllowedPublisherResource items on this page",
          "items": {
            "$ref": "#/definitions/AllowedPublisherResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ArnLocationPartitioningConfiguration": {
      "type": "object",
      "description": "ARN location partitioning configuration",
      "properties": {
        "partitions": {
          "type": "array",
          "description": "The partitions list",
          "items": {
            "$ref": "#/definitions/Partition"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "partitions"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/PartitioningConfiguration"
        }
      ],
      "x-ms-discriminator-value": "arnLocation"
    },
    "Authorization": {
      "type": "object",
      "description": "Base model for polymorphic authorization. Discriminated on 'kind'.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/AuthorizationKind",
          "description": "Discriminator: 'AAD' or 'DSTS'."
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "AuthorizationKind": {
      "type": "string",
      "description": "Authorization kind.",
      "enum": [
        "AAD",
        "DSTS"
      ],
      "x-ms-enum": {
        "name": "AuthorizationKind",
        "modelAsString": true,
        "values": [
          {
            "name": "Aad",
            "value": "AAD",
            "description": "Azure Active Directory authorization."
          },
          {
            "name": "Dsts",
            "value": "DSTS",
            "description": "DSTS claim-based authorization."
          }
        ]
      }
    },
    "AuthorizedApplication": {
      "type": "object",
      "description": "An authorized AAD application.",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "AAD application (client) ID."
        },
        "scopes": {
          "type": "array",
          "description": "Environment scopes. Empty = all.",
          "items": {
            "type": "string"
          }
        },
        "allowedTenantIds": {
          "type": "array",
          "description": "Allowed tenant IDs. Empty = all.",
          "items": {
            "type": "string"
          }
        },
        "allowedSubscriptionIds": {
          "type": "array",
          "description": "Allowed subscription IDs. Empty = all.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "applicationId"
      ]
    },
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "Azure.ResourceManager.CommonTypes.ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities)",
      "properties": {
        "type": {
          "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "../../../../../common-types/resource-management/v6/managedidentity.json#/definitions/UserAssignedIdentity",
            "x-nullable": true
          }
        }
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BatchingPolicy": {
      "type": "object",
      "description": "Base properties for batching policy configuration",
      "properties": {
        "kind": {
          "$ref": "#/definitions/BatchingPolicyKind",
          "description": "The kind of batching policy"
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "BatchingPolicyKind": {
      "type": "string",
      "description": "Batching policy kind discriminator",
      "enum": [
        "minCountMaxDelay"
      ],
      "x-ms-enum": {
        "name": "BatchingPolicyKind",
        "modelAsString": true,
        "values": [
          {
            "name": "minCountMaxDelay",
            "value": "minCountMaxDelay",
            "description": "Min count max delay batching policy"
          }
        ]
      }
    },
    "CapacityOverrides": {
      "type": "object",
      "description": "Capacity overrides — fine-grained overrides for push-tier IngestionUnits. Each field must be ≤ the SKU tier ceiling. If omitted entirely, all values default from the SKU tier.",
      "properties": {
        "maxRequestsPerMinute": {
          "type": "integer",
          "format": "int32",
          "description": "Max requests/minute globally. Must be ≤ SKU tier ceiling. Default: tier value.",
          "minimum": 20000,
          "maximum": 5000000
        },
        "maxRequestsPerMinutePerRegion": {
          "type": "integer",
          "format": "int32",
          "description": "Max requests/minute/region. Must be ≤ maxRequestsPerMinute.",
          "minimum": 20000,
          "maximum": 5000000
        },
        "burstAllowance": {
          "type": "number",
          "format": "double",
          "description": "Burst multiplier allowing short spikes above the RPM limit. Default: 1.5.",
          "default": 1.5,
          "minimum": 1,
          "maximum": 5
        }
      }
    },
    "CloudScope": {
      "type": "object",
      "description": "Cloud scope configuration",
      "properties": {
        "providerNamespace": {
          "type": "string",
          "description": "The provider namespace populated by caller"
        },
        "appId": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "The application ID extracted from request, checked against manifest",
          "readOnly": true
        }
      },
      "required": [
        "providerNamespace"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Scope"
        }
      ],
      "x-ms-discriminator-value": "cloud"
    },
    "CredentialDetails": {
      "type": "object",
      "description": "Credential details for Kusto cluster access.",
      "properties": {
        "managedIdentity": {
          "type": "string",
          "description": "User-assigned managed identity resource ID."
        },
        "tenantId": {
          "type": "string",
          "description": "Tenant ID for federated identity credential (FIC) mode."
        },
        "applicationId": {
          "type": "string",
          "description": "Application ID for federated identity credential (FIC) mode."
        }
      },
      "required": [
        "managedIdentity"
      ]
    },
    "Destination": {
      "type": "object",
      "description": "Destination resource for Azure Resource Notifications",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DestinationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DestinationKind": {
      "type": "string",
      "description": "Destination kind discriminator",
      "enum": [
        "fabricTable",
        "storageAccount"
      ],
      "x-ms-enum": {
        "name": "DestinationKind",
        "modelAsString": true,
        "values": [
          {
[...]
