{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Copilot Service",
    "version": "2026-05-01-preview",
    "description": "Microsoft.Copilot Resource Provider API Reference",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "ChatAgents"
    }
  ],
  "paths": {
    "/providers/Microsoft.Copilot/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Copilot/chatAgents": {
      "get": {
        "operationId": "ChatAgents_ListBySubscription",
        "tags": [
          "ChatAgents"
        ],
        "description": "List ChatAgentResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChatAgentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChatAgents_ListBySubscription": {
            "$ref": "./examples/ChatAgents_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Copilot/chatAgents": {
      "get": {
        "operationId": "ChatAgents_ListByResourceGroup",
        "tags": [
          "ChatAgents"
        ],
        "description": "List ChatAgentResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChatAgentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChatAgents_ListByResourceGroup": {
            "$ref": "./examples/ChatAgents_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Copilot/chatAgents/{chatAgentName}": {
      "get": {
        "operationId": "ChatAgents_Get",
        "tags": [
          "ChatAgents"
        ],
        "description": "Get a ChatAgentResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "chatAgentName",
            "in": "path",
            "description": "The name of the chat agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChatAgentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChatAgents_Get": {
            "$ref": "./examples/ChatAgents_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ChatAgents_CreateOrUpdate",
        "tags": [
          "ChatAgents"
        ],
        "description": "Create a ChatAgentResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "chatAgentName",
            "in": "path",
            "description": "The name of the chat agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,63}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChatAgentResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChatAgentResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChatAgentResource"
            }
          },
          "201": {
            "description": "Resource 'ChatAgentResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChatAgentResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChatAgents_CreateOrUpdate": {
            "$ref": "./examples/ChatAgents_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ChatAgents_Update",
        "tags": [
          "ChatAgents"
        ],
        "description": "Update a ChatAgentResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "chatAgentName",
            "in": "path",
            "description": "The name of the chat agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,63}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChatAgentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChatAgentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChatAgents_Update": {
            "$ref": "./examples/ChatAgents_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ChatAgents_Delete",
        "tags": [
          "ChatAgents"
        ],
        "description": "Delete a ChatAgentResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "chatAgentName",
            "in": "path",
            "description": "The name of the chat agent.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]{2,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChatAgents_Delete": {
            "$ref": "./examples/ChatAgents_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AgentIdentityConfiguration": {
      "type": "object",
      "description": "Read-only identity references provisioned by the service from the agent blueprint. Links the chat agent's managed identity to an Entra Agent Identity.",
      "properties": {
        "agentIdentityId": {
          "type": "string",
          "description": "The Entra Agent Identity ID.",
          "readOnly": true
        },
        "agentIdentityBlueprintId": {
          "type": "string",
          "description": "The blueprint app registration ID that this agent identity was created from.",
          "readOnly": true
        },
        "agentIdentityBlueprintObjectId": {
          "type": "string",
          "description": "The service principal ID for the blueprint. Same value across all chat agents within a tenant.",
          "readOnly": true
        }
      }
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "BaseTypeEntry": {
      "type": "object",
      "description": "The properties of ARM baseType",
      "properties": {
        "baseType": {
          "type": "string",
          "description": "The base type for this resource."
        },
        "version": {
          "type": "string",
          "description": "The version of the base type for this resource."
        }
      },
      "required": [
        "baseType",
        "version"
      ]
    },
    "ChatAgentProperties": {
      "type": "object",
      "description": "The chat agent resource properties. All properties are read-only and defined by the resource provider.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the chat agent.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "[Agent Base Type] A description of what this chat agent does.",
          "readOnly": true
        },
        "baseTypes": {
          "type": "array",
          "description": "[Agent Base Type] The base types that classify this resource's capabilities. Always includes 'agent'. Set by the service for ARM Agent Base Type cross-RP policy targeting.",
          "items": {
            "$ref": "#/definitions/BaseTypeEntry"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "tools": {
          "type": "array",
          "description": "[Agent Base Type] Declarative list of tools and capabilities enabled for the chat agent.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "model": {
          "type": "string",
          "description": "[Agent Base Type] The LLM or model identifier used by the chat agent.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last provisioning operation performed on the resource.",
          "readOnly": true
        },
        "agentIdentity": {
          "$ref": "#/definitions/AgentIdentityConfiguration",
          "description": "The Entra Agent Identity configuration for this chat agent. Provisioned by the service from the agent blueprint during resource creation.",
          "readOnly": true
        }
      }
    },
    "ChatAgentResource": {
      "type": "object",
      "description": "A resource-group-scoped chat agent under Microsoft.Copilot. Supports managed identity for autonomous workload execution.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ChatAgentProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ChatAgentResourceListResult": {
      "type": "object",
      "description": "The response of a ChatAgentResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ChatAgentResource items on this page",
          "items": {
            "$ref": "#/definitions/ChatAgentResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ChatAgentUpdate": {
      "type": "object",
      "description": "The properties of a chat agent that can be updated. Only tags and identity are mutable; all resource properties are read-only.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "type": "object",
          "description": "The managed service identities assigned to this resource.",
          "properties": {
            "type": {
              "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentityType",
              "description": "The type of managed identity assigned to this resource."
            },
            "userAssignedIdentities": {
              "type": "object",
              "description": "The identities assigned to this resource by the user.",
              "additionalProperties": {
                "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity",
                "x-nullable": true
              }
            }
          }
        }
      }
    }
  },
  "parameters": {}
}
